In [61]:
import pandas as pd
import random
import numpy as np
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

fake_nulls = ["N/A", "NULL", "na", "---", None, "", " "]

def messy_name(name):
    styles = [
        name.lower(),
        name.upper(),
        name.title(),
        name.replace("a", "@").replace("i", "1"),
        f"  {name}  ",
        name[:2] + random.choice(["#", "$", "%", "&", "*"]) + name[2:],
        name + random.choice(["123", "_x", "??", "ðŸ”¥", "ðŸ˜­"]),
        "".join(random.sample(name, len(name))) if len(name) > 3 else name,
        random.choice(fake_nulls)
    ]
    return random.choice(styles)

def messy_city(city):
    styles = [
        city,
        city.upper(),
        " " + city.lower(),
        city.replace("a", "@").replace("e", "3"),
        city + random.choice([" ", "  ", "ðŸ”¥", "###"]),
        "".join(random.sample(city, len(city))),
        random.choice(fake_nulls),
    ]
    return random.choice(styles)

def messy_phone():
    num = ''.join([str(random.randint(0, 9)) for _ in range(10)])

    formats = [
        "+91" + num,
        "91-" + num,
        "+91 " + num[:5] + " " + num[5:],
        num,
        num[:3] + "-" + num[3:7] + "-" + num[7:],
        "(+91)" + num,
        "+91" + num + random.choice(["abc", "*", "ðŸ”¥"]),
        random.choice(fake_nulls),
        str(random.randint(1000, 9999)),  
    ]
    return random.choice(formats)

def messy_date():
    start = datetime(1980, 1, 1)
    end = datetime(2005, 12, 31)
    random_days = random.randint(0, (end - start).days)
    d = start + timedelta(days=random_days)

    formats = [
        d.strftime("%Y-%m-%d"),
        d.strftime("%d/%m/%Y"),
        d.strftime("%m-%d-%y"),
        d.strftime("%Y/%b/%d"),
        d.strftime("%d %B %Y"),
        str(d.timestamp()),  
        "32/13/9999",  
        random.choice(fake_nulls),
        d.strftime("%d-%m-%Y") + "ðŸ”¥",
    ]
    return random.choice(formats)


data = {
    "name": [messy_name(random.choice(names)) for _ in range(60)],
    "city": [messy_city(random.choice(cities)) for _ in range(60)],
    "phone_number": [messy_phone() for _ in range(60)],
    "date_of_birth": [messy_date() for _ in range(60)]
}

df = pd.DataFrame(data)

# Add duplicate rows intentionally
df.loc[61] = df.loc[5]
df.loc[62] = df.loc[10]

df

          name        city     phone_number      date_of_birth
0        POOJA        Pun3  +91 02069 26623  10 September 1991
1     Anjali     Bangalore   +911371902217ðŸ”¥           06-23-04
2        Paooj    LucknowðŸ”¥   +919714348190*        552594600.0
3      An#jali   HYDERABAD    91-4232055542        16 May 1987
4        K@r@n     Lucknow       8625124802                ---
..         ...         ...              ...                ...
57       KARAN     Delhi                            2005-12-06
58      Ro&hit   bangalore              N/A         2004-03-01
59    Karan123       D3lhi             NULL                N/A
61          na     Kolkata   +919566779939ðŸ”¥        724530600.0
62    Anjali         D3lhi               na         24/09/1983

[62 rows x 4 columns]

In [62]:
df

          name        city     phone_number      date_of_birth
0        POOJA        Pun3  +91 02069 26623  10 September 1991
1     Anjali     Bangalore   +911371902217ðŸ”¥           06-23-04
2        Paooj    LucknowðŸ”¥   +919714348190*        552594600.0
3      An#jali   HYDERABAD    91-4232055542        16 May 1987
4        K@r@n     Lucknow       8625124802                ---
..         ...         ...              ...                ...
57       KARAN     Delhi                            2005-12-06
58      Ro&hit   bangalore              N/A         2004-03-01
59    Karan123       D3lhi             NULL                N/A
61          na     Kolkata   +919566779939ðŸ”¥        724530600.0
62    Anjali         D3lhi               na         24/09/1983

[62 rows x 4 columns]

In [63]:
import pandas as pd
import random
import numpy as np
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']
fake_nulls = ["N/A", "NULL", "na", "---", None, "", " "]
genders = ["M", "F", "Male", "Female", "Unknown", "??", "ðŸ”¥", None]

def messy_name(name):
    styles = [
        name.lower(), name.upper(), name.title(),
        name.replace("a", "@").replace("i", "1"),
        f"  {name}  ",
        name + random.choice(["123", "_x", "??", "ðŸ”¥", "ðŸ˜­"]),
        "".join(random.sample(name, len(name))) if len(name) > 3 else name,
        random.choice(fake_nulls)
    ]
    return random.choice(styles)

def messy_city(city):
    styles = [
        city, city.upper(), city.lower(),
        city.replace("a", "@").replace("e", "3"),
        " " + city, city + "  ",
        "".join(random.sample(city, len(city))),
        random.choice(fake_nulls)
    ]
    return random.choice(styles)

def messy_phone():
    num = ''.join([str(random.randint(0,9)) for _ in range(10)])
    formats = [
        "+91" + num, "91-" + num, num,
        "+91 " + num[:5] + " " + num[5:],
        "(+91)" + num,
        num[:3] + "-" + num[3:7] + "-" + num[7:],
        "+91" + num + random.choice(["abc", "*", "ðŸ”¥"]),
        random.choice(fake_nulls), 
        str(random.randint(1000,9999))
    ]
    return random.choice(formats)

def messy_date():
    start = datetime(1980,1,1)
    end = datetime(2005,12,31)
    rd = start + timedelta(days=random.randint(0,(end-start).days))
    formats = [
        rd.strftime("%Y-%m-%d"),
        rd.strftime("%d/%m/%Y"),
        rd.strftime("%m-%d-%y"),
        rd.strftime("%Y/%b/%d"),
        rd.strftime("%d %B %Y"),
        str(rd.timestamp()),
        "32/13/9999",
        random.choice(fake_nulls),
        rd.strftime("%d-%m-%Y") + "ðŸ”¥"
    ]
    return random.choice(formats)

def messy_email(name):
    name_clean = name.lower().replace(" ", "").replace("ðŸ”¥", "").replace("ðŸ˜­", "")
    emails = [
        f"{name_clean}@gmail.com",
        f"{name_clean}{random.randint(1,99)}@yahoo.in",
        f"{name_clean}.com",
        f"{name_clean}@gmail",
        f"{name_clean}@.com",
        f" {name_clean}@gmail.com ",
        random.choice(fake_nulls),
        f"{name_clean}@gmail.comðŸ”¥"
    ]
    return random.choice(emails)

def messy_salary():
    s = random.choice([
        random.randint(-5000, 200000),
        round(random.uniform(1000, 99999), 2),
        "10000Rs",
        "50k",
        "---",
        None,
        "N/A",
        random.choice(["abc", "??", "ðŸ”¥"]),
    ])
    return s

def messy_pincode():
    pin = str(random.randint(100000, 999999))
    styles = [
        pin,
        pin[:3] + " " + pin[3:],
        pin + random.choice(["ðŸ”¥", "", "??"]),
        random.choice(fake_nulls),
        str(random.randint(1000,9999))
    ]
    return random.choice(styles)

def messy_address(city):
    base = random.choice([
        f"{random.randint(1,300)}, {city}",
        f"Street {random.randint(1,50)} @ {city}",
        f"{city} Road ðŸ”¥",
        random.choice(fake_nulls),
        f"{city} - Sector {random.randint(1,20)}",
    ])
    return base


rows = 250

data = {
    "name": [messy_name(random.choice(names)) for _ in range(rows)],
    "city": [messy_city(random.choice(cities)) for _ in range(rows)],
    "phone_number": [messy_phone() for _ in range(rows)],
    "date_of_birth": [messy_date() for _ in range(rows)],
    "email": [messy_email(random.choice(names)) for _ in range(rows)],
    "gender": [random.choice(genders) for _ in range(rows)],
    "salary": [messy_salary() for _ in range(rows)],
    "pincode": [messy_pincode() for _ in range(rows)],
    "address": [messy_address(random.choice(cities)) for _ in range(rows)]
}

df = pd.DataFrame(data)

# Duplicate rows intentionally
df.loc[251] = df.loc[10]
df.loc[252] = df.loc[20]

df

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
0,aojPo,Ahmedabad,718-5490-189,27-05-1991ðŸ”¥,karan.com,Unknown,N/A,467 188,Jaipur - Sector 4
1,Pr1y@,kolkata,8384039328,11-28-86,NULL,ðŸ”¥,---,265 007,Hyderabad Road ðŸ”¥
2,Anjali,Bangalore,91-3521044096,774383400.0,vikram75@yahoo.in,F,None,N/A,"263, Delhi"
3,rahul,Bangalore,+918788211576,na,pooja17@yahoo.in,??,---,530840,Bangalore - Sector 12
4,karan,lucknow,744-0610-481,1986-07-19,karan@.com,Female,None,847 066,---
...,...,...,...,...,...,...,...,...,...
247,Priya123,Bangalore,+910644229983abc,05-31-99,neha@.com,Unknown,None,496081,Street 38 @ Lucknow
248,None,delhi,5217,32/13/9999,karan@gmail.com,Male,abc,217473,Hyderabad - Sector 12
249,Karan??,Pune,164-3810-981,03-15-05,karan@gmail.com,None,N/A,187 229,"295, Chennai"
251,ANJALI,Pune,(+91)6679759194,22 September 2003,pooja@gmail.comðŸ”¥,F,81855,---,Street 20 @ Kolkata
252,Amit_x,Ahm3d@b@d,4302,381004200.0,rahul@gmail.com,F,185471,829 377,Delhi - Sector 10

In [64]:
df.sample(20)

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
189,Sneha_x,bangalore,+914599968894,09-26-00,rahul@gmail.comðŸ”¥,M,10000Rs,886487??,---
116,Pooja,Bangalore,721-0910-127,06-01-1990ðŸ”¥,karan@gmail.comðŸ”¥,F,---,474458,Chennai Road ðŸ”¥
103,Amit,NULL,219-3043-650,32/13/9999,karan@gmail,Male,58066,1343,"268, Jaipur"
112,mAit,nCahine,(+91)7149319352,,sneha.com,ðŸ”¥,None,2069,
9,rohit,CHENNAI,+915130382964,10-06-80,anjali@gmail.comðŸ”¥,??,56003.19,288819,None
180,nKaar,dyadbeaHr,2217,1988/Nov/05,karan.com,Female,None,432 769,Street 41 @ Bangalore
197,KARAN,Bangalore,+91 46144 42895,05-08-1985ðŸ”¥,rahul@gmail.com,ðŸ”¥,---,780034??,"290, Lucknow"
236,Sneh@,owcLnuk,91-0562088253,15/07/1998,neha30@yahoo.in,??,??,9768,"185, Lucknow"
190,N/A,Hyd3r@b@d,+91 18424 92951,893961000.0,sneha47@yahoo.in,M,50k,826733,"202, Lucknow"
214,vikram,uePn,(+91)4394244830,,amit@gmail.com,Female,---,855347??,"270, Jaipur"
76,Pooja,Kolkata,9725,2001-05-14,priya@gmail.com,Unknown,None,,Street 45 @ Jaipur
215,SNEHA,oKaktal,+91 92032 64322,03-06-1995ðŸ”¥,karan@gmail.com,??,10000Rs,615416,
201,VikramðŸ”¥,D3lhi,4968,---,priya@gmail.comðŸ”¥,Male,50k,None,None
19,neSha,Mumbai,+91 54408 16815,1982-10-14,priya@gmail.com,None,155633,237866??,"276, Bangalore"
61,Am1t,Lucknow,+916370395028*,32/13/9999,amit@gmail.com,??,abc,NULL,
152,uRlha,umiMba,+914938658177,32/13/9999,rahul@gmail.com,M,ðŸ”¥,---,Street 14 @ Mumbai
130,Amit,Bangalore,None,2004/Nov/18,rahul@gmail.com,Unknown,---,456 297,Kolkata - Sector 6
202,Neha,,(+91)2913959767,900009000.0,sneha.com,Male,abc,None,
40,Pooj@,AHMEDABAD,410-3865-391,01 September 2000,amit@gmail.com,None,---,na,Bangalore - Sector 1
179,Rohit,Hyderabad,656-4082-457,2000-11-13,rahul@gmail.com,None,54944.5,NULL,Hyderabad Road ðŸ”¥

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 0 to 252
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           246 non-null    object
 1   city           251 non-null    object
 2   phone_number   248 non-null    object
 3   date_of_birth  249 non-null    object
 4   email          243 non-null    object
 5   gender         224 non-null    object
 6   salary         222 non-null    object
 7   pincode        245 non-null    object
 8   address        245 non-null    object
dtypes: object(9)
memory usage: 19.7+ KB

In [66]:
df.sample(10)

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
96,Sneha,Lucknow,1014,01-26-91,,??,abc,254 929,
143,Aitm,Lucknow,N/A,07 October 1996,neha@gmail.com,Female,---,8754,Kolkata - Sector 18
86,lniaAj,Hyderabad,(+91)5131055145,31 August 1990,neha@gmail.com,None,10000Rs,659410??,Kolkata - Sector 16
47,Karan,Jaipur,+913822202188,09/02/2001,karan@gmail.com,None,---,294523,Ahmedabad - Sector 4
137,haluR,HYDERABAD,(+91)7859752648,,karan.com,ðŸ”¥,187055,983 535,Street 49 @ Lucknow
32,pooja,Chennai,2468737274,32/13/9999,anjali@gmail.com,Male,50k,563635ðŸ”¥,Kolkata - Sector 6
75,N/A,KOLKATA,+91 75419 05047,02-10-1981ðŸ”¥,neha70@yahoo.in,M,50k,---,"110, Delhi"
8,Karan123,chennai,804-6768-446,10-04-2000ðŸ”¥,anjali@.com,ðŸ”¥,10000Rs,1180,"177, Ahmedabad"
166,POOJA,Chennai,+911923026395abc,NULL,priya@gmail.com,ðŸ”¥,None,1896,Street 13 @ Hyderabad
176,Neha,NULL,---,32/13/9999,sneha50@yahoo.in,Female,None,3705,Bangalore Road ðŸ”¥

In [67]:
import pandas as pd
import random
import numpy as np
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

fake_nulls = ["N/A", "NULL", "na", "---", None, "", " "]
genders = ["M", "F", "Male", "Female", "Unknown", "??", "ERR", None]

# Messy name
def messy_name(name):
    styles = [
        name.lower(), name.upper(), name.title(),
        name.replace("a","@").replace("i","1"),
        f"  {name}  ",
        name + random.choice(["123","x","??","_BAD"]),
        "".join(random.sample(name, len(name))) if len(name) > 3 else name,
        random.choice(fake_nulls)
    ]
    return random.choice(styles)

# Messy city
def messy_city(city):
    styles = [
        city, city.upper(), city.lower(),
        city.replace("a","@").replace("e","3"),
        " " + city, city + "  ",
        "".join(random.sample(city, len(city))),
        random.choice(fake_nulls)
    ]
    return random.choice(styles)

# Messy phone
def messy_phone():
    num = ''.join([str(random.randint(0,9)) for _ in range(10)])
    formats = [
        "+91" + num,
        "91-" + num,
        num,
        "+91 " + num[:5] + " " + num[5:],
        "(+91)" + num,
        num[:3] + "-" + num[3:7] + "-" + num[7:],
        "+91" + num + random.choice(["ERR", "", "??"]),
        random.choice(fake_nulls),
        str(random.randint(1000,9999))
    ]
    return random.choice(formats)

# Messy date
def messy_date():
    start = datetime(1980,1,1)
    end = datetime(2005,12,31)
    rd = start + timedelta(days=random.randint(0,(end-start).days))
    formats = [
        rd.strftime("%Y-%m-%d"),
        rd.strftime("%d/%m/%Y"),
        rd.strftime("%m-%d-%y"),
        rd.strftime("%Y/%b/%d"),
        rd.strftime("%d %B %Y"),
        str(rd.timestamp()),
        "32/13/9999",
        random.choice(fake_nulls),
        rd.strftime("%d-%m-%Y") + "BAD"
    ]
    return random.choice(formats)

# Messy email
def messy_email(name):
    name_clean = name.lower().replace(" ", "").replace("BAD", "").replace("ERR", "")
    emails = [
        f"{name_clean}@gmail.com",
        f"{name_clean}{random.randint(1,99)}@yahoo.in",
        f"{name_clean}.com",
        f"{name_clean}@gmail",
        f"{name_clean}@.com",
        f" {name_clean}@gmail.com ",
        random.choice(fake_nulls),
        f"{name_clean}@gmail.com_ERR"
    ]
    return random.choice(emails)

# Messy salary
def messy_salary():
    return random.choice([
        random.randint(-5000,200000),
        round(random.uniform(1000,99999),2),
        "10000Rs",
        "50k",
        "---",
        None,
        "N/A",
        random.choice(["abc","??","ERR"]),
    ])

# Messy pincode
def messy_pincode():
    pin = str(random.randint(100000,999999))
    formats = [
        pin,
        pin[:3] + " " + pin[3:],
        pin + random.choice(["BAD","","??"]),
        random.choice(fake_nulls),
        str(random.randint(1000,9999))
    ]
    return random.choice(formats)

# Messy address
def messy_address(city):
    base = random.choice([
        f"{random.randint(1,300)}, {city}",
        f"Street {random.randint(1,50)} @ {city}",
        f"{city} Road _BAD_",
        random.choice(fake_nulls),
        f"{city} - Sector {random.randint(1,20)}"
    ])
    return base

rows = 250

data = {
    "name": [messy_name(random.choice(names)) for _ in range(rows)],
    "city": [messy_city(random.choice(cities)) for _ in range(rows)],
    "phone_number": [messy_phone() for _ in range(rows)],
    "date_of_birth": [messy_date() for _ in range(rows)],
    "email": [messy_email(random.choice(names)) for _ in range(rows)],
    "gender": [random.choice(genders) for _ in range(rows)],
    "salary": [messy_salary() for _ in range(rows)],
    "pincode": [messy_pincode() for _ in range(rows)],
    "address": [messy_address(random.choice(cities)) for _ in range(rows)]
}

df = pd.DataFrame(data)

# Add duplicate rows
df.loc[251] = df.loc[10]
df.loc[252] = df.loc[20]

df

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
0,Pooja,uePn,2593,1992-12-15,amit.com,Unknown,N/A,6868,N/A
1,Anjali_BAD,mumbai,0624814516,1980/Feb/14,anjali@gmail.com_ERR,None,abc,583 028,"31, Ahmedabad"
2,K@r@n,None,+91 74312 89128,NULL,vikram@.com,Unknown,39534.62,608 945,Delhi Road _BAD_
3,VIKRAM,Pun3,+917230806650,18/12/2001,vikram.com,ERR,---,None,"18, Mumbai"
4,Sneha_BAD,Jaipur,---,17 January 1994,anjali.com,Unknown,44503.58,,"74, Ahmedabad"
...,...,...,...,...,...,...,...,...,...
247,anrKa,None,+912821609339,08 February 1999,priya@.com,ERR,None,716298??,Pune Road _BAD_
248,POOJA,pune,+910356159978ERR,30/09/1993,vikram@.com,M,50k,9623,Street 42 @ Lucknow
249,pooja,Pune,5946,17/06/1999,anjali@gmail.com,None,N/A,8721,Street 4 @ Pune
251,karan,,91-1533764891,14/06/2002,amit@gmail,None,N/A,6067,"270, Lucknow"
252,Karan,MUMBAI,91-9727103688,None,amit59@yahoo.in,F,50k,3554,Street 45 @ Jaipur

In [96]:
# create a ramdom dataset  using pandas and numpy libraries with 4 columns name, city, phone_number, date_of_birth with 60 rows with messy data
import pandas as pd
import random
import numpy as np
import string
names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']
def messy_name(name):
    styles = [
        name.lower(),
        name.upper(),
        name.title(),
        name.replace("a", "@").replace("i", "1"),
        f"  {name}  ",
        name[:2] + random.choice(["#", "$", "%", "&", "*"]) + name[2:],
        name + random.choice(["123", "_x", "??", "ðŸ”¥", "ðŸ˜­"]),
        "".join(random.sample(name, len(name))) if len(name) > 3 else name,
        random.choice(["N/A", "NULL", "na", "---", None, "", " "])
    ]
    return random.choice(styles)
def messy_city(city):
    styles = [
        city,
        city.upper(),
        " " + city.lower(),
        city.replace("a", "@").replace("e", "3"),
        city + random.choice([" ", "  ", "ðŸ”¥", "###"]),
        "".join(random.sample(city, len(city))),
        random.choice(["N/A", "NULL", "na", "---", None, "", " "]),
    ]
    return random.choice(styles)
def messy_phone():
    num = ''.join([str(random.randint(0, 9)) for _ in range(10)])
    formats = [
        "+91" + num,
        "91-" + num,
        "+91 " + num[:5] + " " + num[5:],
        num,
        num[:3] + "-" + num[3:7] + "-" + num[7:],
        "(+91)" + num,
        "+91" + num + random.choice(["abc", "*", "ðŸ”¥"]),
        random.choice(["N/A", "NULL", "na", "---", None, "", " "]),
        str(random.randint(1000, 9999)),  
    ]
    return random.choice(formats)
def messy_date():
    start = datetime(1980, 1, 1)
    end = datetime(2005, 12, 31)
    random_days = random.randint(0, (end - start).days)
    d = start + timedelta(days=random_days)
    formats = [
        d.strftime("%Y-%m-%d"),
        d.strftime("%d/%m/%Y"),
        d.strftime("%m-%d-%y"),
        d.strftime("%Y/%b/%d"),
        d.strftime("%d %B %Y"),
        str(d.timestamp()),  
        "32/13/9999",  
        random.choice(["N/A", "NULL", "na", "---", None, "", " "]),
        d.strftime("%d-%m-%Y") + "ðŸ”¥",
    ]
    return random.choice(formats)
data = {
    "name": [messy_name(random.choice(names)) for _ in range(60)],
    "city": [messy_city(random.choice(cities)) for _ in range(60)],
    "phone_number": [messy_phone() for _ in range(60)],
    "date_of_birth": [messy_date() for _ in range(60)]
}
df = pd.DataFrame(data)
df

          name         city      phone_number     date_of_birth
0        ulahR       JAIPUR        5161689580       1980/Aug/16
1       Ra$hul      Kolkata               ---       559938600.0
2        Priya    Lucknow        532-9154-471        32/13/9999
3         Amit        Delhi      718-3962-448        2000-06-04
4      Rahul_x          N/A      889-1059-448       24-07-1995ðŸ”¥
5      Vi%kram      kolkata   +91 99683 68087        1993-02-06
6      Karan          Delhi        5005978812       10-08-1999ðŸ”¥
7       Sn*eha       J@ipur      897-4047-964        32/13/9999
8        Sneh@          N/A     +918089596857              None
9      Rohit         Jaipur                          04/09/2005
10       Sneh@      Lucknow      516-4382-296                na
11       Rohit      Ch3nn@i   +91 30166 14638       342210600.0
12        Nhae      CHENNAI              1945       727295400.0
13      KaranðŸ˜­    Kolkata                            20/05/2000
14        Amit                           NULL        15/10/1994
15       KARAN      Delhi                  na       02-06-1995ðŸ”¥
16      vikram         Pune   (+91)8754873277        32/13/9999
17        NEHA       Muabmi        9632893677       30-08-1998ðŸ”¥
18      Anj@l1    bangalore  +919493197098abc        1988-12-08
19       Rohit       MUMBAI        8153214012       11-01-2001ðŸ”¥
20       rayiP  Hyderabad     +91 45672 54269              None
21        None      JaipurðŸ”¥   (+91)8526090727              None
22       Karan    bangalore        8711868095               ---
23      Ro%hit    hyderabad        7279626823
24       Pooja      naCnieh   (+91)1346282967        32/13/9999
25        AMIT        D3lhi              7562        32/13/9999
26    Anjali      Hyd3r@b@d              4385       2004/Feb/09
27      Neha          lDehi              6804   17 January 1997
28       Sneh@        iDlhe     +918097864639       28-12-2005ðŸ”¥
29      Anjali      LUCKNOW              4033        25/01/1989
30       Pooj@    Hyderabad  +913908088927abc       751746600.0
31     Rahul            N/A    +919550725203ðŸ”¥   20 October 1989
32        eaNh         NULL   (+91)4052232042          04-24-98
33       hSena     Chennai         9739551047        2003-07-15
34      Sn$eha                  91-9055658713               ---
35       Pooja      Lucknow        0867378889       657397800.0
36       priya       iMbamu   (+91)5257934675        1989-08-25
37       SNEHA      LUCKNOW        7547981788       648325800.0
38     Sneha           PUNE      885-5282-997       1993/Sep/30
39        Amit    BANGALORE      624-8850-115       15-12-1995ðŸ”¥
40      ANJALI   Hyderabad    (+91)8605013521       872447400.0
41       karan         PUNE      557-7103-137      1058121000.0
42       rahul   Bangalore               3122       10-06-2003ðŸ”¥
43    Anjali           PUNE               N/A        1984-06-05
44       arPyi    ahmedabad        1116934179        1990-01-16
45       priya       iapJru   +91 30901 48736       943295400.0
46       Priya       JAIPUR   (+91)7080686729       889122600.0
47       Karan     Lucknow    +91 13497 73056          09-11-90
48     Priya_x      Cnehani     91-8112076750        32/13/9999
49       Priya        elihD     +916987530956  30 November 1996
50        AMIT      kcwLnuo              3823  17 December 1999
51     Priya         jaipur      187-8418-029        21/09/1993
52        Neh@     Mumbai       +914889684925        32/13/9999
53      Anjali    Hyderabad     91-0620699762       1987/Nov/30
54       rahul        DELHI        4495315084      1050949800.0
55      RohitðŸ˜­      ehnCnai        6362477646          10-03-03
56      VIKRAM        DELHI   +91 88119 29789       20-01-1998ðŸ”¥
57      Ka*ran      Lucknow     91-4568149714                na
58    Rahul123      Kolkata   +91 76934 26608              None
59       Pooj@        Delhi    +918250612615ðŸ”¥          10-24-81

In [68]:
df

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
0,Pooja,uePn,2593,1992-12-15,amit.com,Unknown,N/A,6868,N/A
1,Anjali_BAD,mumbai,0624814516,1980/Feb/14,anjali@gmail.com_ERR,None,abc,583 028,"31, Ahmedabad"
2,K@r@n,None,+91 74312 89128,NULL,vikram@.com,Unknown,39534.62,608 945,Delhi Road _BAD_
3,VIKRAM,Pun3,+917230806650,18/12/2001,vikram.com,ERR,---,None,"18, Mumbai"
4,Sneha_BAD,Jaipur,---,17 January 1994,anjali.com,Unknown,44503.58,,"74, Ahmedabad"
...,...,...,...,...,...,...,...,...,...
247,anrKa,None,+912821609339,08 February 1999,priya@.com,ERR,None,716298??,Pune Road _BAD_
248,POOJA,pune,+910356159978ERR,30/09/1993,vikram@.com,M,50k,9623,Street 42 @ Lucknow
249,pooja,Pune,5946,17/06/1999,anjali@gmail.com,None,N/A,8721,Street 4 @ Pune
251,karan,,91-1533764891,14/06/2002,amit@gmail,None,N/A,6067,"270, Lucknow"
252,Karan,MUMBAI,91-9727103688,None,amit59@yahoo.in,F,50k,3554,Street 45 @ Jaipur

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 0 to 252
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           246 non-null    object
 1   city           244 non-null    object
 2   phone_number   248 non-null    object
 3   date_of_birth  247 non-null    object
 4   email          252 non-null    object
 5   gender         216 non-null    object
 6   salary         221 non-null    object
 7   pincode        244 non-null    object
 8   address        251 non-null    object
dtypes: object(9)
memory usage: 19.7+ KB

### names ko edit kiya edar

In [70]:
df["name"].unique()

array(['Pooja', 'Anjali_BAD', 'K@r@n', 'VIKRAM', 'Sneha_BAD', 'N/A',
       '---', 'Vikram??', 'ROHIT', 'Priya_BAD', 'karan', 'rahul', 'PRIYA',
       'Roh1t', 'priya', 'riVkma', 'Pooja??', 'vikram', 'Priya',
       '  Karan  ', 'Sneha', 'KARAN', '  Sneha  ', 'POOJA', 'Am1t',
       'Neha', 'amit', 'NULL', '  Anjali  ', 'Anj@l1', 'mAit',
       '  Vikram  ', '  Rahul  ', 'V1kr@m', 'iayrP', 'hotiR', 'RAHUL',
       'Priya123', '  Rohit  ', 'Priya??', 'Anjali', 'sneha', 'Amitx',
       'Neh@', 'hRtoi', 'Pooja_BAD', 'AMIT', 'Rohit123', 'Vikramx',
       'rohit', 'eShan', 'ANJALI', 'anjali', 'na', 'anAilj', 'Rohit',
       'Vikram', '  Neha  ', 'Sneh@', 'Rahul', 'ariVkm', 'Snehax',
       'Pooj@', 'Rohit??', 'aKanr', 'Nehax', 'Amit_BAD', 'hSnea',
       '  Pooja  ', 'imAt', 'Karan', 'neha', ' ', 'Pr1y@', None,
       '  Amit  ', 'Rohit_BAD', 'Pooaj', 'raKan', 'iVarmk', 'enSha',
       'iotRh', 'Pooja123', 'hotRi', 'halRu', 'yiPar', 'Vikram_BAD',
       'Poojax', 'eaShn', '  Priya  ', '', 'ithoR', 'nljAia', 'oPjao',
       'Amit123', 'aPooj', 'Seahn', 'ahNe', 'ranKa', 'pooja', 'Neha??',
       'R@hul', 'Rahul??', 'SNEHA', 'anrKa', 'Vmiakr', 'aooPj'],
      dtype=object)

In [71]:
# Apply title-casing and strip to the entire 'name' column safely (handles non-string values)
df["name"] = df["name"].apply(lambda x: x.title().strip() if isinstance(x, str) else x)

In [72]:
df

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
0,Pooja,uePn,2593,1992-12-15,amit.com,Unknown,N/A,6868,N/A
1,Anjali_Bad,mumbai,0624814516,1980/Feb/14,anjali@gmail.com_ERR,None,abc,583 028,"31, Ahmedabad"
2,K@R@N,None,+91 74312 89128,NULL,vikram@.com,Unknown,39534.62,608 945,Delhi Road _BAD_
3,Vikram,Pun3,+917230806650,18/12/2001,vikram.com,ERR,---,None,"18, Mumbai"
4,Sneha_Bad,Jaipur,---,17 January 1994,anjali.com,Unknown,44503.58,,"74, Ahmedabad"
...,...,...,...,...,...,...,...,...,...
247,Anrka,None,+912821609339,08 February 1999,priya@.com,ERR,None,716298??,Pune Road _BAD_
248,Pooja,pune,+910356159978ERR,30/09/1993,vikram@.com,M,50k,9623,Street 42 @ Lucknow
249,Pooja,Pune,5946,17/06/1999,anjali@gmail.com,None,N/A,8721,Street 4 @ Pune
251,Karan,,91-1533764891,14/06/2002,amit@gmail,None,N/A,6067,"270, Lucknow"
252,Karan,MUMBAI,91-9727103688,None,amit59@yahoo.in,F,50k,3554,Street 45 @ Jaipur

In [73]:
df["name"].unique()

array(['Pooja', 'Anjali_Bad', 'K@R@N', 'Vikram', 'Sneha_Bad', 'N/A',
       '---', 'Vikram??', 'Rohit', 'Priya_Bad', 'Karan', 'Rahul', 'Priya',
       'Roh1T', 'Rivkma', 'Pooja??', 'Sneha', 'Am1T', 'Neha', 'Amit',
       'Null', 'Anjali', 'Anj@L1', 'Mait', 'V1Kr@M', 'Iayrp', 'Hotir',
       'Priya123', 'Priya??', 'Amitx', 'Neh@', 'Hrtoi', 'Pooja_Bad',
       'Rohit123', 'Vikramx', 'Eshan', 'Na', 'Anailj', 'Sneh@', 'Arivkm',
       'Snehax', 'Pooj@', 'Rohit??', 'Akanr', 'Nehax', 'Amit_Bad',
       'Hsnea', 'Imat', '', 'Pr1Y@', None, 'Rohit_Bad', 'Pooaj', 'Rakan',
       'Ivarmk', 'Ensha', 'Iotrh', 'Pooja123', 'Hotri', 'Halru', 'Yipar',
       'Vikram_Bad', 'Poojax', 'Eashn', 'Ithor', 'Nljaia', 'Opjao',
       'Amit123', 'Apooj', 'Seahn', 'Ahne', 'Ranka', 'Neha??', 'R@Hul',
       'Rahul??', 'Anrka', 'Vmiakr', 'Aoopj'], dtype=object)

In [74]:
df.sample(5)

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
241,Pooj@,HYDERABAD,+914140904811,32/13/9999,priya@.com,Male,41106.04,201873??,Street 14 @ Pune
163,Poojax,LUCKNOW,+911123913706ERR,1983/Feb/01,pooja@.com,Male,92584,234 071,Lucknow Road _BAD_
224,None,Lucknow,(+91)3126720939,na,vikram@gmail,Unknown,10000Rs,950 032,Street 43 @ Jaipur
21,Sneha,Mumbai,+91 16750 88322,1985-08-28,amit@gmail.com,Male,50k,686712,Hyderabad - Sector 10
68,Anjali,ahmedabad,5881479881,11-07-1999BAD,pooja@.com,Unknown,69410.39,367 043,Delhi Road _BAD_

In [75]:
df["city"].unique()

array(['uePn', 'mumbai', None, 'Pun3', 'Jaipur  ', 'Ch3nn@i', 'edadbayrH',
       'MUMBAI', 'Mmiabu', ' Lucknow', '', 'na', 'Kolkata  ', 'PUNE',
       'laaenBgro', 'KOLKATA', 'delhi', 'bangalore', 'lucknow',
       'Mumbai  ', 'DELHI', 'AHMEDABAD', 'Mumb@i', 'bmMiau', 'Bangalore',
       'Bangalore  ', 'NULL', 'Lucknow', ' Pune', 'hnenCia', 'Chennai',
       'hyderabad', 'Bgnoalera', 'rabHdaeyd', 'Kolk@t@', 'BANGALORE',
       'LUCKNOW', 'Pune  ', 'Ahm3d@b@d', 'Delhi', 'D3lhi', ' Delhi',
       'Juirap', ' ', 'J@ipur', ' Hyderabad', 'jaipur', ' Chennai',
       'aimbuM', 'HYDERABAD', 'Ahmedabad', 'Jaipur', 'ahmedabad',
       ' Ahmedabad', 'rbadHeyad', 'taaKkol', 'Mumbai', '---', 'aiubMm',
       'olBgraane', 'B@ng@lor3', 'Hyderabad  ', 'iJrupa', 'Hyd3r@b@d',
       'JAIPUR', 'pune', ' Mumbai', 'ehlDi', 'aKtoalk', 'N/A', 'Pune',
       'Kolkata', 'Chennai  ', 'CHENNAI', 'Ahmedabad  ', 'buamMi',
       ' Jaipur', 'Lucknow  ', 'loeBanrag', 'rdyebHaad', 'mhAeadbda',
       ' Bangalore', 'Hyderabad', 'Delhi  ', 'aatlokK', 'aoktKla',
       ' Kolkata', 'kolkata', 'dhdAebaam', 'hDile', 'wkuonLc', 'chennai'],
      dtype=object)

In [94]:
def clean_city(x):
    if isinstance(x, str):
        return x
    else:
        return x
    for char in "@", "3":
        x = x.replace("@","a").replace("3","e").strip()
    return x
    

        # return x.replace("@","a").replace("3","e").strip()

In [95]:
df["city"]=df["city"].apply(clean_city)
# df["name"]=df["name"].apply(clean_city)

In [88]:
df["city"].unique()

array(['uePn', 'mumbai', None, 'Pun3', 'Jaipur  ', 'Ch3nn@i', 'edadbayrH',
       'MUMBAI', 'Mmiabu', ' Lucknow', '', 'na', 'Kolkata  ', 'PUNE',
       'laaenBgro', 'KOLKATA', 'delhi', 'bangalore', 'lucknow',
       'Mumbai  ', 'DELHI', 'AHMEDABAD', 'Mumb@i', 'bmMiau', 'Bangalore',
       'Bangalore  ', 'NULL', 'Lucknow', ' Pune', 'hnenCia', 'Chennai',
       'hyderabad', 'Bgnoalera', 'rabHdaeyd', 'Kolk@t@', 'BANGALORE',
       'LUCKNOW', 'Pune  ', 'Ahm3d@b@d', 'Delhi', 'D3lhi', ' Delhi',
       'Juirap', ' ', 'J@ipur', ' Hyderabad', 'jaipur', ' Chennai',
       'aimbuM', 'HYDERABAD', 'Ahmedabad', 'Jaipur', 'ahmedabad',
       ' Ahmedabad', 'rbadHeyad', 'taaKkol', 'Mumbai', '---', 'aiubMm',
       'olBgraane', 'B@ng@lor3', 'Hyderabad  ', 'iJrupa', 'Hyd3r@b@d',
       'JAIPUR', 'pune', ' Mumbai', 'ehlDi', 'aKtoalk', 'N/A', 'Pune',
       'Kolkata', 'Chennai  ', 'CHENNAI', 'Ahmedabad  ', 'buamMi',
       ' Jaipur', 'Lucknow  ', 'loeBanrag', 'rdyebHaad', 'mhAeadbda',
       ' Bangalore', 'Hyderabad', 'Delhi  ', 'aatlokK', 'aoktKla',
       ' Kolkata', 'kolkata', 'dhdAebaam', 'hDile', 'wkuonLc', 'chennai'],
      dtype=object)

In [89]:
# df["city"].apply(lambda x: x.replace("@","a").replace("3","e").strip() if isinstance(x, str) else x)

In [83]:
df

,name,city,phone_number,date_of_birth,email,gender,salary,pincode,address
0,Pooja,uePn,2593,1992-12-15,amit.com,Unknown,N/A,6868,N/A
1,Anjali_Bad,mumbai,0624814516,1980/Feb/14,anjali@gmail.com_ERR,None,abc,583 028,"31, Ahmedabad"
2,K@R@N,None,+91 74312 89128,NULL,vikram@.com,Unknown,39534.62,608 945,Delhi Road _BAD_
3,Vikram,Pun3,+917230806650,18/12/2001,vikram.com,ERR,---,None,"18, Mumbai"
4,Sneha_Bad,Jaipur,---,17 January 1994,anjali.com,Unknown,44503.58,,"74, Ahmedabad"
...,...,...,...,...,...,...,...,...,...
247,Anrka,None,+912821609339,08 February 1999,priya@.com,ERR,None,716298??,Pune Road _BAD_
248,Pooja,pune,+910356159978ERR,30/09/1993,vikram@.com,M,50k,9623,Street 42 @ Lucknow
249,Pooja,Pune,5946,17/06/1999,anjali@gmail.com,None,N/A,8721,Street 4 @ Pune
251,Karan,,91-1533764891,14/06/2002,amit@gmail,None,N/A,6067,"270, Lucknow"
252,Karan,MUMBAI,91-9727103688,None,amit59@yahoo.in,F,50k,3554,Street 45 @ Jaipur

In [80]:
df["name"].unique()

array(['Pooja', 'Anjali_Bad', 'K@R@N', 'Vikram', 'Sneha_Bad', 'N/A',
       '---', 'Vikram??', 'Rohit', 'Priya_Bad', 'Karan', 'Rahul', 'Priya',
       'Roh1T', 'Rivkma', 'Pooja??', 'Sneha', 'Am1T', 'Neha', 'Amit',
       'Null', 'Anjali', 'Anj@L1', 'Mait', 'V1Kr@M', 'Iayrp', 'Hotir',
       'Priya123', 'Priya??', 'Amitx', 'Neh@', 'Hrtoi', 'Pooja_Bad',
       'Rohit123', 'Vikramx', 'Eshan', 'Na', 'Anailj', 'Sneh@', 'Arivkm',
       'Snehax', 'Pooj@', 'Rohit??', 'Akanr', 'Nehax', 'Amit_Bad',
       'Hsnea', 'Imat', '', 'Pr1Y@', None, 'Rohit_Bad', 'Pooaj', 'Rakan',
       'Ivarmk', 'Ensha', 'Iotrh', 'Pooja123', 'Hotri', 'Halru', 'Yipar',
       'Vikram_Bad', 'Poojax', 'Eashn', 'Ithor', 'Nljaia', 'Opjao',
       'Amit123', 'Apooj', 'Seahn', 'Ahne', 'Ranka', 'Neha??', 'R@Hul',
       'Rahul??', 'Anrka', 'Vmiakr', 'Aoopj'], dtype=object)