In [162]:
pavan=[1,1,2,3,4,5]

In [163]:
pavan

[1, 1, 2, 3, 4, 5]

In [164]:
pavan.append(6)

In [165]:
pavan

[1, 1, 2, 3, 4, 5, 6]

In [166]:
pavan.remove(3)

In [167]:
pavan

[1, 1, 2, 4, 5, 6]

In [168]:
pavan.count(1)

2

In [169]:
pavan.reverse()

In [170]:
pavan.insert(4,2)

In [171]:

pavan

[6, 5, 4, 2, 2, 1, 1]

In [172]:
pavan.extend([2,3,5])

In [173]:
pavan

[6, 5, 4, 2, 2, 1, 1, 2, 3, 5]

In [174]:
pavan.index(4)

2

In [175]:
pavan

[6, 5, 4, 2, 2, 1, 1, 2, 3, 5]

In [176]:
pavan.sort()

In [177]:
pavan

[1, 1, 2, 2, 2, 3, 4, 5, 5, 6]

In [178]:
pavan.copy()

[1, 1, 2, 2, 2, 3, 4, 5, 5, 6]

In [179]:
sai=pavan.copy()

In [180]:
pavan

[1, 1, 2, 2, 2, 3, 4, 5, 5, 6]

In [181]:
pavan.pop(2)

2

In [182]:
pavan

[1, 1, 2, 2, 3, 4, 5, 5, 6]

In [183]:
sai

[1, 1, 2, 2, 2, 3, 4, 5, 5, 6]

In [184]:

sai.pop(6)

4

In [185]:
# now from this tuple start

In [186]:
items=('apple','banana','mango','grapes')

In [187]:
items

('apple', 'banana', 'mango', 'grapes')

In [188]:
items.count('apple')

1

In [189]:
items

('apple', 'banana', 'mango', 'grapes')

In [190]:
items.index('banana')

1

In [191]:
# now from this set start

In [192]:
set1={1,2,3,4,5,6,7,8,9}
set2={5,6,7,8,9,10,11,12}

In [193]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [194]:
set1.add(10)

In [195]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [196]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [197]:
set1.difference(set2)

{1, 2, 3, 4}

In [198]:
# now from this dictionary start
d1={'name':'pavan',
    'age':21,
    'college':'srec'}

In [199]:
d1

{'name': 'pavan', 'age': 21, 'college': 'srec'}

In [200]:
d1.keys()

dict_keys(['name', 'age', 'college'])

In [201]:
d1.values()

dict_values(['pavan', 21, 'srec'])

In [202]:
d1.items()

dict_items([('name', 'pavan'), ('age', 21), ('college', 'srec')])

In [203]:
d1.update({'age':22})

In [204]:
d1

{'name': 'pavan', 'age': 22, 'college': 'srec'}

In [205]:
d1.get('name')

'pavan'

In [206]:
d1.pop('college')

'srec'

In [207]:
d1

{'name': 'pavan', 'age': 22}

In [208]:
d1

{'name': 'pavan', 'age': 22}

In [209]:
d2=d1.copy()
d2

{'name': 'pavan', 'age': 22}

In [210]:
d1

{'name': 'pavan', 'age': 22}

In [211]:
#sets

s={1,2,3,4,5,6,7,8,9}
s2={5,6,7,8,9,10,11,12}
s1=s.union(s2)
"="*20

'===================='

In [212]:
# now formated input output statements

In [213]:
n

NameError: name 'n' is not defined

In [ ]:
name

'sai'

In [ ]:
age

21

In [ ]:
# now formated output statements
#usingf key words

In [ ]:
x=10    
f"hello,{x}"

'hello,10'

In [ ]:
print(f"hello,{x}")

hello,10

In [ ]:

print(f"hello,{name}.you are {age} years old")

hello,sai.you are 21 years old

In [ ]:
f"hello {name} your age is {age} years"

'hello sai your age is 21 years'

In [ ]:
# operators in python

In [ ]:
a=10
b=30

In [ ]:
a+b
a-b
a*b 
a/b
a%b 
a**b
a//b

0

In [ ]:
# assignment operators

In [ ]:
a=10
b=20
a==b
a!=b
a+=5
a+=5
a

20

20

In [ ]:
a+=5
a

15

In [ ]:
# logical operators
a=10
b=20
a<15 and b>15
a<15 or b>15
not(a<15 and b>15)

False

In [ ]:
y=10
if y<10:
    print("y is less than 10")
else:
    print("y is greater than or equal to 10")

y is greater than or equal to 10

In [ ]:
# string

In [14]:
greet="hello"

In [15]:
greet.capitalize()

'Hello'

In [ ]:
# greet.center(20)

'       hello        '

In [16]:
greet.count("l")

2

In [17]:
greet.startswith("o")

False

In [19]:
greet.encode()
# type(greet)

b'hello'

In [ ]:
# greet.zfill(10)

'00000hello'

In [ ]:
greet.find("o")

4

In [ ]:
greet.center(20)

'       hello        '

In [ ]:
greet.rstrip()

'hello'

In [21]:
greet.upper()

'HELLO'

In [ ]:
greet.find("o")

4

In [ ]:
greet.upper()

In [22]:
i=['a','b','c']
"".join(i)

'abc'

In [28]:
number=['9606558427']
'91'.join(number)

'9606558427'

In [ ]:
# control statements 

x=11
if x%2 ==0:
    print("even number")
else:
    print( f"{x} odd number ")

In [ ]:
marks=50
if marks>=90:
    print("A+")
elif marks>=70:
    print("b")
elif marks>=60:
    print("b")
elif marks>=50:
    print("d")
else:
    print("fail")

d

In [5]:
def add(a,b):
    print(a+b)

In [6]:
 add(10,20)

30

In [ ]:
# loops in python

In [ ]:
s1={1,2,3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [2]:
s2={5,6,7,8}

In [5]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
s1.intersection(s2)

{5, 6}

In [9]:
s1.difference(s2)

{1, 2, 3, 4}

In [10]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 7, 8}

In [22]:
x=input("enter a name")

In [20]:
type(x)

int

In [26]:
print(f"hello {x} welcome!")

hello pavan welcome!

In [ ]:
for i in range(100,200):
    print(f"hello pavan bahi {i}")

In [3]:
marks=int(input("enter a marks"))

In [ ]:
# if num<=0:
#     print(f" {num} nagetive number")
# else:
#     print(f"{num} positive number")

 -6 nagetive number

In [4]:
if marks>=90:
    print("A+")
elif marks>=70:
    print("B")
elif marks>=60:
    print("c")
elif marks>=50:
    print("gandu ho tum")
else:
    print("chud gaye guru")

chud gaye guru

In [5]:
for i in range (1,11):
    print(f"2 x {i}={i*2}")

2 x 1=2
2 x 2=4
2 x 3=6
2 x 4=8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
2 x 10=20

In [10]:

for i in range(1,20):
    print(f"pavan {i}")

pavan 1
pavan 2
pavan 3
pavan 4
pavan 5
pavan 6
pavan 7
pavan 8
pavan 9
pavan 10
pavan 11
pavan 12
pavan 13
pavan 14
pavan 15
pavan 16
pavan 17
pavan 18
pavan 19

In [13]:
for i in range(1,11,2):
    print(i)
else:
    print("tamma khatam")

1
3
5
7
9
tamma khatam

In [14]:
def rahul():
    print("good morning")

In [15]:
rahul()

good morning

In [ ]:

rahul()

good morning

In [5]:
def pavan():
     num= int(input("enter a number a print table"))

     for i in range (1,11):
         print(f"{num} x {i} ={i*num}")
     else:
         print("ram ram bhai ")

In [11]:
pavan()

75 x 1 =75
75 x 2 =150
75 x 3 =225
75 x 4 =300
75 x 5 =375
75 x 6 =450
75 x 7 =525
75 x 8 =600
75 x 9 =675
75 x 10 =750
ram ram bhai

In [25]:
def biggestnum():
    a=int(input("enter a number"))
    b=int(input("enter a number"))
    c=int(input("enter a number"))
    print(f"numbers:- {a} {b} {c}")
    if a > b and a > c:
        print(f"{a} is biggest number")
    elif b >= a and  b >= c:
        print(f"{b} is biggest number ")
    else:
        print(f"{c} is biggest number")

In [12]:
biggestnum()

numbers:- 999 958 965
999 is biggest number

In [7]:
def root(num):
    # num=int(input("enter a number to check to get root of number "))
    print(f"the root of {num} is {num*num}")

In [14]:
root(9)

the root of 9 is 81

In [1]:
# string

In [3]:
s1="pavan"
s2="patil"
s3="'kosam'"

In [8]:
s1 + " " + s2

'pavan patil'

In [4]:

s1.capitalize()

'Pavan'

In [15]:
num=10
while i<=10:
    print( "pavan")

In [ ]:
i = 1
while i <= 100:
    print(f" {i}")
    i += 2

In [7]:
n = int(input("Enter n: "))
i = 1
total = 0

while i <= n:
    total += i
    i += 1

print("Sum =", total)

Sum = 210

In [38]:
num=int(input("enter a number:-"))

In [41]:

def oddnum():
    i=0
    while i <= num:
         print(i)
         i += 2

In [ ]:
oddnum()

In [4]:
user=input("select what u need odd or even")

In [ ]:
def userneed():
    i=0
    if user == "odd":
        i=1
        while i <=20:
            print(i)
            i+=2
    elif user == "even":
        i=0
        while i<=20:
         print(i)
        i+=2

In [ ]:
userneed()

In [3]:
items=["apple","banana","orange","lemon"]
for i in items:
    print(i)

apple
banana
orange
lemon

In [70]:
num=[2,34,5,67,89,90]
print(sum(num))
print(max(num))
totalsum=0
for i in num:
   totalsum += i
print(f"the sum of list is {totalsum}")

287
90
the sum of list is 287

In [ ]:
from datetime import datetime,timedelta
now=datetime.now()
str_1=now.strftime("%A %b %D %Y. %H:%M:%S")
str_1
now = datetime.strptime(str_1, "%A %b %m/%d/%y %Y. %H:%M:%S")
now + timedelta(days=15)
now + timedelta(hours=5)

In [39]:
now

datetime.datetime(2025, 9, 25, 15, 27, 46, 198558)

In [40]:
str_1=now.strftime("%A %b %D %Y. %H:%M:%S")
str_1

'Thursday Sep 09/25/25 2025. 15:27:46'

In [ ]:
now = datetime.strptime(str_1, "%A %b %m/%d/%y %Y. %H:%M:%S")

In [44]:
now + timedelta(days=15)
now + timedelta(hours=5)

datetime.datetime(2025, 9, 25, 20, 27, 46)

In [ ]:
# execption handling  


try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except:
    print("Invalid input! Please enter a number.")

Invalid input! Please enter a number.

In [1]:
t1=(input("enter a tuple"))

In [2]:
t1

'1,5,5,8,6,3,7,'

In [3]:
type(t1)

str

In [5]:

try:
    num=int(input("enter a number "))
    print(f"the number is {num}")
except:
    print("invalid input add numbers")
# finally:
#     print("acha error nhi aya dekha")

the number is 52

In [11]:
a=10
b=0

In [8]:
l1=[1,5,6,8,6,3]
print(max(l1))
max(l1)

8

8

In [2]:
a=10
b=0

try:
    print(a/b)
except:
    print(f"erro ata bhai vaise nhi hota maths mai")

erro ata bhai vaise nhi hota maths mai

In [27]:

l1=[1,5,6,8,6,3]
l1.index()

TypeError: index expected at least 1 argument, got 0

In [29]:
try:
    l1.index(5)
    # print(l1.index())
except:
    print("value not found")

In [2]:
from datetime import datetime,timedelta

In [3]:
now=datetime.now()

In [4]:
str__1=now.strftime("%A %B %d %Y %H %M %S")
str__1
now
now + timedelta(days=50)

datetime.datetime(2025, 11, 19, 15, 45, 21, 142014)

In [63]:
str__1=now.strftime("%A %B %d %Y %H %M %S")
str__1
now

datetime.datetime(2025, 9, 26, 15, 59, 39, 268092)

In [45]:

# for i in range (1,70):
#     print(f"sorry{i}")

In [62]:
now + timedelta(days=50)

datetime.datetime(2025, 11, 15, 15, 59, 39, 268092)

In [1]:
# file io in python

In [2]:
from datetime import datetime

In [3]:
now=datetime.now()

In [4]:
now

datetime.datetime(2025, 9, 29, 14, 53, 36, 218997)

In [5]:
timenod__=now.strftime("%y- %m-%d  %H:%M:%S")

In [6]:
timenod__

'25- 09-29  14:53:36'

In [8]:
timenod__

'25- 09-29  14:53:36'

In [51]:
from datetime import datetime
try:
    file=open("data.txt", "a")
    x=1/1
except Exception as tamma:
    now=datetime.now()
    file.write(f"error in line 7: {now.strftime('%Y-%m-%d %H:%M:%S')}\n")
else:
    file.write("error nhi aaya bhai code mai /n ")
finally:
    file.close()

In [46]:
# all file operations 
file=open("data.txt","r")
data=file.read()
file.close()
data

'rror in line 7: 2025-09-29 15:10:12\nerror in line 7: 2025-09-29 15:15:36\nerror in line 7: 2025-09-29 15:16:08\ntammm khatamerror nhi aaya bhai code mai error nhi aaya bhai code mai error nhi aaya bhai code mai '

In [50]:
file=open("data.txt","r")
line3 = file.readline()
line3
file.close()

In [53]:
file=open("tamma.txt","a")
file.write("This is my first file write operation.\n")
file.write("pavan.\n")
file.write("sai\n")
file.write("rahul\n")
file.write("nilesh\n")

file.close()

TypeError: TextIOWrapper.write() takes exactly one argument (0 given)