In [92]:
# pavan=[1, 2, 3, 4, 5]
# pavan.append(6)
# pavan.insert(2,5)
# pavan.count(5)
# pavan.extend([6,7,8])
# pavan.sort()
# pavan.pop(2)
# pavan.index(4)
# sai=pavan.copy() 
# pavan.reverse()
# pavan.remove(5)

pavan

(1, 2, 3, 4, 5, 5, 5, 5)

In [93]:
pavan.index(4)

3

In [94]:
pavan.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
pavan.count(5)

1

In [ ]:
pavan.clear()

In [ ]:
pavan

[]

In [ ]:
# --- IGNORE --- now tuple

In [ ]:
pavan=(1,2,3,4,5,5,5,5)

In [ ]:
pavan.count(5)

4

In [ ]:
pavan.index(5)

4

In [ ]:
# now dictionary

In [ ]:
stu={
    "name":"pavan",
    "age":21,
    "college":"satyam",
    "marks":98
}
stu.keys()
stu.values()
stu.items()
stu.get("name")
stu.update({"age":22})
stu.pop("marks")
stu.update({"branch":"cse"})
stu.popitem()
# stu.clear()

stu

{'name': 'pavan', 'age': 22, 'college': 'satyam'}

In [ ]:
number=[1,2,3,4,5]


number

[1, 2, 3, 4, 5]

In [ ]:
number[1:4]

[2, 3, 4]

In [ ]:
number[::2] # step size 
number[::-1] # reverse the list
number[1:4:2] # start:end:step size
number[::3] # step size 3
number[1::3] # start from index 1 and step size 3
number[1:5:3] # start from index 1 to index 4 and step size 3
number[::4] # step size 4
number[1::4] # start from index 1 and step size 4
number[1:5:4] # start from index 1 to index 4 and step size 4
number[::5] # step size 5

[1]

In [ ]:
def greet(name):
    print(f"hello {name} wellcome to py!")

In [ ]:
greet("sai")

hello sai wellcome to py!

In [ ]:
def tammma():
    print("hello tamma good morning ")

In [ ]:
tammma()

hello tamma good morning

In [ ]:
Name=input("enter a last name" )
Last=input("enter a last name" )
def fullname(name,last):
    print(f" well come back {Name} {Last} ")

In [ ]:
fullname(Name,Last)

 well come back pavan patil

In [ ]:
def add(a,b):
    # add=a+b
    return a+b

In [ ]:
add(10,20)

30

In [95]:
def calculaton(a,b):
    add=a+b
    yield
    sub=a-b
    yield
    mul=a*b
    yield
    div=a/b
    yield

    return add,sub,mul,div

In [96]:
calculaton(10,20)

In [100]:
for i in calculaton:
    print(calculaton)

TypeError: 'function' object is not iterable

In [ ]:
# def addd(a,b):
#     return a+b

In [104]:
addd=lambda a,b :a+b

In [106]:
addd(10,30)

40

In [2]:
m=int(input("enter a number to check number is positive or nagetive number"))
if m>=0:
    print(f"{m} positive number")
else:
    print(f"{m} nagetive number")

5 positive number

In [ ]:
l1=[1,2,4,5,6,7,8,]
for i in l1:
    print(2)

2
2
2
2
2
2
2