In [17]:
import pandas as pd
import numpy as np

# Load the messy dataset
df = pd.read_csv('datascience_class_2025/Datasets/indian_college_messy_data.csv')

print(f"Dataset shape: {df.shape}")
print("\nFirst 10 rows:")
display(df.head(10))
print("\nData types:")
print(df.dtypes)
print("\nMissing values:")
print(df.isnull().sum())

Dataset shape: (510, 16)

First 10 rows:

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,PATRICK PRASAD,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,teerth mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,TRIYA BIR,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
5,STU20229728,Hardik Suri,cmammen@example.net,(03773515850),23,O,B.E,Computer Science,6,5.06,65.2,Bally,RJ,2022-06-23,1,NO
6,STU20243967,WILLIAM CHANA,srinivasandalaja@example.org,7990772625,21,M,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,0,YES
7,STU20204073,ANJALI SENGUPTA,RAJESHRICHAND@EXAMPLE.ORG,05060685361,25,female,BCA,Chemical,8,8.13,85.6,Rajahmundry,DL,06/02/2021,0,Yes
8,STU20244726,DHRITI CHANA,bosewriddhish@example.org,+919014870682,23,M,BCA,Electronics,7,NaN,94.6,Mehsana,West Bengal,2025-03-30,False,Yes
9,STU20244389,Hardik Bera,TARAAVI@EXAMPLE.ORG,(09524991187),27,Non-Binary,M.E,Mechanical,6,9.13,NaN,Panihati,RJ,12/05/2023,no,N

Data types:
student_id         object
name               object
email              object
phone              object
age                 int64
gender             object
course             object
department         object
semester            int64
cgpa              float64
attendance         object
city               object
state              object
admission_date     object
fees_paid          object
hostel             object
dtype: object

Missing values:
student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa              30
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [18]:
df["name"]=df["name"].apply(lambda x: x.title())

In [19]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
80,STU20238715,Vedhika Golla,ozafrado@example.org,NaN,24,Other,B.E,Computer Science,7,5.92,NaN,Bilaspur,West Bengal,06 November 2021,TRUE,n
334,STU20235374,Leela Agrawal,wallaryan@example.net,(00583003354),22,FEMALE,BCA,Electrical,1,6.31,61.6,Kota,Delhi,2024-02-15,True,Yes
15,STU20206977,Yutika Sibal,fmorar@example.org,+916873395004,28,male,B.Tech,Mechanical,6,8.74,50.5,Kavali,TN,12/11/2024,N,no
331,STU20205026,Sathvik Narula,dominic24@example.org,+91-06829962914,27,Female,M.E,Civil,8,5.30,56.8,Patna,Tamil Nadu,04/03/2023,no,y
134,STU20241328,Chatresh Hari,dixiturvi@example.com,(+912005436459),77,M,M.E,Electronics,3,8.01,NaN,Varanasi,Gujarat,2021-10-01,No,NO
470,STU20214261,Naveen Borde,NIGAMVASUDHA@EXAMPLE.NET,+916296201533,-26,O,M.E,Information Technology,1,5.23,48.2,Begusarai,West Bengal,2025-06-16,no,no
67,STU20212858,Charvi Dara,NaN,(7117980893),24,M,MCA,Chemical,3,7.49,83.0,Jalna,UP,06/07/2024,No,No
481,STU20244057,Yuvraj Mitter,saumya34@example.com,+915662776896,25,FEMALE,B.E,Electrical,8,6.38,89.9%,Ongole,Uttar Pradesh,11/01/2021,Yes,Yes
266,STU20226851,Gautam Sami,quincy66@example.org,(+918573278814),19,other,MCA,Electronics,2,6.43,NaN,Junagadh,DL,2021-07-15,No,N
85,STU20247981,Yachana Sagar,FRATTI@EXAMPLE.NET,NaN,19,O,M.E,Mechanical,8,5.21,92.2%,Katni,West Bengal,06/11/2025,N,No

In [20]:
df["email"]=df["email"].apply( lambda x: x.lower() .strip() if pd.notna(x) else x )

In [21]:
df["phone"].apply(lambda x:  x.startswith("+91")  x.replace("+91", " ") if else x )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2805922567.py, line 1)

In [ ]:
df["phone"] = df["phone"].apply(lambda x: x.replace("+91", "").strip() if isinstance(x, str) and x.startswith("+91") else x)

In [ ]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,-4287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no
506,STU20241752,Atharv Parmer,soodkrish@example.net,-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes

#4

In [ ]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,-4287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no
506,STU20241752,Atharv Parmer,soodkrish@example.net,-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

In [ ]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
440,STU20241803,Chameli Setty,bhasinnakul@example.com,07735925556,26,Non-Binary,M.E,Chemical,5,8.88,53.8,Uluberia,West Bengal,29 March 2025,True,Y
415,STU20218488,Krishna Pandit,ekani00@example.net,2559056165,20,O,B.E,Computer Science,7,5.23,78.0,Bulandshahr,KL,2023-11-07,1,NO
120,STU20228532,Suhani Chand,ANSHBEDI@EXAMPLE.COM,(+912931839335),-28,Male,M.E,Electronics,5,13.08,95.2,Kavali,RJ,19 November 2020,0,NO
338,STU20205279,Aradhana Vohra,harish34@example.org,02408240084,19,other,B.E,Computer Science,2,7.98,60.7%,Pallavaram,West Bengal,25-09-2021,False,yes
10,STU20219171,Jyoti Anand,daksheshkhanna@example.net,-0653331537,23,male,M.E,Electrical,6,-6.83,64.0%,Ghaziabad,Rajasthan,05-09-2023,yes,Yes
491,STU20228273,Christopher Tata,jhalakdugar@example.com,-9138000307,18,Non-Binary,M.Tech,Information Technology,6,6.99,79.0,Yamunanagar,DL,20/02/2022,True,yes
16,STU20227704,Yahvi Sampath,CHATURA15@EXAMPLE.COM,NaN,-26,female,M.Tech,Mechanical,3,8.89,69.3,Amritsar,TN,2022-06-19,No,Y
165,STU20234971,Tristan Prabhakar,NaN,8490277038,22,female,B.E,Chemical,7,6.83,115.9,NaN,DL,23-02-2021,True,YES
131,STU20237547,Zayyan Naik,ravalyoshita@example.org,8760385977,20,male,MCA,Electrical,1,14.46,91.6,Kurnool,Karnataka,2023-02-18,False,Y
289,STU20244721,Siya Modi,garghemang@example.net,(2097023164),18,Woman,B.E,Mechanical,7,6.30,58.2,Muzaffarpur,Maharashtra,04 May 2023,True,No

In [ ]:
df["age"]=df["age"].astype("str")

In [ ]:
def pos(x):
    if x.startswith("-"):
        x= x.replace("-", " ")
        return x  
    else:
        return x

In [ ]:
# def lens(x):
#     if len(x) == 2:
#         x=x.replace("-"," ")
#         return x
#     else:
#         return x

In [ ]:
df["age"]=df["age"].apply(pos)

In [ ]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes

In [ ]:
def sub(x):
    if x > 40:
        x = x-50 
        return x
    else:
        return x

In [ ]:
df["age"]=df["age"].astype("int")

In [ ]:
df["age"]=df["age"].apply(sub)

In [ ]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel,df
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes,17
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes,25
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES,21
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO,19
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no,18
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,23,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes,23
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y,18
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N,18
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes,26

In [ ]:
df["age"]

array([17, 25, 21, 19, 18, 23, 27, 20, 28, 26, 22, 24])

In [ ]:
df["gender"].unique()

array(['Male', 'Non-Binary', 'Female', 'Man', 'O', 'M', 'female', 'male',
       'other', 'F', 'Other', 'MALE', 'Woman', 'FEMALE'], dtype=object)

In [ ]:
df[""]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
 16  df              510 non-null    int64
dtypes: float64(1), int64(3), object(13)
memory usage: 67.9+ KB

In [ ]:
df["cgpa"].unique()

In [34]:
def grade(x):
    if pd.isna(x):
        return "Not Available"
    elif x >= 9.0:
        return "Excellent"
    elif x >= 8.0:
        return "Very Good"
    elif x >= 7.0:
        return "Good"
    elif x >= 6.0:
        return "Average"
    elif x < 6.0:
        return "Below Average"

In [37]:
df["Grade"]=df["cgpa"].apply(grade)

In [38]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel,Grade
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes,Excellent
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes,Excellent
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES,Below Average
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO,Good
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no,Average
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes,Very Good
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y,Average
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N,Below Average
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes,Excellent