In [2]:
import pandas as pd
import random
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

def generate_phone_number(with_country_code):
    start_digit = str(random.choice([7, 8, 9]))
    number = start_digit + ''.join([str(random.randint(0, 9)) for _ in range(9)])
    if with_country_code:
        return '+91' + number
    else:
        return number

def random_date(start_year=1980, end_year=2005):
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return (start_date + timedelta(days=random_days)).strftime('%Y-%m-%d')

data = {
    'name': [random.choice(names) for _ in range(50)],
    'city': [random.choice(cities) for _ in range(50)],
    'phone_number': [
        generate_phone_number(with_country_code=random.choice([True, False]))
        for _ in range(50)
    ],
    'date_of_birth': [random_date() for _ in range(50)]
}

df = pd.DataFrame(data)

In [3]:
df

      name       city   phone_number date_of_birth
0   Vikram    Chennai     7865622012    2004-02-25
1    Priya  Hyderabad     9456451606    2003-07-18
2     Neha    Chennai     9013238427    1991-04-15
3    Rohit      Delhi     8131136583    1982-09-29
4    Priya  Bangalore  +918638474212    2000-11-28
5    Sneha    Chennai     7811338967    1992-05-14
6   Vikram  Ahmedabad     9841227933    1991-07-25
7    Priya  Ahmedabad     7600069814    1998-03-13
8    Rahul    Chennai  +919790226669    1983-11-05
9    Karan  Ahmedabad  +917802126820    2005-08-18
10  Vikram    Lucknow  +918621735971    1982-11-27
11   Pooja    Lucknow     8622796877    1999-11-22
12   Sneha    Chennai     9002300956    1999-05-10
13   Pooja  Hyderabad  +917362886944    1989-08-01
14    Amit     Mumbai  +919858261068    1996-07-19
15    Amit    Kolkata     9384353757    1982-07-31
16   Sneha       Pune     7146216021    1988-12-02
17   Rahul     Jaipur  +917468920610    2003-11-24
18   Sneha    Chennai  +918111040932    1989-02-21
19    Neha       Pune  +919523654397    1999-03-11
20   Sneha    Kolkata     7024194134    1982-07-12
21   Sneha    Kolkata  +917437199946    1993-12-28
22  Anjali  Bangalore  +918138388038    1981-05-24
23   Sneha    Kolkata     9025863300    1986-04-25
24  Anjali    Kolkata  +917495712595    1984-09-04
25    Neha     Mumbai  +919558656423    1989-06-13
26    Neha  Bangalore  +918664317613    2003-06-01
27   Priya  Hyderabad  +917152132965    2002-07-19
28   Sneha    Lucknow     7551458763    1990-02-09
29  Anjali  Hyderabad  +918759074347    1994-11-06
30   Pooja  Bangalore  +917485940711    1993-03-30
31   Rahul  Ahmedabad  +919186607339    1998-12-18
32   Karan    Chennai  +917435082665    1983-09-26
33  Anjali  Ahmedabad     9153567895    2004-04-25
34   Karan  Hyderabad     9572182119    1989-11-30
35  Anjali  Hyderabad  +918682644744    1994-12-17
36    Amit     Jaipur     7923611616    2000-02-01
37   Priya    Kolkata     7335427940    1986-09-25
38   Rohit     Mumbai     9276585169    1986-04-14
39   Sneha    Lucknow  +919755830636    1997-11-19
40   Rohit     Mumbai     9578452858    2000-03-27
41   Rohit    Lucknow     8071175796    1991-07-31
42   Sneha       Pune  +917273954168    1984-10-03
43  Anjali  Hyderabad     8870997819    1995-06-23
44    Amit  Ahmedabad  +919046138069    2001-05-27
45   Rahul    Chennai  +918162636255    2005-06-25
46  Anjali    Chennai     9462869877    1989-09-08
47   Pooja  Hyderabad  +917442796670    1990-02-23
48  Vikram  Ahmedabad     7810088275    2000-07-18
49   Karan    Chennai  +918612273023    1989-05-26

## removing +91 from mobile number
using startwith

In [4]:
def clean(x):
    if x.startswith("+91"):
        x = x.replace("+91"," ")
    return x

In [5]:
df["phone_number"].apply(clean)

0      7865622012
1      9456451606
2      9013238427
3      8131136583
4      8638474212
5      7811338967
6      9841227933
7      7600069814
8      9790226669
9      7802126820
10     8621735971
11     8622796877
12     9002300956
13     7362886944
14     9858261068
15     9384353757
16     7146216021
17     7468920610
18     8111040932
19     9523654397
20     7024194134
21     7437199946
22     8138388038
23     9025863300
24     7495712595
25     9558656423
26     8664317613
27     7152132965
28     7551458763
29     8759074347
30     7485940711
31     9186607339
32     7435082665
33     9153567895
34     9572182119
35     8682644744
36     7923611616
37     7335427940
38     9276585169
39     9755830636
40     9578452858
41     8071175796
42     7273954168
43     8870997819
44     9046138069
45     8162636255
46     9462869877
47     7442796670
48     7810088275
49     8612273023
Name: phone_number, dtype: object

storing data in to another column

In [6]:
df["clean_num"]= df["phone_number"].apply(clean)

## now add +91 in number

In [19]:
def add(x):
    if len(x) == 10:
        x = "+91"+x
    return x

storing +91 data in to another colums

In [20]:
df["num_with_Ccode"]=df["phone_number"].apply(add)

In [10]:
df

      name       city   phone_number date_of_birth    clean_num num_with_Ccode
0   Vikram    Chennai     7865622012    2004-02-25   7865622012  +917865622012
1    Priya  Hyderabad     9456451606    2003-07-18   9456451606  +919456451606
2     Neha    Chennai     9013238427    1991-04-15   9013238427  +919013238427
3    Rohit      Delhi     8131136583    1982-09-29   8131136583  +918131136583
4    Priya  Bangalore  +918638474212    2000-11-28   8638474212  +918638474212
5    Sneha    Chennai     7811338967    1992-05-14   7811338967  +917811338967
6   Vikram  Ahmedabad     9841227933    1991-07-25   9841227933  +919841227933
7    Priya  Ahmedabad     7600069814    1998-03-13   7600069814  +917600069814
8    Rahul    Chennai  +919790226669    1983-11-05   9790226669  +919790226669
9    Karan  Ahmedabad  +917802126820    2005-08-18   7802126820  +917802126820
10  Vikram    Lucknow  +918621735971    1982-11-27   8621735971  +918621735971
11   Pooja    Lucknow     8622796877    1999-11-22   8622796877  +918622796877
12   Sneha    Chennai     9002300956    1999-05-10   9002300956  +919002300956
13   Pooja  Hyderabad  +917362886944    1989-08-01   7362886944  +917362886944
14    Amit     Mumbai  +919858261068    1996-07-19   9858261068  +919858261068
15    Amit    Kolkata     9384353757    1982-07-31   9384353757  +919384353757
16   Sneha       Pune     7146216021    1988-12-02   7146216021  +917146216021
17   Rahul     Jaipur  +917468920610    2003-11-24   7468920610  +917468920610
18   Sneha    Chennai  +918111040932    1989-02-21   8111040932  +918111040932
19    Neha       Pune  +919523654397    1999-03-11   9523654397  +919523654397
20   Sneha    Kolkata     7024194134    1982-07-12   7024194134  +917024194134
21   Sneha    Kolkata  +917437199946    1993-12-28   7437199946  +917437199946
22  Anjali  Bangalore  +918138388038    1981-05-24   8138388038  +918138388038
23   Sneha    Kolkata     9025863300    1986-04-25   9025863300  +919025863300
24  Anjali    Kolkata  +917495712595    1984-09-04   7495712595  +917495712595
25    Neha     Mumbai  +919558656423    1989-06-13   9558656423  +919558656423
26    Neha  Bangalore  +918664317613    2003-06-01   8664317613  +918664317613
27   Priya  Hyderabad  +917152132965    2002-07-19   7152132965  +917152132965
28   Sneha    Lucknow     7551458763    1990-02-09   7551458763  +917551458763
29  Anjali  Hyderabad  +918759074347    1994-11-06   8759074347  +918759074347
30   Pooja  Bangalore  +917485940711    1993-03-30   7485940711  +917485940711
31   Rahul  Ahmedabad  +919186607339    1998-12-18   9186607339  +919186607339
32   Karan    Chennai  +917435082665    1983-09-26   7435082665  +917435082665
33  Anjali  Ahmedabad     9153567895    2004-04-25   9153567895  +919153567895
34   Karan  Hyderabad     9572182119    1989-11-30   9572182119  +919572182119
35  Anjali  Hyderabad  +918682644744    1994-12-17   8682644744  +918682644744
36    Amit     Jaipur     7923611616    2000-02-01   7923611616  +917923611616
37   Priya    Kolkata     7335427940    1986-09-25   7335427940  +917335427940
38   Rohit     Mumbai     9276585169    1986-04-14   9276585169  +919276585169
39   Sneha    Lucknow  +919755830636    1997-11-19   9755830636  +919755830636
40   Rohit     Mumbai     9578452858    2000-03-27   9578452858  +919578452858
41   Rohit    Lucknow     8071175796    1991-07-31   8071175796  +918071175796
42   Sneha       Pune  +917273954168    1984-10-03   7273954168  +917273954168
43  Anjali  Hyderabad     8870997819    1995-06-23   8870997819  +918870997819
44    Amit  Ahmedabad  +919046138069    2001-05-27   9046138069  +919046138069
45   Rahul    Chennai  +918162636255    2005-06-25   8162636255  +918162636255
46  Anjali    Chennai     9462869877    1989-09-08   9462869877  +919462869877
47   Pooja  Hyderabad  +917442796670    1990-02-23   7442796670  +917442796670
48  Vikram  Ahmedabad     7810088275    2000-07-18   7810088275  +917810088275
49   Karan    Chennai  +918612273023    1989-05-26   8612273023  +918612273023

now converting object (date_of_birth) into date time

In [11]:
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            50 non-null     object
 1   city            50 non-null     object
 2   phone_number    50 non-null     object
 3   date_of_birth   50 non-null     datetime64[ns]
 4   clean_num       50 non-null     object
 5   num_with_Ccode  50 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 2.5+ KB

In [13]:
from datetime import datetime

In [14]:
def date_1(x):
    x=x.strftime("%Y-%m-%A")
    return x

In [15]:
df["with_day"]=df["date_of_birth"].apply(date_1)

In [16]:
df

,name,city,phone_number,date_of_birth,clean_num,num_with_Ccode,with_day
0,Vikram,Chennai,7865622012,2004-02-25,7865622012,+917865622012,2004-02-Wednesday
1,Priya,Hyderabad,9456451606,2003-07-18,9456451606,+919456451606,2003-07-Friday
2,Neha,Chennai,9013238427,1991-04-15,9013238427,+919013238427,1991-04-Monday
3,Rohit,Delhi,8131136583,1982-09-29,8131136583,+918131136583,1982-09-Wednesday
4,Priya,Bangalore,+918638474212,2000-11-28,8638474212,+918638474212,2000-11-Tuesday
5,Sneha,Chennai,7811338967,1992-05-14,7811338967,+917811338967,1992-05-Thursday
6,Vikram,Ahmedabad,9841227933,1991-07-25,9841227933,+919841227933,1991-07-Thursday
7,Priya,Ahmedabad,7600069814,1998-03-13,7600069814,+917600069814,1998-03-Friday
8,Rahul,Chennai,+919790226669,1983-11-05,9790226669,+919790226669,1983-11-Saturday
9,Karan,Ahmedabad,+917802126820,2005-08-18,7802126820,+917802126820,2005-08-Thursday
10,Vikram,Lucknow,+918621735971,1982-11-27,8621735971,+918621735971,1982-11-Saturday
11,Pooja,Lucknow,8622796877,1999-11-22,8622796877,+918622796877,1999-11-Monday
12,Sneha,Chennai,9002300956,1999-05-10,9002300956,+919002300956,1999-05-Monday
13,Pooja,Hyderabad,+917362886944,1989-08-01,7362886944,+917362886944,1989-08-Tuesday
14,Amit,Mumbai,+919858261068,1996-07-19,9858261068,+919858261068,1996-07-Friday
15,Amit,Kolkata,9384353757,1982-07-31,9384353757,+919384353757,1982-07-Saturday
16,Sneha,Pune,7146216021,1988-12-02,7146216021,+917146216021,1988-12-Friday
17,Rahul,Jaipur,+917468920610,2003-11-24,7468920610,+917468920610,2003-11-Monday
18,Sneha,Chennai,+918111040932,1989-02-21,8111040932,+918111040932,1989-02-Tuesday
19,Neha,Pune,+919523654397,1999-03-11,9523654397,+919523654397,1999-03-Thursday
20,Sneha,Kolkata,7024194134,1982-07-12,7024194134,+917024194134,1982-07-Monday
21,Sneha,Kolkata,+917437199946,1993-12-28,7437199946,+917437199946,1993-12-Tuesday
22,Anjali,Bangalore,+918138388038,1981-05-24,8138388038,+918138388038,1981-05-Sunday
23,Sneha,Kolkata,9025863300,1986-04-25,9025863300,+919025863300,1986-04-Friday
24,Anjali,Kolkata,+917495712595,1984-09-04,7495712595,+917495712595,1984-09-Tuesday
25,Neha,Mumbai,+919558656423,1989-06-13,9558656423,+919558656423,1989-06-Tuesday
26,Neha,Bangalore,+918664317613,2003-06-01,8664317613,+918664317613,2003-06-Sunday
27,Priya,Hyderabad,+917152132965,2002-07-19,7152132965,+917152132965,2002-07-Friday
28,Sneha,Lucknow,7551458763,1990-02-09,7551458763,+917551458763,1990-02-Friday
29,Anjali,Hyderabad,+918759074347,1994-11-06,8759074347,+918759074347,1994-11-Sunday
30,Pooja,Bangalore,+917485940711,1993-03-30,7485940711,+917485940711,1993-03-Tuesday
31,Rahul,Ahmedabad,+919186607339,1998-12-18,9186607339,+919186607339,1998-12-Friday
32,Karan,Chennai,+917435082665,1983-09-26,7435082665,+917435082665,1983-09-Monday
33,Anjali,Ahmedabad,9153567895,2004-04-25,9153567895,+919153567895,2004-04-Sunday
34,Karan,Hyderabad,9572182119,1989-11-30,9572182119,+919572182119,1989-11-Thursday
35,Anjali,Hyderabad,+918682644744,1994-12-17,8682644744,+918682644744,1994-12-Saturday
36,Amit,Jaipur,7923611616,2000-02-01,7923611616,+917923611616,2000-02-Tuesday
37,Priya,Kolkata,7335427940,1986-09-25,7335427940,+917335427940,1986-09-Thursday
38,Rohit,Mumbai,9276585169,1986-04-14,9276585169,+919276585169,1986-04-Monday
39,Sneha,Lucknow,+919755830636,1997-11-19,9755830636,+919755830636,1997-11-Wednesday
40,Rohit,Mumbai,9578452858,2000-03-27,9578452858,+919578452858,2000-03-Monday
41,Rohit,Lucknow,8071175796,1991-07-31,8071175796,+918071175796,1991-07-Wednesday
42,Sneha,Pune,+917273954168,1984-10-03,7273954168,+917273954168,1984-10-Wednesday
43,Anjali,Hyderabad,8870997819,1995-06-23,8870997819,+918870997819,1995-06-Friday
44,Amit,Ahmedabad,+919046138069,2001-05-27,9046138069,+919046138069,2001-05-Sunday
45,Rahul,Chennai,+918162636255,2005-06-25,8162636255,+918162636255,2005-06-Saturday
46,Anjali,Chennai,9462869877,1989-09-08,9462869877,+919462869877,1989-09-Friday
47,Pooja,Hyderabad,+917442796670,1990-02-23,7442796670,+917442796670,1990-02-Friday
48,Vikram,Ahmedabad,7810088275,2000-07-18,7810088275,+917810088275,2000-07-Tuesday
49,Karan,Chennai,+918612273023,1989-05-26,8612273023,+918612273023,1989-05-Friday

In [17]:
df["with_day"].isout("Monday")

AttributeError: 'Series' object has no attribute 'isout'

In [ ]:
df["with_day"].unique()

array(['1980-12-Wednesday', '1988-05-Wednesday', '1980-03-Saturday',
       '2003-01-Thursday', '2001-03-Saturday', '1981-08-Wednesday',
       '1986-08-Thursday', '1985-12-Tuesday', '1994-11-Thursday',
       '1981-09-Saturday', '1982-10-Saturday', '1981-06-Thursday',
       '1981-07-Tuesday', '2000-05-Monday', '2002-08-Sunday',
       '1991-04-Monday', '1996-02-Sunday', '2000-04-Thursday',
       '1989-02-Tuesday', '2002-07-Monday', '1980-02-Wednesday',
       '1986-02-Wednesday', '2001-06-Tuesday', '2001-06-Friday',
       '2003-04-Saturday', '1994-10-Monday', '2001-12-Tuesday',
       '1984-04-Tuesday', '1990-01-Saturday', '1987-02-Wednesday',
       '2000-06-Tuesday', '1983-08-Thursday', '1998-08-Thursday',
       '1995-08-Sunday', '1986-01-Tuesday', '1987-04-Sunday',
       '1999-06-Wednesday', '1993-04-Wednesday', '2001-02-Thursday',
       '1986-12-Saturday', '1988-01-Friday', '1985-06-Thursday',
       '1981-10-Thursday', '2001-10-Sunday', '1987-12-Thursday',
       '1982-02-Thursday', '1989-01-Monday', '1992-11-Sunday',
       '1989-08-Monday'], dtype=object)