In [85]:
import pandas as pd
import random
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

def generate_phone_number(with_country_code):
    start_digit = str(random.choice([7, 8, 9]))
    number = start_digit + ''.join([str(random.randint(0, 9)) for _ in range(9)])
    if with_country_code:
        return '+91' + number
    else:
        return number

def random_date(start_year=1980, end_year=2005):
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return (start_date + timedelta(days=random_days)).strftime('%Y-%m-%d')

data = {
    'name': [random.choice(names) for _ in range(50)],
    'city': [random.choice(cities) for _ in range(50)],
    'phone_number': [
        generate_phone_number(with_country_code=random.choice([True, False]))
        for _ in range(50)
    ],
    'date_of_birth': [random_date() for _ in range(50)]
}

df = pd.DataFrame(data)

In [86]:
df

      name       city   phone_number date_of_birth
0     Neha     Mumbai  +919726190425    1998-02-19
1    Pooja    Lucknow     7543837106    2001-05-23
2    Rohit     Mumbai  +919977579239    1997-10-09
3     Amit       Pune  +917009317977    1995-04-04
4   Vikram      Delhi     9873735033    2004-07-28
5    Pooja  Bangalore     7773935973    1982-08-29
6    Pooja    Chennai  +919207055512    1996-12-08
7    Sneha  Ahmedabad     7959392641    1990-06-29
8   Vikram    Chennai     7368216413    1985-09-30
9    Pooja    Chennai     8128023752    1993-06-23
10   Karan    Lucknow  +919229986306    1992-10-19
11  Vikram    Kolkata     7706352434    1991-04-08
12  Anjali     Mumbai  +917797194010    1993-11-19
13    Amit  Hyderabad     8182125335    1999-06-12
14    Neha  Ahmedabad     7152936563    1986-01-07
15  Anjali     Jaipur  +917692026903    1999-11-29
16   Pooja    Kolkata     7223727305    1991-12-05
17   Rohit  Ahmedabad     9283294064    1993-12-19
18   Priya     Jaipur     8955947891    1981-08-05
19   Pooja     Mumbai  +918530033581    1982-12-15
20    Amit  Hyderabad  +917230837617    1983-05-23
21   Pooja    Kolkata  +919472887965    1994-09-17
22   Rahul  Hyderabad  +919503586919    2002-05-23
23   Priya      Delhi  +917742780502    1984-05-11
24   Sneha     Mumbai  +918276346172    1996-10-11
25   Karan     Jaipur  +917177617714    2000-09-02
26   Rohit  Bangalore  +919391403328    1994-10-19
27  Anjali    Chennai     8584324758    1995-06-01
28   Rahul    Kolkata  +917454236629    2003-03-24
29  Anjali    Kolkata     9448304789    1980-04-25
30   Pooja       Pune     7245664532    1983-10-29
31   Karan    Kolkata  +918969538878    2001-04-29
32   Rohit     Jaipur     9832488341    1985-07-01
33   Rohit  Hyderabad     7831951762    2005-08-16
34    Neha    Kolkata  +918771330910    1990-01-06
35   Karan  Ahmedabad  +918385463014    1987-07-28
36   Sneha  Hyderabad  +917797952086    1988-10-11
37   Sneha    Lucknow     9447144932    1991-07-23
38   Sneha       Pune     7514044361    1982-05-04
39    Amit     Mumbai     7583277187    1991-08-07
40   Pooja     Jaipur     9806694413    2001-01-08
41   Rohit    Kolkata  +917674861254    2002-09-20
42    Neha       Pune     8725462225    1988-09-21
43    Neha    Chennai     9473148028    1980-02-14
44    Neha     Jaipur     8887205258    1996-04-08
45   Rahul       Pune     8532045742    1984-05-27
46  Vikram      Delhi     8488289999    2005-05-16
47   Priya     Jaipur     8983130574    1997-05-24
48   Karan  Ahmedabad     8510625474    2000-01-27
49   Karan  Bangalore     7002840956    1983-08-08

## removing +91 from mobile number
using startwith

In [87]:
def clean(x):
    if x.startswith("+91"):
        x = x.replace("+91"," ")
    return x

In [88]:
df["phone_number"].apply(clean)

0      9726190425
1      7543837106
2      9977579239
3      7009317977
4      9873735033
5      7773935973
6      9207055512
7      7959392641
8      7368216413
9      8128023752
10     9229986306
11     7706352434
12     7797194010
13     8182125335
14     7152936563
15     7692026903
16     7223727305
17     9283294064
18     8955947891
19     8530033581
20     7230837617
21     9472887965
22     9503586919
23     7742780502
24     8276346172
25     7177617714
26     9391403328
27     8584324758
28     7454236629
29     9448304789
30     7245664532
31     8969538878
32     9832488341
33     7831951762
34     8771330910
35     8385463014
36     7797952086
37     9447144932
38     7514044361
39     7583277187
40     9806694413
41     7674861254
42     8725462225
43     9473148028
44     8887205258
45     8532045742
46     8488289999
47     8983130574
48     8510625474
49     7002840956
Name: phone_number, dtype: object

storing data in to another column

In [89]:
df["clean_num"]= df["phone_number"].apply(clean)

## now add +91 in number

In [90]:
def add(x):
    if len(x) == 10:
        x = "+91"+x
    return x

In [91]:
df["clean_num"].apply(add)

0        9726190425
1     +917543837106
2        9977579239
3        7009317977
4     +919873735033
5     +917773935973
6        9207055512
7     +917959392641
8     +917368216413
9     +918128023752
10       9229986306
11    +917706352434
12       7797194010
13    +918182125335
14    +917152936563
15       7692026903
16    +917223727305
17    +919283294064
18    +918955947891
19       8530033581
20       7230837617
21       9472887965
22       9503586919
23       7742780502
24       8276346172
25       7177617714
26       9391403328
27    +918584324758
28       7454236629
29    +919448304789
30    +917245664532
31       8969538878
32    +919832488341
33    +917831951762
34       8771330910
35       8385463014
36       7797952086
37    +919447144932
38    +917514044361
39    +917583277187
40    +919806694413
41       7674861254
42    +918725462225
43    +919473148028
44    +918887205258
45    +918532045742
46    +918488289999
47    +918983130574
48    +918510625474
49    +917002840956
Name: clean_num, dtype: object

storing +91 data in to another colums

In [92]:
df["num_with_Ccode"]=df["phone_number"].apply(add)

In [93]:
df

      name       city   phone_number date_of_birth    clean_num num_with_Ccode
0     Neha     Mumbai  +919726190425    1998-02-19   9726190425  +919726190425
1    Pooja    Lucknow     7543837106    2001-05-23   7543837106  +917543837106
2    Rohit     Mumbai  +919977579239    1997-10-09   9977579239  +919977579239
3     Amit       Pune  +917009317977    1995-04-04   7009317977  +917009317977
4   Vikram      Delhi     9873735033    2004-07-28   9873735033  +919873735033
5    Pooja  Bangalore     7773935973    1982-08-29   7773935973  +917773935973
6    Pooja    Chennai  +919207055512    1996-12-08   9207055512  +919207055512
7    Sneha  Ahmedabad     7959392641    1990-06-29   7959392641  +917959392641
8   Vikram    Chennai     7368216413    1985-09-30   7368216413  +917368216413
9    Pooja    Chennai     8128023752    1993-06-23   8128023752  +918128023752
10   Karan    Lucknow  +919229986306    1992-10-19   9229986306  +919229986306
11  Vikram    Kolkata     7706352434    1991-04-08   7706352434  +917706352434
12  Anjali     Mumbai  +917797194010    1993-11-19   7797194010  +917797194010
13    Amit  Hyderabad     8182125335    1999-06-12   8182125335  +918182125335
14    Neha  Ahmedabad     7152936563    1986-01-07   7152936563  +917152936563
15  Anjali     Jaipur  +917692026903    1999-11-29   7692026903  +917692026903
16   Pooja    Kolkata     7223727305    1991-12-05   7223727305  +917223727305
17   Rohit  Ahmedabad     9283294064    1993-12-19   9283294064  +919283294064
18   Priya     Jaipur     8955947891    1981-08-05   8955947891  +918955947891
19   Pooja     Mumbai  +918530033581    1982-12-15   8530033581  +918530033581
20    Amit  Hyderabad  +917230837617    1983-05-23   7230837617  +917230837617
21   Pooja    Kolkata  +919472887965    1994-09-17   9472887965  +919472887965
22   Rahul  Hyderabad  +919503586919    2002-05-23   9503586919  +919503586919
23   Priya      Delhi  +917742780502    1984-05-11   7742780502  +917742780502
24   Sneha     Mumbai  +918276346172    1996-10-11   8276346172  +918276346172
25   Karan     Jaipur  +917177617714    2000-09-02   7177617714  +917177617714
26   Rohit  Bangalore  +919391403328    1994-10-19   9391403328  +919391403328
27  Anjali    Chennai     8584324758    1995-06-01   8584324758  +918584324758
28   Rahul    Kolkata  +917454236629    2003-03-24   7454236629  +917454236629
29  Anjali    Kolkata     9448304789    1980-04-25   9448304789  +919448304789
30   Pooja       Pune     7245664532    1983-10-29   7245664532  +917245664532
31   Karan    Kolkata  +918969538878    2001-04-29   8969538878  +918969538878
32   Rohit     Jaipur     9832488341    1985-07-01   9832488341  +919832488341
33   Rohit  Hyderabad     7831951762    2005-08-16   7831951762  +917831951762
34    Neha    Kolkata  +918771330910    1990-01-06   8771330910  +918771330910
35   Karan  Ahmedabad  +918385463014    1987-07-28   8385463014  +918385463014
36   Sneha  Hyderabad  +917797952086    1988-10-11   7797952086  +917797952086
37   Sneha    Lucknow     9447144932    1991-07-23   9447144932  +919447144932
38   Sneha       Pune     7514044361    1982-05-04   7514044361  +917514044361
39    Amit     Mumbai     7583277187    1991-08-07   7583277187  +917583277187
40   Pooja     Jaipur     9806694413    2001-01-08   9806694413  +919806694413
41   Rohit    Kolkata  +917674861254    2002-09-20   7674861254  +917674861254
42    Neha       Pune     8725462225    1988-09-21   8725462225  +918725462225
43    Neha    Chennai     9473148028    1980-02-14   9473148028  +919473148028
44    Neha     Jaipur     8887205258    1996-04-08   8887205258  +918887205258
45   Rahul       Pune     8532045742    1984-05-27   8532045742  +918532045742
46  Vikram      Delhi     8488289999    2005-05-16   8488289999  +918488289999
47   Priya     Jaipur     8983130574    1997-05-24   8983130574  +918983130574
48   Karan  Ahmedabad     8510625474    2000-01-27   8510625474  +918510625474
49   Karan  Bangalore     7002840956    1983-08-08   7002840956  +917002840956

now converting object (date_of_birth) into date time

In [103]:
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"])

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            50 non-null     object
 1   city            50 non-null     object
 2   phone_number    50 non-null     object
 3   date_of_birth   50 non-null     datetime64[ns]
 4   clean_num       50 non-null     object
 5   num_with_Ccode  50 non-null     object
 6   with_day        50 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 2.9+ KB

In [96]:
from datetime import datetime

In [111]:
def date_1(x):
    x=x.strftime("%Y-%m-%A")
    return x

In [112]:
df["with_day"]=df["date_of_birth"].apply(date_1)

In [113]:
df

,name,city,phone_number,date_of_birth,clean_num,num_with_Ccode,with_day
0,Neha,Mumbai,+919726190425,1998-02-19,9726190425,+919726190425,1998-02-Thursday
1,Pooja,Lucknow,7543837106,2001-05-23,7543837106,+917543837106,2001-05-Wednesday
2,Rohit,Mumbai,+919977579239,1997-10-09,9977579239,+919977579239,1997-10-Thursday
3,Amit,Pune,+917009317977,1995-04-04,7009317977,+917009317977,1995-04-Tuesday
4,Vikram,Delhi,9873735033,2004-07-28,9873735033,+919873735033,2004-07-Wednesday
5,Pooja,Bangalore,7773935973,1982-08-29,7773935973,+917773935973,1982-08-Sunday
6,Pooja,Chennai,+919207055512,1996-12-08,9207055512,+919207055512,1996-12-Sunday
7,Sneha,Ahmedabad,7959392641,1990-06-29,7959392641,+917959392641,1990-06-Friday
8,Vikram,Chennai,7368216413,1985-09-30,7368216413,+917368216413,1985-09-Monday
9,Pooja,Chennai,8128023752,1993-06-23,8128023752,+918128023752,1993-06-Wednesday
10,Karan,Lucknow,+919229986306,1992-10-19,9229986306,+919229986306,1992-10-Monday
11,Vikram,Kolkata,7706352434,1991-04-08,7706352434,+917706352434,1991-04-Monday
12,Anjali,Mumbai,+917797194010,1993-11-19,7797194010,+917797194010,1993-11-Friday
13,Amit,Hyderabad,8182125335,1999-06-12,8182125335,+918182125335,1999-06-Saturday
14,Neha,Ahmedabad,7152936563,1986-01-07,7152936563,+917152936563,1986-01-Tuesday
15,Anjali,Jaipur,+917692026903,1999-11-29,7692026903,+917692026903,1999-11-Monday
16,Pooja,Kolkata,7223727305,1991-12-05,7223727305,+917223727305,1991-12-Thursday
17,Rohit,Ahmedabad,9283294064,1993-12-19,9283294064,+919283294064,1993-12-Sunday
18,Priya,Jaipur,8955947891,1981-08-05,8955947891,+918955947891,1981-08-Wednesday
19,Pooja,Mumbai,+918530033581,1982-12-15,8530033581,+918530033581,1982-12-Wednesday
20,Amit,Hyderabad,+917230837617,1983-05-23,7230837617,+917230837617,1983-05-Monday
21,Pooja,Kolkata,+919472887965,1994-09-17,9472887965,+919472887965,1994-09-Saturday
22,Rahul,Hyderabad,+919503586919,2002-05-23,9503586919,+919503586919,2002-05-Thursday
23,Priya,Delhi,+917742780502,1984-05-11,7742780502,+917742780502,1984-05-Friday
24,Sneha,Mumbai,+918276346172,1996-10-11,8276346172,+918276346172,1996-10-Friday
25,Karan,Jaipur,+917177617714,2000-09-02,7177617714,+917177617714,2000-09-Saturday
26,Rohit,Bangalore,+919391403328,1994-10-19,9391403328,+919391403328,1994-10-Wednesday
27,Anjali,Chennai,8584324758,1995-06-01,8584324758,+918584324758,1995-06-Thursday
28,Rahul,Kolkata,+917454236629,2003-03-24,7454236629,+917454236629,2003-03-Monday
29,Anjali,Kolkata,9448304789,1980-04-25,9448304789,+919448304789,1980-04-Friday
30,Pooja,Pune,7245664532,1983-10-29,7245664532,+917245664532,1983-10-Saturday
31,Karan,Kolkata,+918969538878,2001-04-29,8969538878,+918969538878,2001-04-Sunday
32,Rohit,Jaipur,9832488341,1985-07-01,9832488341,+919832488341,1985-07-Monday
33,Rohit,Hyderabad,7831951762,2005-08-16,7831951762,+917831951762,2005-08-Tuesday
34,Neha,Kolkata,+918771330910,1990-01-06,8771330910,+918771330910,1990-01-Saturday
35,Karan,Ahmedabad,+918385463014,1987-07-28,8385463014,+918385463014,1987-07-Tuesday
36,Sneha,Hyderabad,+917797952086,1988-10-11,7797952086,+917797952086,1988-10-Tuesday
37,Sneha,Lucknow,9447144932,1991-07-23,9447144932,+919447144932,1991-07-Tuesday
38,Sneha,Pune,7514044361,1982-05-04,7514044361,+917514044361,1982-05-Tuesday
39,Amit,Mumbai,7583277187,1991-08-07,7583277187,+917583277187,1991-08-Wednesday
40,Pooja,Jaipur,9806694413,2001-01-08,9806694413,+919806694413,2001-01-Monday
41,Rohit,Kolkata,+917674861254,2002-09-20,7674861254,+917674861254,2002-09-Friday
42,Neha,Pune,8725462225,1988-09-21,8725462225,+918725462225,1988-09-Wednesday
43,Neha,Chennai,9473148028,1980-02-14,9473148028,+919473148028,1980-02-Thursday
44,Neha,Jaipur,8887205258,1996-04-08,8887205258,+918887205258,1996-04-Monday
45,Rahul,Pune,8532045742,1984-05-27,8532045742,+918532045742,1984-05-Sunday
46,Vikram,Delhi,8488289999,2005-05-16,8488289999,+918488289999,2005-05-Monday
47,Priya,Jaipur,8983130574,1997-05-24,8983130574,+918983130574,1997-05-Saturday
48,Karan,Ahmedabad,8510625474,2000-01-27,8510625474,+918510625474,2000-01-Thursday
49,Karan,Bangalore,7002840956,1983-08-08,7002840956,+917002840956,1983-08-Monday

In [ ]:
df["with_day"].isout("Monday")

AttributeError: 'Series' object has no attribute 'isout'

In [ ]:
df["with_day"].unique()

array(['1980-12-Wednesday', '1988-05-Wednesday', '1980-03-Saturday',
       '2003-01-Thursday', '2001-03-Saturday', '1981-08-Wednesday',
       '1986-08-Thursday', '1985-12-Tuesday', '1994-11-Thursday',
       '1981-09-Saturday', '1982-10-Saturday', '1981-06-Thursday',
       '1981-07-Tuesday', '2000-05-Monday', '2002-08-Sunday',
       '1991-04-Monday', '1996-02-Sunday', '2000-04-Thursday',
       '1989-02-Tuesday', '2002-07-Monday', '1980-02-Wednesday',
       '1986-02-Wednesday', '2001-06-Tuesday', '2001-06-Friday',
       '2003-04-Saturday', '1994-10-Monday', '2001-12-Tuesday',
       '1984-04-Tuesday', '1990-01-Saturday', '1987-02-Wednesday',
       '2000-06-Tuesday', '1983-08-Thursday', '1998-08-Thursday',
       '1995-08-Sunday', '1986-01-Tuesday', '1987-04-Sunday',
       '1999-06-Wednesday', '1993-04-Wednesday', '2001-02-Thursday',
       '1986-12-Saturday', '1988-01-Friday', '1985-06-Thursday',
       '1981-10-Thursday', '2001-10-Sunday', '1987-12-Thursday',
       '1982-02-Thursday', '1989-01-Monday', '1992-11-Sunday',
       '1989-08-Monday'], dtype=object)