In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

names = ['Amit', 'Priya', 'Rahul', 'Sneha', 'Vikram', 'Neha', 'Rohit', 'Anjali', 'Karan', 'Pooja']
cities = ['Delhi', 'Mumbai', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Pune', 'Ahmedabad', 'Jaipur', 'Lucknow']

def generate_phone_number(with_country_code):
    start_digit = str(random.choice([7, 8, 9]))
    number = start_digit + ''.join([str(random.randint(0, 9)) for _ in range(9)])
    if with_country_code:
        return '+91' + number
    else:
        return number

def random_date(start_year=1980, end_year=2005):
    start_date = datetime(start_year, 1, 1)
    end_date = datetime(end_year, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return (start_date + timedelta(days=random_days)).strftime('%Y-%m-%d')

data = {
    'name': [random.choice(names) for _ in range(50)],
    'city': [random.choice(cities) for _ in range(50)],
    'phone_number': [
        generate_phone_number(with_country_code=random.choice([True, False]))
        for _ in range(50)
    ],
    'date_of_birth': [random_date() for _ in range(50)]
}

df = pd.DataFrame(data)

In [2]:
df

      name       city   phone_number date_of_birth
0    Priya      Delhi  +919028776710    2000-09-09
1     Neha      Delhi  +917951169976    1996-12-14
2    Karan  Hyderabad  +919411763164    1981-06-04
3   Anjali    Lucknow  +917838526168    1988-12-27
4     Amit      Delhi  +917107488979    1988-09-24
5     Neha  Bangalore  +918638821945    2003-03-10
6     Neha    Kolkata  +919790097321    1996-03-11
7   Vikram     Jaipur  +917754439912    2000-01-15
8    Karan  Bangalore     7252530465    1987-07-17
9    Rahul       Pune  +919309034203    1989-12-05
10   Sneha     Jaipur     8311365673    1992-06-21
11   Karan    Kolkata     7556694365    2004-12-28
12   Pooja      Delhi  +917527029222    2000-10-09
13   Rahul  Hyderabad  +919768668742    1985-04-20
14   Rohit    Lucknow     9530078068    2000-08-29
15    Amit  Ahmedabad  +919608654265    1982-02-03
16    Neha     Mumbai  +918055673172    1992-07-14
17   Karan  Ahmedabad  +919112590482    1990-04-22
18  Vikram     Mumbai     9679388100    1995-07-11
19   Sneha    Lucknow  +918332855894    2004-06-01
20   Pooja     Jaipur  +919071910765    1991-06-04
21  Anjali    Lucknow  +918866847133    1997-05-16
22   Rohit     Jaipur     8958598555    1989-10-30
23   Rahul       Pune  +919261000338    1997-09-19
24   Rohit    Kolkata     9284590573    1980-01-24
25   Karan  Ahmedabad     9672243921    1996-10-24
26  Anjali    Kolkata     7258092323    1992-07-20
27   Rahul  Hyderabad  +918025564855    2003-08-07
28  Anjali    Chennai  +919657233751    1997-04-07
29   Rahul    Kolkata     8056947056    2002-04-30
30    Neha    Lucknow     9770828006    2003-10-05
31  Anjali    Kolkata     9904629542    1982-11-23
32   Sneha       Pune     8866309210    2002-10-30
33    Amit      Delhi  +918334523429    1991-06-04
34   Priya     Jaipur     7710324722    1995-12-26
35   Pooja       Pune     9589084376    1995-01-21
36   Karan    Chennai     7249047054    1986-06-23
37   Priya     Jaipur     8493536555    2000-09-11
38   Rahul    Chennai  +919112714632    1991-10-13
39   Sneha    Kolkata     7662283962    1996-12-12
40    Neha       Pune     8454157831    1989-04-04
41   Sneha    Lucknow     7222828930    1994-05-22
42    Neha  Bangalore     7125752714    1995-07-15
43  Anjali  Ahmedabad     8416816015    1998-05-03
44    Amit    Chennai     7118585596    1981-06-19
45  Vikram    Lucknow  +917936163981    2002-06-29
46  Anjali      Delhi  +917948520999    1998-07-25
47   Priya    Kolkata  +919566732906    1990-06-04
48    Neha    Lucknow  +919586874174    2002-12-19
49    Neha  Hyderabad  +917671858451    2003-03-30

## removing +91 from mobile number
using startwith

In [3]:
def clean(x):
    if x.startswith("+91"):
        x = x.replace("+91"," ")
    return x

In [4]:
df["phone_number"].apply(clean)

0      9028776710
1      7951169976
2      9411763164
3      7838526168
4      7107488979
5      8638821945
6      9790097321
7      7754439912
8      7252530465
9      9309034203
10     8311365673
11     7556694365
12     7527029222
13     9768668742
14     9530078068
15     9608654265
16     8055673172
17     9112590482
18     9679388100
19     8332855894
20     9071910765
21     8866847133
22     8958598555
23     9261000338
24     9284590573
25     9672243921
26     7258092323
27     8025564855
28     9657233751
29     8056947056
30     9770828006
31     9904629542
32     8866309210
33     8334523429
34     7710324722
35     9589084376
36     7249047054
37     8493536555
38     9112714632
39     7662283962
40     8454157831
41     7222828930
42     7125752714
43     8416816015
44     7118585596
45     7936163981
46     7948520999
47     9566732906
48     9586874174
49     7671858451
Name: phone_number, dtype: object

storing data in to another column

In [5]:
df["clean_num"]= df["phone_number"].apply(clean)

## now add +91 in number

In [6]:
def add(x):
    if len(x) == 10:
        x = "+91"+x
    return x

storing +91 data in to another colums

In [7]:
df["num_with_Ccode"]=df["phone_number"].apply(add)

In [8]:
df

      name       city   phone_number date_of_birth    clean_num num_with_Ccode
0    Priya      Delhi  +919028776710    2000-09-09   9028776710  +919028776710
1     Neha      Delhi  +917951169976    1996-12-14   7951169976  +917951169976
2    Karan  Hyderabad  +919411763164    1981-06-04   9411763164  +919411763164
3   Anjali    Lucknow  +917838526168    1988-12-27   7838526168  +917838526168
4     Amit      Delhi  +917107488979    1988-09-24   7107488979  +917107488979
5     Neha  Bangalore  +918638821945    2003-03-10   8638821945  +918638821945
6     Neha    Kolkata  +919790097321    1996-03-11   9790097321  +919790097321
7   Vikram     Jaipur  +917754439912    2000-01-15   7754439912  +917754439912
8    Karan  Bangalore     7252530465    1987-07-17   7252530465  +917252530465
9    Rahul       Pune  +919309034203    1989-12-05   9309034203  +919309034203
10   Sneha     Jaipur     8311365673    1992-06-21   8311365673  +918311365673
11   Karan    Kolkata     7556694365    2004-12-28   7556694365  +917556694365
12   Pooja      Delhi  +917527029222    2000-10-09   7527029222  +917527029222
13   Rahul  Hyderabad  +919768668742    1985-04-20   9768668742  +919768668742
14   Rohit    Lucknow     9530078068    2000-08-29   9530078068  +919530078068
15    Amit  Ahmedabad  +919608654265    1982-02-03   9608654265  +919608654265
16    Neha     Mumbai  +918055673172    1992-07-14   8055673172  +918055673172
17   Karan  Ahmedabad  +919112590482    1990-04-22   9112590482  +919112590482
18  Vikram     Mumbai     9679388100    1995-07-11   9679388100  +919679388100
19   Sneha    Lucknow  +918332855894    2004-06-01   8332855894  +918332855894
20   Pooja     Jaipur  +919071910765    1991-06-04   9071910765  +919071910765
21  Anjali    Lucknow  +918866847133    1997-05-16   8866847133  +918866847133
22   Rohit     Jaipur     8958598555    1989-10-30   8958598555  +918958598555
23   Rahul       Pune  +919261000338    1997-09-19   9261000338  +919261000338
24   Rohit    Kolkata     9284590573    1980-01-24   9284590573  +919284590573
25   Karan  Ahmedabad     9672243921    1996-10-24   9672243921  +919672243921
26  Anjali    Kolkata     7258092323    1992-07-20   7258092323  +917258092323
27   Rahul  Hyderabad  +918025564855    2003-08-07   8025564855  +918025564855
28  Anjali    Chennai  +919657233751    1997-04-07   9657233751  +919657233751
29   Rahul    Kolkata     8056947056    2002-04-30   8056947056  +918056947056
30    Neha    Lucknow     9770828006    2003-10-05   9770828006  +919770828006
31  Anjali    Kolkata     9904629542    1982-11-23   9904629542  +919904629542
32   Sneha       Pune     8866309210    2002-10-30   8866309210  +918866309210
33    Amit      Delhi  +918334523429    1991-06-04   8334523429  +918334523429
34   Priya     Jaipur     7710324722    1995-12-26   7710324722  +917710324722
35   Pooja       Pune     9589084376    1995-01-21   9589084376  +919589084376
36   Karan    Chennai     7249047054    1986-06-23   7249047054  +917249047054
37   Priya     Jaipur     8493536555    2000-09-11   8493536555  +918493536555
38   Rahul    Chennai  +919112714632    1991-10-13   9112714632  +919112714632
39   Sneha    Kolkata     7662283962    1996-12-12   7662283962  +917662283962
40    Neha       Pune     8454157831    1989-04-04   8454157831  +918454157831
41   Sneha    Lucknow     7222828930    1994-05-22   7222828930  +917222828930
42    Neha  Bangalore     7125752714    1995-07-15   7125752714  +917125752714
43  Anjali  Ahmedabad     8416816015    1998-05-03   8416816015  +918416816015
44    Amit    Chennai     7118585596    1981-06-19   7118585596  +917118585596
45  Vikram    Lucknow  +917936163981    2002-06-29   7936163981  +917936163981
46  Anjali      Delhi  +917948520999    1998-07-25   7948520999  +917948520999
47   Priya    Kolkata  +919566732906    1990-06-04   9566732906  +919566732906
48    Neha    Lucknow  +919586874174    2002-12-19   9586874174  +919586874174
49    Neha  Hyderabad  +917671858451    2003-03-30   7671858451  +917671858451

now converting object (date_of_birth) into date time

In [9]:
df["date_of_birth"] = pd.to_datetime(df["date_of_birth"])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            50 non-null     object
 1   city            50 non-null     object
 2   phone_number    50 non-null     object
 3   date_of_birth   50 non-null     datetime64[ns]
 4   clean_num       50 non-null     object
 5   num_with_Ccode  50 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 2.5+ KB

In [11]:
from datetime import datetime

In [19]:
def date_1(x):
    x=x.strftime("%A")

    return x

In [20]:
date_1(df["date_of_birth"][0])

'Saturday'

In [21]:
df["with_day"]=df["date_of_birth"].apply(date_1)

In [22]:
df

,name,city,phone_number,date_of_birth,clean_num,num_with_Ccode,with_day
0,Priya,Delhi,+919028776710,2000-09-09,9028776710,+919028776710,Saturday
1,Neha,Delhi,+917951169976,1996-12-14,7951169976,+917951169976,Saturday
2,Karan,Hyderabad,+919411763164,1981-06-04,9411763164,+919411763164,Thursday
3,Anjali,Lucknow,+917838526168,1988-12-27,7838526168,+917838526168,Tuesday
4,Amit,Delhi,+917107488979,1988-09-24,7107488979,+917107488979,Saturday
5,Neha,Bangalore,+918638821945,2003-03-10,8638821945,+918638821945,Monday
6,Neha,Kolkata,+919790097321,1996-03-11,9790097321,+919790097321,Monday
7,Vikram,Jaipur,+917754439912,2000-01-15,7754439912,+917754439912,Saturday
8,Karan,Bangalore,7252530465,1987-07-17,7252530465,+917252530465,Friday
9,Rahul,Pune,+919309034203,1989-12-05,9309034203,+919309034203,Tuesday
10,Sneha,Jaipur,8311365673,1992-06-21,8311365673,+918311365673,Sunday
11,Karan,Kolkata,7556694365,2004-12-28,7556694365,+917556694365,Tuesday
12,Pooja,Delhi,+917527029222,2000-10-09,7527029222,+917527029222,Monday
13,Rahul,Hyderabad,+919768668742,1985-04-20,9768668742,+919768668742,Saturday
14,Rohit,Lucknow,9530078068,2000-08-29,9530078068,+919530078068,Tuesday
15,Amit,Ahmedabad,+919608654265,1982-02-03,9608654265,+919608654265,Wednesday
16,Neha,Mumbai,+918055673172,1992-07-14,8055673172,+918055673172,Tuesday
17,Karan,Ahmedabad,+919112590482,1990-04-22,9112590482,+919112590482,Sunday
18,Vikram,Mumbai,9679388100,1995-07-11,9679388100,+919679388100,Tuesday
19,Sneha,Lucknow,+918332855894,2004-06-01,8332855894,+918332855894,Tuesday
20,Pooja,Jaipur,+919071910765,1991-06-04,9071910765,+919071910765,Tuesday
21,Anjali,Lucknow,+918866847133,1997-05-16,8866847133,+918866847133,Friday
22,Rohit,Jaipur,8958598555,1989-10-30,8958598555,+918958598555,Monday
23,Rahul,Pune,+919261000338,1997-09-19,9261000338,+919261000338,Friday
24,Rohit,Kolkata,9284590573,1980-01-24,9284590573,+919284590573,Thursday
25,Karan,Ahmedabad,9672243921,1996-10-24,9672243921,+919672243921,Thursday
26,Anjali,Kolkata,7258092323,1992-07-20,7258092323,+917258092323,Monday
27,Rahul,Hyderabad,+918025564855,2003-08-07,8025564855,+918025564855,Thursday
28,Anjali,Chennai,+919657233751,1997-04-07,9657233751,+919657233751,Monday
29,Rahul,Kolkata,8056947056,2002-04-30,8056947056,+918056947056,Tuesday
30,Neha,Lucknow,9770828006,2003-10-05,9770828006,+919770828006,Sunday
31,Anjali,Kolkata,9904629542,1982-11-23,9904629542,+919904629542,Tuesday
32,Sneha,Pune,8866309210,2002-10-30,8866309210,+918866309210,Wednesday
33,Amit,Delhi,+918334523429,1991-06-04,8334523429,+918334523429,Tuesday
34,Priya,Jaipur,7710324722,1995-12-26,7710324722,+917710324722,Tuesday
35,Pooja,Pune,9589084376,1995-01-21,9589084376,+919589084376,Saturday
36,Karan,Chennai,7249047054,1986-06-23,7249047054,+917249047054,Monday
37,Priya,Jaipur,8493536555,2000-09-11,8493536555,+918493536555,Monday
38,Rahul,Chennai,+919112714632,1991-10-13,9112714632,+919112714632,Sunday
39,Sneha,Kolkata,7662283962,1996-12-12,7662283962,+917662283962,Thursday
40,Neha,Pune,8454157831,1989-04-04,8454157831,+918454157831,Tuesday
41,Sneha,Lucknow,7222828930,1994-05-22,7222828930,+917222828930,Sunday
42,Neha,Bangalore,7125752714,1995-07-15,7125752714,+917125752714,Saturday
43,Anjali,Ahmedabad,8416816015,1998-05-03,8416816015,+918416816015,Sunday
44,Amit,Chennai,7118585596,1981-06-19,7118585596,+917118585596,Friday
45,Vikram,Lucknow,+917936163981,2002-06-29,7936163981,+917936163981,Saturday
46,Anjali,Delhi,+917948520999,1998-07-25,7948520999,+917948520999,Saturday
47,Priya,Kolkata,+919566732906,1990-06-04,9566732906,+919566732906,Monday
48,Neha,Lucknow,+919586874174,2002-12-19,9586874174,+919586874174,Thursday
49,Neha,Hyderabad,+917671858451,2003-03-30,7671858451,+917671858451,Sunday

In [24]:
df[df["with_day"] == "Monday"]

,name,city,phone_number,date_of_birth,clean_num,num_with_Ccode,with_day
5,Neha,Bangalore,+918638821945,2003-03-10,8638821945,+918638821945,Monday
6,Neha,Kolkata,+919790097321,1996-03-11,9790097321,+919790097321,Monday
12,Pooja,Delhi,+917527029222,2000-10-09,7527029222,+917527029222,Monday
22,Rohit,Jaipur,8958598555,1989-10-30,8958598555,+918958598555,Monday
26,Anjali,Kolkata,7258092323,1992-07-20,7258092323,+917258092323,Monday
28,Anjali,Chennai,+919657233751,1997-04-07,9657233751,+919657233751,Monday
36,Karan,Chennai,7249047054,1986-06-23,7249047054,+917249047054,Monday
37,Priya,Jaipur,8493536555,2000-09-11,8493536555,+918493536555,Monday
47,Priya,Kolkata,+919566732906,1990-06-04,9566732906,+919566732906,Monday

In [ ]:
df["with_day"].unique()

array(['1980-12-Wednesday', '1988-05-Wednesday', '1980-03-Saturday',
       '2003-01-Thursday', '2001-03-Saturday', '1981-08-Wednesday',
       '1986-08-Thursday', '1985-12-Tuesday', '1994-11-Thursday',
       '1981-09-Saturday', '1982-10-Saturday', '1981-06-Thursday',
       '1981-07-Tuesday', '2000-05-Monday', '2002-08-Sunday',
       '1991-04-Monday', '1996-02-Sunday', '2000-04-Thursday',
       '1989-02-Tuesday', '2002-07-Monday', '1980-02-Wednesday',
       '1986-02-Wednesday', '2001-06-Tuesday', '2001-06-Friday',
       '2003-04-Saturday', '1994-10-Monday', '2001-12-Tuesday',
       '1984-04-Tuesday', '1990-01-Saturday', '1987-02-Wednesday',
       '2000-06-Tuesday', '1983-08-Thursday', '1998-08-Thursday',
       '1995-08-Sunday', '1986-01-Tuesday', '1987-04-Sunday',
       '1999-06-Wednesday', '1993-04-Wednesday', '2001-02-Thursday',
       '1986-12-Saturday', '1988-01-Friday', '1985-06-Thursday',
       '1981-10-Thursday', '2001-10-Sunday', '1987-12-Thursday',
       '1982-02-Thursday', '1989-01-Monday', '1992-11-Sunday',
       '1989-08-Monday'], dtype=object)

In [16]:
pd.to_datetime(df["date_of_birth"]).dt.day_name()

0      Saturday
1      Saturday
2      Thursday
3       Tuesday
4      Saturday
5        Monday
6        Monday
7      Saturday
8        Friday
9       Tuesday
10       Sunday
11      Tuesday
12       Monday
13     Saturday
14      Tuesday
15    Wednesday
16      Tuesday
17       Sunday
18      Tuesday
19      Tuesday
20      Tuesday
21       Friday
22       Monday
23       Friday
24     Thursday
25     Thursday
26       Monday
27     Thursday
28       Monday
29      Tuesday
30       Sunday
31      Tuesday
32    Wednesday
33      Tuesday
34      Tuesday
35     Saturday
36       Monday
37       Monday
38       Sunday
39     Thursday
40      Tuesday
41       Sunday
42     Saturday
43       Sunday
44       Friday
45     Saturday
46     Saturday
47       Monday
48     Thursday
49       Sunday
Name: date_of_birth, dtype: object

In [1]:
x = -50

In [2]:
x =abs(x)

In [3]:
x

50