###  college dataset

#### importing pandas lab

In [1]:
import pandas as pd

#### importing csv dataset  file  (pavan-college.csv)

In [3]:
df= pd.read_csv("csv data files/pavan-college.csv")

In [5]:
df.sample(5)

,College_ID,College_Name,City,State,Type,Established_Year,Total_Students,NIRF_Rank,Average_Package_LPA,Highest_Package_LPA,Placement_Rate,Faculty_Count,Student_Faculty_Ratio,Campus_Size_Acres,Accreditation,Courses_Offered,Hostel_Capacity,Library_Books,Research_Papers,College_Rating
1,C002,IIT Delhi,New Delhi,Delhi,Government,1961,11200,2,17.8,58.0,94.8,720,15,525,A++,45,5200,520000,3120,4.7
14,C015,BIT Mesra,Ranchi,Jharkhand,Private,1955,12500,30,6.5,30.0,78.5,720,17,780,A,45,5200,285000,1420,4.0
33,C034,Panjab University,Chandigarh,Punjab,Government,1882,18500,64,4.5,18.0,69.8,1250,15,550,A,85,6500,950000,1850,3.9
6,C007,BITS Pilani,Pilani,Rajasthan,Private,1964,18500,25,9.8,35.0,88.5,1200,15,328,A+,48,8500,380000,1850,4.4
30,C031,NIT Warangal,Warangal,Telangana,Government,1959,7800,21,9.2,40.0,87.5,450,17,256,A+,30,3200,285000,1520,4.2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   College_ID             40 non-null     object
 1   College_Name           40 non-null     object
 2   City                   40 non-null     object
 3   State                  40 non-null     object
 4   Type                   40 non-null     object
 5   Established_Year       40 non-null     int64
 6   Total_Students         40 non-null     int64
 7   NIRF_Rank              40 non-null     int64
 8   Average_Package_LPA    40 non-null     float64
 9   Highest_Package_LPA    40 non-null     float64
 10  Placement_Rate         40 non-null     float64
 11  Faculty_Count          40 non-null     int64
 12  Student_Faculty_Ratio  40 non-null     int64
 13  Campus_Size_Acres      40 non-null     int64
 14  Accreditation          40 non-null     object
 15  Courses_Offered        40 non-null     int64
 16  Hostel_Capacity        40 non-null     int64
 17  Library_Books          40 non-null     int64
 18  Research_Papers        40 non-null     int64
 19  College_Rating         40 non-null     float64
dtypes: float64(4), int64(10), object(6)
memory usage: 6.4+ KB