## ✅ Handling Null Values in Pandas — Full Detailed Notes

##### In data science, null values (missing data) are very common. Pandas provides many powerful functions to identify, clean, replace, and handle missing values.

## ⭐ 1. Types of Missing Values in Pandas

### In pandas, missing data can appear as:



##### Type	Meaning
##### NaN	Not a Number (float missing value)
##### None	Python’s None (object missing value)
 ##### NaT	Not a Time (datetime missing value)

### 2. Check Null Values
##### ✔ 2.1 isnull()

Returns True where value is null.

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("csv data files/indian_college_messy_data.csv")

In [3]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,PATRICK PRASAD,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,teerth mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,YES
3,STU20212477,TRIYA BIR,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,jacob merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,no
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,N
509,STU20223417,ABDUL DUGAR,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes

In [ ]:
df[df["phone"].isnull()

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
3,STU20212477,TRIYA BIR,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,NO
16,STU20227704,Yahvi Sampath,CHATURA15@EXAMPLE.COM,NaN,-26,female,M.Tech,Mechanical,3,8.89,69.3,Amritsar,TN,2022-06-19,No,Y
30,STU20239210,HARSHIL SANKARAN,vtandon@example.net,NaN,25,MALE,M.E,Mechanical,1,-8.31,90.9,Ghaziabad,KL,10-05-2025,True,YES
42,STU20215853,Pratyush Dhar,jboase@example.net,NaN,20,FEMALE,M.Tech,Mechanical,1,8.54,67.6,Anantapur,Maharashtra,09/09/2025,1,n
63,STU20231053,ARYA SHERE,faqidsavant@example.net,NaN,28,other,B.E,Information Technology,3,7.54,46.4,Allahabad,Gujarat,06/04/2022,Yes,Y
69,STU20204750,GIRINDRA RAJU,zayyan92@example.com,NaN,27,Other,BCA,Computer Science,5,7.88,85.8,Ozhukarai,TN,13/12/2021,False,No
80,STU20238715,Vedhika Golla,ozafrado@example.org,NaN,24,Other,B.E,Computer Science,7,5.92,NaN,Bilaspur,West Bengal,06 November 2021,TRUE,n
82,STU20219370,gautam ranganathan,warinderchoudhury@example.net,NaN,28,F,MCA,Electrical,1,9.63,63.3%,Satara,West Bengal,31-08-2023,True,yes
85,STU20247981,Yachana Sagar,FRATTI@EXAMPLE.NET,NaN,19,O,M.E,Mechanical,8,5.21,92.2%,Katni,West Bengal,06/11/2025,N,No
99,STU20247221,Caleb Bhatti,advaith11@example.net,NaN,22,O,B.Tech,Chemical,3,7.42,69.3%,Nanded,TS,2025-02-13,0,Yes
111,STU20206153,Triya Manda,HTHAKKAR@EXAMPLE.COM,NaN,21,F,B.Tech,Chemical,7,9.32,89.5,Anantapuram,Maharashtra,29/07/2021,0,No
132,STU20215772,ARADHANA DATE,zaiddhingra@example.net,NaN,-23,MALE,BCA,Mechanical,4,12.85,51.2,Sambhal,Karnataka,31-03-2025,no,YES
150,STU20215210,Abhiram Chokshi,qdesai@example.net,NaN,24,Female,MCA,Chemical,6,9.02,68.1,Srinagar,KA,24/02/2024,True,yes
196,STU20229951,Vamakshi Bawa,FLALA@EXAMPLE.COM,NaN,27,Man,M.E,Chemical,2,5.08,44.1,Latur,GJ,21/06/2021,True,y
200,STU20208368,vyanjana guha,anirudh20@example.net,NaN,21,FEMALE,B.Tech,Civil,2,8.88,54.2,Kumbakonam,KL,2022-09-16,FALSE,No
205,STU20221599,NITESH SARRAF,tanay26@example.net,NaN,27,Male,B.E,Mechanical,1,-9.33,59.9%,Kolhapur,KA,20 December 2022,0,No
209,STU20244744,chandani sahota,nicholas17@example.org,NaN,18,other,B.E,Chemical,4,7.78,91.4,Tiruppur,DL,07/04/2024,1,Y
215,STU20226340,Darpan Kale,VAMAKSHI17@EXAMPLE.NET,NaN,70,FEMALE,B.Tech,Mechanical,8,7.64,78.3,Medininagar,Kerala,22 July 2022,N,No
216,STU20203634,Mitesh Gaba,noahsarma@example.org,NaN,22,Female,MCA,Civil,5,8.31,64.0%,Jammu,Uttar Pradesh,2023-12-28,TRUE,no
265,STU20238245,Eta Balan,shravya73@example.com,NaN,27,Female,B.E,Information Technology,1,6.76,44.5,Agartala,Rajasthan,05/03/2022,N,Yes
279,STU20212016,pahal bansal,NATHANIELMAHAJAN@EXAMPLE.ORG,NaN,28,female,M.Tech,Chemical,1,6.79,NaN,Rajkot,Kerala,2024-04-28,Y,No
293,STU20236142,NIHARIKA MAHAL,vasaunnati@example.com,NaN,22,MALE,BCA,Mechanical,3,9.74,81.0,Jammu,Delhi,16/09/2023,False,Y
303,STU20212475,Vasana Sarin,vamakshi15@example.net,NaN,25,M,MCA,Electrical,2,9.52,78.7,NaN,Rajasthan,2021-04-24,FALSE,No
304,STU20233204,Ekaraj Dhar,sandhuyatan@example.com,NaN,18,other,B.E,Mechanical,7,7.62,81.7%,Ahmedabad,Kerala,26/03/2021,TRUE,Y
311,STU20202653,Gavin Modi,tanmayiom@example.com,NaN,26,MALE,M.E,Information Technology,1,6.22,42.7,Korba,Rajasthan,2020-11-17,1,y
315,STU20242288,farhan prakash,KSHARAF@EXAMPLE.ORG,NaN,23,Female,MCA,Mechanical,4,6.67,50.1,Bangalore,Uttar Pradesh,27/04/2022,yes,yes
317,STU20203739,Bhanumati Rege,ranbir00@example.net,NaN,-23,F,M.E,Mechanical,8,8.91,81.7,Bhimavaram,Delhi,2023-01-08,No,y
326,STU20234178,Qarin Grewal,brandhawa@example.net,NaN,-22,Non-Binary,BCA,Civil,8,8.85,86.7,Jorhat,Uttar Pradesh,2022-06-14,N,Yes
343,STU20208478,OSCAR NAYAK,daraanusha@example.org,NaN,17,FEMALE,MCA,Electronics,5,6.84,67.9,Sangli-Miraj & Kupwad,TS,29 December 2020,Yes,yes
344,STU20225419,Bhanumati Chada,SAUMYASINHA@EXAMPLE.COM,NaN,18,male,B.Tech,Electronics,7,7.24,73.3%,Malda,Telangana,2021-06-12,True,Yes
346,STU20231317,Watika Mangat,indirakanda@example.net,NaN,28,O,B.Tech,Mechanical,4,8.25,86.9%,Mysore,Maharashtra,2023-05-16,1,y
357,STU20226326,FALAK KOTA,mammenjonathan@example.net,NaN,27,O,M.E,Chemical,8,9.45,62.9%,Panchkula,GJ,2025-04-11,N,Yes
364,STU20238520,Wahab Chaudhry,EKARAJ35@EXAMPLE.COM,NaN,26,Male,MCA,Electronics,5,8.42,90.9%,Kolkata,MH,12/07/2023,TRUE,no
375,STU20206642,hemang ram,NaN,NaN,27,other,M.E,Chemical,6,8.48,64.5%,Motihari,Gujarat,2023-07-14,0,Y
395,STU20233705,DIYA LAL,diptakhare@example.com,NaN,21,Other,BCA,Civil,4,9.64,105.3,Siwan,DL,04-09-2022,False,No
398,STU20222252,Jalsa Rana,gagan22@example.org,NaN,28,Male,B.Tech,Chemical,1,9.06,74.7%,Chandigarh,KL,03/06/2023,TRUE,Yes
402,STU20207625,Shaurya Bhardwaj,WADHWAGAGAN@EXAMPLE.COM,NaN,24,O,MCA,Information Technology,4,5.47,46.1,Srikakulam,TN,2025-08-25,yes,Yes
404,STU20215523,EESHA SUBRAMANIAM,nayakandrew@example.net,NaN,26,MALE,M.E,Chemical,4,NaN,62.5,Tirupati,Rajasthan,2022-11-15,Y,No
420,STU20246435,Theodore Sura,DEVLALLA@EXAMPLE.COM,NaN,23,Non-Binary,M.Tech,Chemical,2,7.50,98.5,Saharsa,MH,2023-03-10,yes,No
432,STU20221324,Radha Bhattacharyya,dhawankalpit@example.org,NaN,23,M,B.E,Chemical,4,7.88,79.0,Jorhat,Uttar Pradesh,2023-05-13,1,NO
436,STU20247121,vaishnavi dutt,samaksh87@example.com,NaN,20,Female,BCA,Civil,7,6.25,82.9,Jaunpur,Telangana,18/10/2024,False,yes
448,STU20221449,pranit tata,mitraijaya@example.com,NaN,23,Male,M.Tech,Chemical,4,9.29,78.8,Madhyamgram,Delhi,19/08/2022,False,n
459,STU20224683,abhiram swamy,AMISTRY@EXAMPLE.COM,NaN,25,Woman,M.Tech,Chemical,8,7.83,NaN,Ujjain,Rajasthan,05-03-2024,Yes,Yes
460,STU20227149,ucchal mittal,idada@example.org,NaN,23,O,M.Tech,Computer Science,4,5.51,NaN,Dharmavaram,KL,2022-03-06,1,Yes
475,STU20218230,Dev Yohannan,hgupta@example.net,NaN,24,Male,M.E,Electronics,3,9.41,58.1%,Varanasi,Gujarat,2021-12-19,1,no
477,STU20208478,OSCAR NAYAK,daraanusha@example.org,NaN,17,FEMALE,MCA,Electronics,5,6.84,67.9,Sangli-Miraj & Kupwad,TS,29 December 2020,Yes,yes
495,STU20219702,jairaj iyer,warjastak@example.org,NaN,23,O,MCA,Chemical,3,5.85,44.7,Nangloi Jat,Telangana,2025-05-02,Yes,n
503,STU20213188,Udarsh Deep,anthonythaman@example.org,NaN,24,Man,M.E,Electrical,6,7.08,73.0,Nashik,Rajasthan,2021-11-05,Y,yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,y
509,STU20223417,ABDUL DUGAR,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,yes