####  indian_college_messy_data data cleaning

In [125]:
import pandas as pd

In [126]:
df=pd.read_csv("csv data files/indian_college_messy_data.csv")

In [127]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
126,STU20226901,RADHA RAGHAVAN,kotafaras@example.com,+918186151554,18,Male,B.E,Chemical,7,6.16,62.8,Kamarhati,Karnataka,2023-03-11,0,No
1,STU20206913,PATRICK PRASAD,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
73,STU20204641,zinal tank,ngole@example.org,4301071396,-19,M,M.E,Mechanical,2,7.91,55.5,Ranchi,Karnataka,2023-09-14,True,YES
375,STU20206642,hemang ram,NaN,NaN,27,other,M.E,Chemical,6,8.48,64.5%,Motihari,Gujarat,2023-07-14,0,Y
122,STU20215516,neha keer,sharafsachi@example.net,01775170166,20,Non-Binary,B.Tech,Computer Science,7,8.07,96.2%,Proddatur,Maharashtra,2025-07-13,True,YES
450,STU20214062,Urvi Om,YASHASVI21@EXAMPLE.COM,06532863266,19,Woman,BCA,Electrical,2,8.31,84.9,Berhampore,WB,02-04-2025,True,No
463,STU20213419,Bakhshi Chad,toorchanchal@example.com,+91-2603408487,-21,M,B.E,Electrical,2,6.53,68.3,Gangtok,West Bengal,2025-01-12,True,yes
215,STU20226340,Darpan Kale,VAMAKSHI17@EXAMPLE.NET,NaN,70,FEMALE,B.Tech,Mechanical,8,7.64,78.3,Medininagar,Kerala,22 July 2022,N,No
451,STU20236038,PAHAL MENON,VARUGHESELUCKY@EXAMPLE.COM,+91-7181298266,18,MALE,BCA,Electronics,7,7.46,43.6,Hospet,Tamil Nadu,27/01/2021,False,y
472,STU20249947,Gautam Saraf,chaudhrysachi@example.org,(4005045562),26,Man,M.E,Electronics,5,7.18,41.7%,Bettiah,West Bengal,14/05/2024,FALSE,Yes

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

## cleaning the hostel column

In [129]:
df["hostel"].unique()

array(['Yes', ' Yes ', 'YES', 'NO', 'n', 'N', 'yes', 'Y', 'no', 'No', 'y',
       ' No '], dtype=object)

In [130]:
df["hostel"]=df["hostel"].apply(lambda x: x.upper())

In [131]:
df["hostel"].unique()

array(['YES', ' YES ', 'NO', 'N', 'Y', ' NO '], dtype=object)

In [132]:
def hostel_clean(x):
    if x == "N":
        x=x.replace("N","NO")
        return x
    else:
        x= "Yes"
        return x

In [133]:
df["hostel"]=df["hostel"].apply(hostel_clean)

In [134]:
df["hostel"].unique()

array(['Yes', 'NO'], dtype=object)

In [135]:
df.sample(5)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
57,STU20238736,Ira Khosla,NaN,+91-+918518888806,70,Woman,BCA,Electronics,7,5.95,76.0,Varanasi,Tamil Nadu,2024-02-25,True,Yes
437,STU20206077,VIVAAN IYENGAR,nachiket11@example.net,+91-+913924051477,18,Other,M.Tech,Chemical,3,7.68,83.4,Bathinda,Karnataka,22/08/2022,0,NO
429,STU20205979,Ojas Buch,NaN,+91-+915093771004,68,MALE,BCA,Computer Science,2,8.63,NaN,Ballia,Delhi,21 March 2021,True,Yes
184,STU20237184,Ayush De,HSURA@EXAMPLE.COM,(00145089935),23,Male,MCA,Electrical,3,8.27,60.9,Bhiwani,Tamil Nadu,23/12/2022,N,Yes
279,STU20212016,pahal bansal,NATHANIELMAHAJAN@EXAMPLE.ORG,NaN,28,female,M.Tech,Chemical,1,6.79,NaN,Rajkot,Kerala,2024-04-28,Y,Yes

### cleaning name

In [136]:
df["name"]=df["name"].apply(lambda x: x.title())

In [137]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,Yes
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,Yes
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,NO
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,Yes

#### cleaning state data

In [138]:
df["state"] = df["state"].apply(lambda x: x.title().strip())

In [139]:
df["state"].unique()

array(['Ts', 'Kerala', 'Tamil Nadu', 'Rajasthan', 'Delhi', 'Rj', 'Dl',
       'West Bengal', 'Mh', 'Telangana', 'Tn', 'Wb', 'Gujarat',
       'Karnataka', 'Kl', 'Uttar Pradesh', 'Maharashtra', 'Gj', 'Up',
       'Ka'], dtype=object)

In [140]:
def state_1(x):
    if x in ["Tn"]:
       return "Tamil Nadu"
    elif x in ["Rj"]:
        return "Rajasthan"
    elif x in ["Dl"]:
        return "Delhi"
    elif x in "Ts":
        return "Telangana"
    elif x in "Wb":
        return "West Bengal"
    elif x in "Mh":
        return "Maharashtra"
    elif x in "Gj":
        return  "Gujarat"
    elif x in "Up":
        return "Uttar Pradesh"
    elif x in "Ka":
        return "Karnataka"
    elif x in "Kl":
        return "Kerala"
    else:
        return x

In [141]:
df["state"]=df["state"].apply(state_1)

### Age column cleaning

In [142]:
df["age"].unique()

array([ 17,  25,  21,  19,  18,  23,  27,  20,  28, -26, -18,  26,  22,
        70,  24,  73, -22, -19,  78,  74, -23, -20, -28,  72,  68,  69,
       -17,  77, -27, -25, -24, -21,  75])

In [143]:
df["age"].dtype

dtype('int64')

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

In [145]:
#  age=df["age"].astype(float)

In [146]:
# age.unique()

In [147]:
# age=abs(age)

In [148]:
# age.unique()

In [149]:
def age_1(x):
    x = abs(x)
    return x

In [150]:
df["age"]=df["age"].apply(age_1)

In [151]:
df.sample(2)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
500,STU20226752,Xalak Saraf,GIRISH80@EXAMPLE.ORG,+919740148902,28,Other,M.Tech,Electronics,2,5.73,NaN,Pune,Kerala,16-08-2022,TRUE,Yes
110,STU20233725,Ryan Das,ethanseth@example.org,7155188442,28,Woman,B.Tech,Computer Science,6,8.98,57.6%,Mirzapur,West Bengal,2025-03-10,no,Yes

#### cleaning Gender colunm

In [152]:
df["gender"].unique()

array(['Male', 'Non-Binary', 'Female', 'Man', 'O', 'M', 'female', 'male',
       'other', 'F', 'Other', 'MALE', 'Woman', 'FEMALE'], dtype=object)

In [153]:
def gender_clean(y):
    x= str(y).upper()
    if x in ["M","MALE","MAN"]:
        return "Male"
    elif x in ["F", "WOMAN"]:
        return "Female"
    else:
        return "OTHER"

In [154]:
df["gender"]=df["gender"].apply(gender_clean)

In [155]:
df["gender"].unique()

array(['Male', 'OTHER', 'Female'], dtype=object)

In [156]:
df.head()

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,OTHER,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Male,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Male,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO

In [157]:
df['gender'].unique()

array(['Male', 'OTHER', 'Female'], dtype=object)

### Email cleaning

In [158]:
df["email"].unique()

array(['  urvichauhan@example.net  ', 'krishhora@example.com',
       'shethvinaya@example.org', '  kiberaksha@example.org  ', nan,
       '  cmammen@example.net  ', '  srinivasandalaja@example.org  ',
       'RAJESHRICHAND@EXAMPLE.ORG', '  bosewriddhish@example.org  ',
       'TARAAVI@EXAMPLE.ORG', 'daksheshkhanna@example.net',
       'calebdatta@example.net', 'forumkarpe@example.com',
       '  kotharinakul@example.com  ', 'ranabakhshi@example.net',
       'fmorar@example.org', 'CHATURA15@EXAMPLE.COM',
       'mason22@example.org', 'atwalteerth@example.net',
       '  lshere@example.net  ', 'ekantika31@example.com',
       'ekanshbalay@example.com', 'purohitishita@example.net',
       'dattaaashi@example.net', 'anjali60@example.org',
       'PRASHADZINAL@EXAMPLE.COM', 'upkaar49@example.org',
       'ishwargade@example.com', 'choprahemangini@example.org',
       '  balakrishnanfinn@example.org  ', 'vtandon@example.net',
       'aryan71@example.com', 'MAYAPUROHIT@EXAMPLE.NET',
       '  andrew54@example.org  ', 'MANNCHARVI@EXAMPLE.NET',
       'jonathan74@example.com', '  xalakmand@example.net  ',
       'anita21@example.net', 'lpau@example.net', 'mekhala36@example.net',
       'vbajaj@example.com', 'jboase@example.net', 'janaki93@example.net',
       'GARIMAOOMMEN@EXAMPLE.ORG', 'KALPITBRAR@EXAMPLE.COM',
       'ysarraf@example.com', 'KAMYASETH@EXAMPLE.COM',
       'ekavir93@example.com', 'zaid96@example.net',
       'CHANCHAL17@EXAMPLE.ORG', 'lakshbarad@example.com',
       'OJASVISHAH@EXAMPLE.NET', 'shanneelima@example.net',
       'CHARVIMANGAT@EXAMPLE.COM', 'wvala@example.org',
       'advaith83@example.org', 'borahishita@example.org',
       'OLIVER15@EXAMPLE.COM', 'WARINDERCHAUHAN@EXAMPLE.ORG',
       'dharraksha@example.org', 'faqidsavant@example.net',
       'robertsha@example.com', 'bhavini36@example.net',
       'minhaspooja@example.com', '  zayyan92@example.com  ',
       'aviagate@example.org', '  niharika92@example.org  ',
       'ngole@example.org', 'jalsa11@example.org',
       'samarthdass@example.org', 'MANTHANLATA@EXAMPLE.ORG',
       'chatura47@example.net', '  qraju@example.net  ',
       'ozafrado@example.org', '  chaturaapte@example.net  ',
       'warinderchoudhury@example.net', '  baghyawatikumar@example.org  ',
       'FRATTI@EXAMPLE.NET', '  zinalsachar@example.net  ',
       'IJAYA87@EXAMPLE.NET', 'omya66@example.net',
       'samiwriddhish@example.net', '  rbrahmbhatt@example.net  ',
       '  janakidugar@example.net  ', '  tsoni@example.com  ',
       'bailchaitanya@example.org', 'ZAYYANMODY@EXAMPLE.NET',
       'mitesh14@example.com', 'mitalchaitanya@example.net',
       'advaith11@example.net', '  sarthakrana@example.com  ',
       '  chandransoman@example.com  ', 'kharevrinda@example.com',
       'devikaramachandran@example.com', 'jasmit71@example.com',
       'BALASUBRAMANIANTHOMAS@EXAMPLE.COM', 'leenachacko@example.net',
       'samarthbhatti@example.org', '  devankavya@example.com  ',
       'bhavnalanka@example.org', 'ethanseth@example.org',
       'HTHAKKAR@EXAMPLE.COM', 'advikdada@example.org',
       'KONDAKALA@EXAMPLE.COM', 'champak66@example.com',
       'qchana@example.com', 'ckala@example.org',
       '  dalaja33@example.org  ', 'nandasachi@example.org',
       '  devanzarna@example.com  ', 'ANSHBEDI@EXAMPLE.COM',
       'kalesachi@example.net', '  sharafsachi@example.net  ',
       '  yashvi77@example.org  ', 'DEOLAARNAV@EXAMPLE.NET',
       'boraekavir@example.net', '  kotafaras@example.com  ',
       'spalan@example.net', 'amol89@example.org', 'yug48@example.com',
       'onkar91@example.org', 'ravalyoshita@example.org',
       'zaiddhingra@example.net', '  yatan23@example.org  ',
       'dixiturvi@example.com', 'fhayer@example.com',
       '  eprabhakar@example.net  ', 'tdixit@example.com',
       'dhaliwaljatin@example.org', 'desaifrado@example.com',
       '  owen10@example.org  ', 'jbedi@example.org',
       '  choudhuryfaqid@example.net  ', 'peter50@example.org',
       'ranganathanbrijesh@example.com', 'luthraharrison@example.org',
       'dasikshita@example.org', 'qdesai@example.net',
       'maanav15@example.org', 'faraj48@example.com',
       'aryanbatra@example.org', 'LALLYUVRAJ@EXAMPLE.COM',
       'jagvi10@example.com', 'bhattishivansh@example.net',
       'NATHANIELSAMI@EXAMPLE.NET', 'yochana77@example.org',
       'CDIXIT@EXAMPLE.NET', 'VEDHIKASHANKAR@EXAMPLE.ORG',
       'hemaljani@example.net', '  dakshchar@example.com  ',
       'omya35@example.org', 'odikanori@example.com',
       'bajajchanchal@example.com', '  jeevika28@example.net  ',
       'NIRJA89@EXAMPLE.COM', 'pallaudarsh@example.net',
       'gdalia@example.org', 'johaljacob@example.org',
       'devanshsachdeva@example.com', 'choudhuryjanani@example.com',
       '  keyachakraborty@example.com  ', '  jbhardwaj@example.com  ',
       'xkara@example.net', 'DMORAR@EXAMPLE.COM',
       'fradowadhwa@example.net', 'bordechanakya@example.org',
       '  chaudhuribhavika@example.net  ', 'HSURA@EXAMPLE.COM',
       'ekannan@example.com', 'SAMIKEVIN@EXAMPLE.COM',
       'charitakothari@example.net', '  zarna02@example.com  ',
       'oscarvarkey@example.org', 'advikatoor@example.org',
       'MITRAUNNI@EXAMPLE.ORG', 'lnarang@example.org',
       'swamyomkaar@example.org', 'sarkarhitesh@example.org',
       'FLALA@EXAMPLE.COM', 'keya17@example.net',
       'TRIPATHIAZAAN@EXAMPLE.NET', 'chaayaramakrishnan@example.com',
       'anirudh20@example.net', 'zsridhar@example.com',
       '  praneelsagar@example.net  ', 'mangatnilima@example.org',
       'chavvi34@example.net', 'tanay26@example.net',
       '  rdas@example.com  ', 'ekantakothari@example.com',
       '  william02@example.org  ', '  nicholas17@example.org  ',
       'chakrika47@example.net', 'PBASAK@EXAMPLE.NET',
       'meghana91@example.com', 'warjasnadkarni@example.net',
       '  qshankar@example.net  ', 'VAMAKSHI17@EXAMPLE.NET',
       'noahsarma@example.org', 'golagaurav@example.net',
       '  ikbalbabu@example.org  ', 'wagleanvi@example.net',
       '  vermadevika@example.org  ', 'sabharwalguneet@example.net',
       'iyergauri@example.org', '  jananisoman@example.net  ',
       'balhaar47@example.net', 'smutti@example.org',
       'hbains@example.org', 'jagat67@example.net',
       'zinalzachariah@example.com', 'chanderchandani@example.com',
       '  vsastry@example.org  ', 'samuelbhargava@example.net',
       'girik34@example.org', 'sidhugunbir@example.com',
       'WCHOWDHURY@EXAMPLE.COM', 'dateanvi@example.net',
       '  ekalingachaudhuri@example.net  ', 'umang58@example.com',
       'lakshitmore@example.net', 'uaggarwal@example.net',
       'LEELASAMPATH@EXAMPLE.NET', 'devikachad@example.net',
       'logan68@example.net', 'azaanravel@example.com',
       'KAMYADATE@EXAMPLE.NET', 'akakar@example.net',
       'vasudha77@example.com', '  ghayer@example.org  ',
       'varkeyharsh@example.org', 'bpandya@example.com',
       'advaithvarughese@example.org', 'baljiwan04@example.net',
       'saksham03@example.org', 'oscarborde@example.org',
       '  lkalita@example.com  ', 'hitesh02@example.com',
       'CHOWDHURYODIKA@EXAMPLE.COM', 'avi43@example.net',
       'damyantireddy@example.net', 'LILASALVI@EXAMPLE.COM',
       'COMARWIDISHA@EXAMPLE.NET', '  nkhare@example.org  ',
       'shravya73@example.com', 'quincy66@example.org',
       'YUTIKADEY@EXAMPLE.COM', 'NOAH06@EXAMPLE.NET',
       'bishakha49@example.net', 'christopherpalla@example.org',
       'imaran69@example.com', 'SLOKE@EXAMPLE.NET',
       'nicholas93@example.net', '  aarnagoswami@example.net  ',
       'chatreshbhalla@example.org', 'DPRABHU@EXAMPLE.NET',
       'virajbora@example.org', '  lakshbasu@example.org  ',
       'NATHANIELMAHAJAN@EXAMPLE.ORG', '  keyagoyal@example.org  ',
       'shettybimala@example.net', 'loyalomisha@example.com',
       '  lekha04@example.com  ', 'agarwalidika@example.net',
       'CPRABHAKAR@EXAMPLE.NET', 'varkeyavni@example.org',
       'pallavipurohit@example.org', '  garghemang@example.net  ',
       'barmanrayaan@example.org', 'ahujanimrat@example.net',
       '  wahab38@example.org  ', '  vasaunnati@example.com  ',
       'ramaswamyaadhya@example.com', 'oliver09@example.net',
       'chaitalybhatia@example.com', '  chanakyamandal@example.com  ',
       'eparekh@example.net', 'warjas42@example.net',
       'nihal41@example.com', 'ksarna@example.org',
       '  vamakshi15@example.net  ', 'sandhuyatan@example.com',
       'idas@example.net', 'WGOSWAMI@EXAMPLE.NET',
       'choudhurygaurav@example.com', '  sundaramyutika@example.org  ',
       'theodorebahri@example.net', 'logan25@example.com',
       'tanmayiom@example.com', 'ALKAJHAVERI@EXAMPLE.ORG',
       'CHAVVI03@EXAMPLE.ORG', 'KSHARAF@EXAMPLE.ORG',
       'oloyal@example.net', 'ranbir00@example.net', 'pborde@example.org',
       'caleb13@example.com', 'ria56@example.net',
       'tviswanathan@example.com', 'anushayogi@example.com',
       'tiwarisamaksh@example.net', 'thakuramol@example.org',
       '  aryan69@example.org  ', '  brandhawa@example.net  ',
       'chaturakarpe@example.org', 'ojasvi77@example.org',
       'wgolla@example.net', '  meghabhakta@example.org  ',
       'dominic24@example.org', 'MITALI54@EXAMPLE.ORG',
       'wallaryan@example.net', 'pradhanaashi@example.net',
       '  harish34@example.org  ', 'gopalbawa@example.com',
       'chanakya01@example.net', 'XGOEL@EXAMPLE.NET',
       '  daraanusha@example.org  ', 'SAUMYASINHA@EXAMPLE.COM',
       'GUNBIRRAMESH@EXAMPLE.COM', 'indirakanda@example.net',
       'GCHAUHAN@EXAMPLE.ORG', 'chatreshvig@example.org',
       'shanchandresh@example.com', 'echand@example.com',
       'michael82@example.com', 'banjeet82@example.org',
       'TANAYNARULA@EXAMPLE.COM', '  pbanik@example.org  ',
       'patelojasvi@example.com', '  mammenjonathan@example.net  ',
       '  jshanker@example.com  ', 'KAMYA66@EXAMPLE.NET',
       'janya28@example.net', 'ANUSHA41@EXAMPLE.NET',
       'kalayashoda@example.com', 'maya51@example.net',
       'EKARAJ35@EXAMPLE.COM', 'finn71@example.com',
       'halderanirudh@example.com', 'shetheshana@example.net',
       'vlanka@example.net', 'MAYA21@EXAMPLE.NET',
       'vamakshi12@example.net', 'VYOHANNAN@EXAMPLE.NET',
       'ESHANACHAKRABORTY@EXAMPLE.NET', 'XSULE@EXAMPLE.ORG',
       '  michaelbedi@example.net  ', 'farhanlad@example.net',
       '  sinhachandresh@example.org  ', 'AYUSHMANMAND@EXAMPLE.ORG',
       'shereavi@example.org', 'bkamdar@example.org',
       'jacob34@example.org', 'GANDHIRAKSHA@EXAMPLE.NET',
       '  devikarastogi@example.net  ', 'sgola@example.org',
       '  abhimanyusandal@example.net  ', '  chandranbumb@example.com  ',
       'mallzayyan@example.org', 'diptakhare@example.com',
       'maya55@example.com', 'SANKARANEKANTIKA@EXAMPLE.NET',
       'gagan22@example.org', 'kritikacheema@example.org',
       'nathzinal@example.org', 'ranganathanjanuja@example.net',
       'WADHWAGAGAN@EXAMPLE.COM', 'gavinbehl@example.com',
       '  nayakandrew@example.net  ', 'chanakya44@example.net',
       'masonsolanki@example.org', '  rishi12@example.net  ',
       'OSCARSOMAN@EXAMPLE.ORG', 'bdugar@example.org',
       'ekapadwali@example.org', 'JALSA24@EXAMPLE.COM',
       'zgade@example.com', 'RACHANA94@EXAMPLE.COM',
       '  ekani00@example.net  ', '  tsabharwal@example.com  ',
       'HEMANI22@EXAMPLE.NET', 'adevan@example.org', 'BDARA@EXAMPLE.NET',
       'DEVLALLA@EXAMPLE.COM', 'jainwriddhish@example.net',
       'tankrushil@example.net', 'bhallagaurika@example.com',
       'LEELA37@EXAMPLE.COM', 'HEMANGINI04@EXAMPLE.NET',
       'abeer26@example.com', '  luke90@example.org  ',
       '  dhawankalpit@example.org  ', 'ekansh53@example.net',
       'mitravritti@example.net', '  samaksh87@example.com  ',
       'nachiket11@example.net', 'dewanmitesh@example.com',
       'ranbir62@example.com', 'bhasinnakul@example.com',
       'SRINIVASANIJAYA@EXAMPLE.COM', 'isaac10@example.net',
       'kevinzacharia@example.com', '  vasudha92@example.net  ',
       'IDATE@EXAMPLE.NET', 'daksheshtrivedi@example.org',
       '  mitraijaya@example.com  ', '  edhithaborah@example.com  ',
       'YASHASVI21@EXAMPLE.COM', 'VARUGHESELUCKY@EXAMPLE.COM',
       'PETERAGARWAL@EXAMPLE.NET', 'UTKARSH75@EXAMPLE.COM',
       'qcomar@example.net', '  darpan44@example.org  ',
       '  varenyachander@example.com  ', 'AMISTRY@EXAMPLE.COM',
       'idada@example.org', 'dugarzaid@example.net',
       'tanmayi43@example.com', 'toorchanchal@example.com',
       'aarnanagarajan@example.net', 'tellakavya@example.com',
       'KRISHNANURVI@EXAMPLE.NET', 'leenasule@example.net',
       'MISRABINA@EXAMPLE.COM', 'NIGAMVASUDHA@EXAMPLE.NET',
       'chaudhrysachi@example.org', 'tanmayi94@example.net',
       'wishisamra@example.org', 'hgupta@example.net',
       'narayanandipta@example.net', 'qmistry@example.org',
       'iryakala@example.org', '  takwazir@example.org  ',
       'saumya34@example.com', 'choudhrywakeeta@example.org',
       'harini50@example.net', 'MANTHANSETHI@EXAMPLE.NET',
       'atharv78@example.com', 'GKALA@EXAMPLE.ORG',
       'chasmumahuja@example.com', 'zsarin@example.net',
       'DALBIRKONDA@EXAMPLE.ORG', 'ynarula@example.com',
       'jhalakdugar@example.com', '  maanaschhabra@example.org  ',
       'triptiwalia@example.com', 'MANEJAIRAJ@EXAMPLE.COM',
       'warjastak@example.org', 'JNAGARAJAN@EXAMPLE.ORG',
       'jagvi25@example.com', 'HARDIKBASU@EXAMPLE.ORG',
       'GIRISH80@EXAMPLE.ORG', 'chopraradha@example.com',
       '  anthonythaman@example.org  ', '  kotaraksha@example.com  ',
       'timothy32@example.com', 'soodkrish@example.net',
       '  hemal88@example.org  ', 'lparmar@example.org'], dtype=object)

In [159]:
df["email"]=df["email"].apply(lambda x:  x.lower().strip() if pd.notna(x) else x )

In [160]:
df.sample(6)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
70,STU20213589,Yoshita Pandit,NaN,+915153814474,22,Male,BCA,Information Technology,2,5.92,90.4,Kakinada,Tamil Nadu,2020-11-17,True,Yes
256,STU20235844,Finn Dugar,oscarborde@example.org,+91-+916797403447,25,Male,M.Tech,Civil,7,8.39,94.2,Muzaffarpur,Kerala,10/02/2023,No,NO
65,STU20248973,Nidra Acharya,bhavini36@example.net,5777387214,19,Male,B.E,Electronics,1,7.90,72.5,Tiruchirappalli,West Bengal,10/11/2022,Yes,Yes
329,STU20229027,Onkar Nadkarni,wgolla@example.net,8896792408,23,OTHER,M.Tech,Computer Science,6,13.42,61.3,Cuttack,Gujarat,28-01-2022,True,NO
242,STU20218573,Radhika Dugar,uaggarwal@example.net,08281489325,23,OTHER,MCA,Electrical,4,8.42,90.6,Panvel,Maharashtra,16-05-2025,1,Yes
224,STU20228353,Yatin Mall,jananisoman@example.net,04090034864,19,OTHER,B.Tech,Electronics,3,8.68,47.2,Bhilai,Maharashtra,2025-05-30,no,NO

In [161]:

df["course"].unique()

array(['BCA', 'M.E', 'MCA', 'B.Tech', 'B.E', 'M.Tech'], dtype=object)

In [162]:
df["department"].unique()

array(['Information Technology', 'Chemical', 'Electronics',
       'Computer Science', 'Mechanical', 'Electrical', 'Civil'],
      dtype=object)

In [163]:
df["cgpa"].unique()

array([ 9.92, 13.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
       -6.83,  6.58, 10.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 , -8.83,  7.62,  7.73,  9.65,
        9.96, -8.31,  9.16,  5.57, 14.85, 13.3 ,  7.17,  6.95,  9.15,
        9.84,  8.97,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,
        7.4 ,  7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,
        8.93,  7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,
        7.49,  7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,
        7.07,  7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,
        5.27, -7.2 ,  7.82, -9.04,  6.45,  8.76,  7.42,  5.79,  6.59,
        5.53, -6.55, 13.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,
        9.37, -9.87,  9.51,  5.7 , 11.79, 13.08,  7.09,  8.07,  9.07,
        6.7 ,  9.62,  6.16,  6.42,  8.06,  7.29,  5.12, 14.46, 12.85,
        7.25,  6.82,  7.37,  8.41,  9.99, 12.51,  6.36,  6.22,  7.48,
        6.21,  6.62,  5.77,  9.02,  6.71,  8.43,  9.26,  7.23,  5.83,
        5.85,  6.78,  6.51,  6.68,  8.95,  9.53,  8.81,  8.65,  6.83,
       11.97,  6.53,  8.  ,  7.65,  5.8 ,  5.22,  6.  ,  5.66,  6.06,
       -6.21,  8.33,  8.6 ,  9.39,  6.15, -8.37,  8.05,  8.27,  6.49,
        9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,  8.88,  8.83,
       -9.06,  7.21, -9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18, 11.21,
        7.64,  8.31,  7.93, -5.44, 11.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 , -9.18,  5.3 , -7.78,  8.45,  7.76,  8.42,  7.77,
        5.82,  9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,
        7.12,  6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,
        6.33,  5.58, 13.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,
       12.59, 13.68,  9.79,  5.18,  7.34,  5.43,  6.89,  9.17,  9.74,
        5.03,  7.46,  9.52,  7.19, -9.45,  9.81,  9.97,  6.67,  9.18,
        9.87,  9.48,  8.09, 12.15,  6.38,  7.97,  8.85,  8.03, 12.25,
       13.42, 10.76,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,  5.69,
       12.28, -7.27,  6.29,  7.81,  6.07,  9.45, -8.96,  7.94,  9.25,
        6.26, 12.38,  6.14,  8.48,  9.6 ,  9.93,  6.02,  9.86,  5.56,
        8.62,  5.46,  9.49,  7.45,  9.31,  7.39,  8.19,  9.64, 13.85,
        9.06,  7.11,  6.9 ,  9.08,  8.66, -5.23,  9.09,  5.23,  7.86,
        7.41,  7.5 ,  8.58,  6.48,  5.42,  9.19,  6.54,  6.25,  7.68,
        8.59,  8.35,  9.01,  9.29,  6.28, -6.56,  9.28, -5.94,  7.63,
        8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,  9.41,  5.01,  6.63,
        5.78,  7.79,  6.88, -9.68,  5.19,  9.76, 10.  ,  6.99,  8.78,
        7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [164]:
# df["cgpa"].apply(lambda x:  x if pd.isna(x) else x, x=abs(x), x)

In [165]:
def cgpa_clean(x):
    # x.strip()
    if pd.isna(x):
        return x
    elif x > 10:
        x= x-5 
    x=abs(x)
    return x

In [166]:
df["cgpa"]=df["cgpa"].apply(cgpa_clean)

In [167]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [168]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
335,STU20249369,Yashasvi Choudhry,pradhanaashi@example.net,5101749075,21,Male,MCA,Electrical,6,9.61,75.8%,Amaravati,Karnataka,2025-09-03,Y,Yes
469,STU20236026,Oliver Bhattacharyya,misrabina@example.com,(8985625753),69,OTHER,MCA,Information Technology,5,8.45,78.3%,Sambhal,Gujarat,09/01/2021,N,Yes
183,STU20246804,Manbir Chaudhry,chaudhuribhavika@example.net,+91-06467997024,27,OTHER,MCA,Electrical,5,8.05,51.5,Asansol,Delhi,12 April 2024,no,Yes
409,STU20222770,Lakshmi Saran,oscarsoman@example.org,+918656242201,28,Male,B.Tech,Civil,8,8.66,98.1,Asansol,Telangana,01/01/2025,no,NO
399,STU20249709,Guneet Purohit,kritikacheema@example.org,+91-+918497185948,68,Male,M.Tech,Information Technology,8,NaN,NaN,Narasaraopet,Maharashtra,14-09-2021,yes,Yes
21,STU20201771,Ekavir Bhargava,ekanshbalay@example.com,+918347382997,18,Male,MCA,Electronics,7,7.98,63.1,Bhalswa Jahangir Pur,Kerala,28-04-2024,0,NO
129,STU20216147,Vaishnavi Sengupta,yug48@example.com,(3471434558),20,OTHER,M.E,Electronics,5,7.29,95.7%,Durgapur,Karnataka,22-02-2022,yes,Yes
219,STU20235043,Warjas Ben,NaN,+91-04471639282,23,OTHER,B.Tech,Information Technology,7,8.60,83.6,Parbhani,Kerala,2021-11-03,1,Yes
46,STU20217730,Jhalak Sarkar,ysarraf@example.com,+917758416169,17,Female,MCA,Civil,7,6.93,79.8,Bongaigaon,Tamil Nadu,12/05/2023,False,Yes
19,STU20201977,Gautam Tripathi,lshere@example.net,+91-0793597820,19,OTHER,BCA,Electrical,5,7.20,68.1,Kota,Gujarat,2023-10-14,0,Yes

In [169]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [170]:
df["cgpa"]=df["cgpa"].astype(float)

In [171]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

In [173]:
df.head(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,8.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,OTHER,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Male,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Male,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO
5,STU20229728,Hardik Suri,cmammen@example.net,(03773515850),23,OTHER,B.E,Computer Science,6,5.06,65.2,Bally,Rajasthan,2022-06-23,1,Yes
6,STU20243967,William Chana,srinivasandalaja@example.org,7990772625,21,Male,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,0,Yes
7,STU20204073,Anjali Sengupta,rajeshrichand@example.org,05060685361,25,OTHER,BCA,Chemical,8,8.13,85.6,Rajahmundry,Delhi,06/02/2021,0,Yes
8,STU20244726,Dhriti Chana,bosewriddhish@example.org,+919014870682,23,Male,BCA,Electronics,7,NaN,94.6,Mehsana,West Bengal,2025-03-30,False,Yes
9,STU20244389,Hardik Bera,taraavi@example.org,(09524991187),27,OTHER,M.E,Mechanical,6,9.13,NaN,Panihati,Rajasthan,12/05/2023,no,NO

### cleaning fees_paid column

In [174]:
df["fees_paid"].unique()

array(['1', 'N', 'Yes', '0', 'False', 'no', 'yes', 'No', 'TRUE', 'FALSE',
       'True', 'Y'], dtype=object)

In [175]:
def fees_clean(x):
    x = x.upper()
    if x in ["1","YES","TRUE"]:
        return "YES"
    else:
        return "NO"

In [176]:
df["fees_paid"]=df["fees_paid"].apply(fees_clean)

In [177]:
df["fees_paid"].unique()

array(['YES', 'NO'], dtype=object)

In [178]:
df.head(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,YES,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,8.97,43.5,Alappuzha,Kerala,2024-08-11,NO,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,OTHER,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,YES,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Male,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,NO,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Male,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,NO,NO
5,STU20229728,Hardik Suri,cmammen@example.net,(03773515850),23,OTHER,B.E,Computer Science,6,5.06,65.2,Bally,Rajasthan,2022-06-23,YES,Yes
6,STU20243967,William Chana,srinivasandalaja@example.org,7990772625,21,Male,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,NO,Yes
7,STU20204073,Anjali Sengupta,rajeshrichand@example.org,05060685361,25,OTHER,BCA,Chemical,8,8.13,85.6,Rajahmundry,Delhi,06/02/2021,NO,Yes
8,STU20244726,Dhriti Chana,bosewriddhish@example.org,+919014870682,23,Male,BCA,Electronics,7,NaN,94.6,Mehsana,West Bengal,2025-03-30,NO,Yes
9,STU20244389,Hardik Bera,taraavi@example.org,(09524991187),27,OTHER,M.E,Mechanical,6,9.13,NaN,Panihati,Rajasthan,12/05/2023,NO,NO

####  cleaning  admission_date column

In [179]:
df["admission_date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 510 entries, 0 to 509
Series name: admission_date
Non-Null Count  Dtype
--------------  -----
510 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [180]:
from datetime import datetime

In [181]:
def adddmission(x):
    return datetime.strptime(x, "%Y-%m-%d")

In [182]:
df["admission_date"].apply(adddmission)

ValueError: time data '06/02/2021' does not match format '%Y-%m-%d'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

### handling null valuse

In [ ]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa              30
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
df["cgpa"]=df["cgpa"].fillna(0)

In [ ]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa               0
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
df["attendance"]=df["attendance"].astype(float)

ValueError: could not convert string to float: '51.3%'

In [ ]:
def attendance(x):
   
    if pd.isna(x):
        return x
    elif  x > 100:
        return 100.0
    # x= x.replace("%"," ")
    # return x

In [ ]:
df["attendance"].apply(attendance)

TypeError: '>' not supported between instances of 'str' and 'int'

## handling null valuse

In [ ]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa              30
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [184]:
df["cgpa"]=df["cgpa"].fillna(0.0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

In [185]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa               0
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
df["attendance"].unique()

array(['42.4', '43.5', '51.3%', '87.1', '74.5', '65.2', '73.5', '85.6',
       '94.6', nan, '64.0%', '46.4', '72.0', '69.3', '81.4%', '50.5',
       '58.9%', '100.2', '68.1', '84.7', '63.1', '69.7%', '100.4',
       '82.0%', '74.6', '83.3%', '90.1', '52.5', '57.7', '90.9', '86.3%',
       '60.8', '68.2%', '40.9', '101.2', '47.1', '73.3', '59.6%', '70.5%',
       '62.8', '96.8', '67.6', '52.9', '87.3%', '79.8', '86.9%', '90.6',
       '113.8', '58.6', '64.4', '76.0', '101.4', '57.1%', '89.2', '58.0',
       '51.7', '53.9', '80.6', '91.1%', '72.1%', '72.5', '95.1', '83.0',
       '99.5%', '85.8', '90.4', '40.2', '99.0', '55.5', '70.4', '66.3',
       '56.1', '66.5', '79.9', '89.4', '63.3%', '96.7%', '43.0%', '92.2%',
       '71.4', '46.4%', '72.7', '99.4%', '59.9', '88.0', '53.8', '69.1',
       '93.0', '57.2', '44.0', '69.3%', '83.7%', '60.9', '98.5', '76.7',
       '86.1', '48.3', '68.9', '75.5%', '99.8', '93.2', '57.6%', '89.5',
       '78.5', '51.3', '65.1', '72.4', '51.0%', '52.8%', '95.2', '93.9',
       '96.2%', '82.4%', '47.0', '73.8', '84.6', '95.7%', '71.0', '91.6',
       '51.2', '80.1', '49.2', '80.0', '60.5', '88.6%', '81.9', '66.7',
       '67.9%', '70.6', '75.0%', '68.4', '54.9', '61.6', '79.1', '83.5',
       '95.3', '47.6%', '83.2%', '80.2', '52.7%', '113.6', '62.9',
       '72.2%', '115.9', '79.4', '74.9%', '61.1', '64.8', '60.0', '82.0',
       '62.4', '70.0%', '56.0', '62.5', '78.0', '86.8%', '41.6', '56.3',
       '51.5', '46.5', '61.9%', '86.0', '85.3%', '80.3', '73.0%', '71.1%',
       '42.6%', '55.9', '44.1', '45.8', '95.4', '71.1', '54.2', '98.7',
       '93.4', '76.1%', '59.9%', '94.2', '82.2', '48.4%', '91.4', '81.6',
       '47.4', '75.5', '78.3', '61.0', '40.7', '83.6', '90.7%', '89.0',
       '85.4%', '47.2', '84.4%', '53.4%', '89.8%', '42.9', '88.4', '70.0',
       '111.0', '58.3%', '48.9', '59.4', '54.4%', '74.4', '94.8', '96.4',
       '76.3%', '41.9%', '57.3', '44.3%', '41.7%', '60.4', '42.6', '43.1',
       '85.1', '106.4', '84.1', '87.8', '53.3%', '59.7%', '92.5%',
       '75.3%', '44.5', '68.7', '47.2%', '54.1', '52.0', '77.6', '46.8',
       '44.7%', '95.8', '68.3', '109.4', '84.2', '69.0', '67.0', '91.2',
       '92.3', '77.1', '65.4', '58.2', '98.4%', '55.8%', '81.0', '55.9%',
       '53.2%', '73.4%', '92.2', '63.1%', '78.7', '81.7%', '64.2', '81.8',
       '71.2', '94.1', '62.5%', '42.7', '76.1', '83.8', '100.7', '50.1',
       '93.6', '81.7', '61.4', '80.7%', '106.7', '76.3', '93.3', '42.9%',
       '86.7', '76.9', '61.3', '88.7', '56.8', '104.8', '87.8%', '75.8%',
       '46.7', '60.7%', '103.1', '77.0%', '84.1%', '67.5', '67.9',
       '73.3%', '69.4', '91.3', '86.6', '51.2%', '62.9%', '86.4%', '40.5',
       '50.4', '50.7', '101.9', '90.9%', '86.2%', '96.6%', '70.5',
       '64.5%', '70.7', '76.8', '96.0', '44.9%', '76.4', '56.9', '57.3%',
       '118.6', '94.6%', '69.9', '64.0', '105.8', '58.5', '98.6', '105.3',
       '97.1', '74.7%', '99.1', '46.1', '82.2%', '90.0', '98.1', '63.4%',
       '97.6', '41.1%', '79.3%', '65.1%', '94.9', '88.3%', '88.1', '93.8',
       '79.0', '74.8', '82.9', '83.4', '78.4', '50.0%', '67.4', '66.9%',
       '43.3%', '97.8%', '78.8', '40.6', '84.9', '43.6', '46.2', '109.2',
       '53.3', '82.7', '72.3', '73.9', '78.3%', '48.2', '60.4%', '58.1%',
       '63.4', '49.9', '89.9%', '80.4%', '94.4%', '89.6%', '46.0',
       '56.5%', '48.6', '49.3%', '72.8%', '97.0%', '44.7', '92.1', '47.9',
       '45.0%', '95.6', '73.0', '58.6%', '89.8', '68.2', '92.4'],
      dtype=object)

In [ ]:
def attendance_clean(x):
    if pd.isna(x):
        return x
    y =str(x).replace("%"," ").strip()

In [195]:
def clean_attendance(att):
    if pd.isna(att):
        return att
    # Convert to string and remove % if present
    att_str = str(att).replace('%', '').strip()
    # Convert to float
    att_value = float(att_str)
    # Cap at 100
    if att_value > 100:
        att_value = 100.0
    # Round to 1 decimal
    return round(att_value, 1)

df['attendance'] = df['attendance'].apply(clean_attendance)
df["attendance"]

In [ ]:
df["attendance"].apply(attendance_clean)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
505   NaN
506   NaN
507   NaN
508   NaN
509   NaN
Name: attendance, Length: 510, dtype: float64

In [196]:
df['attendance'] = df['attendance'].apply(clean_attendance)

C:\Users\pavan\AppData\Local\Temp\ipykernel_10692\3862463479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attendance'] = df['attendance'].apply(clean_attendance)

In [ ]:
df["attendance"].unique()

array([ 42.4,  43.5,  51.3,  87.1,  74.5,  65.2,  73.5,  85.6,  94.6,
         nan,  64. ,  46.4,  72. ,  69.3,  81.4,  50.5,  58.9, 100. ,
        68.1,  84.7,  63.1,  69.7,  82. ,  74.6,  83.3,  90.1,  52.5,
        57.7,  90.9,  86.3,  60.8,  68.2,  40.9,  47.1,  73.3,  59.6,
        70.5,  62.8,  96.8,  67.6,  52.9,  87.3,  79.8,  86.9,  90.6,
        58.6,  64.4,  76. ,  57.1,  89.2,  58. ,  51.7,  53.9,  80.6,
        91.1,  72.1,  72.5,  95.1,  83. ,  99.5,  85.8,  90.4,  40.2,
        99. ,  55.5,  70.4,  66.3,  56.1,  66.5,  79.9,  89.4,  63.3,
        96.7,  43. ,  92.2,  71.4,  72.7,  99.4,  59.9,  88. ,  53.8,
        69.1,  93. ,  57.2,  44. ,  83.7,  60.9,  98.5,  76.7,  86.1,
        48.3,  68.9,  75.5,  99.8,  93.2,  57.6,  89.5,  78.5,  65.1,
        72.4,  51. ,  52.8,  95.2,  93.9,  96.2,  82.4,  47. ,  73.8,
        84.6,  95.7,  71. ,  91.6,  51.2,  80.1,  49.2,  80. ,  60.5,
        88.6,  81.9,  66.7,  67.9,  70.6,  75. ,  68.4,  54.9,  61.6,
        79.1,  83.5,  95.3,  47.6,  83.2,  80.2,  52.7,  62.9,  72.2,
        79.4,  74.9,  61.1,  64.8,  60. ,  62.4,  70. ,  56. ,  62.5,
        78. ,  86.8,  41.6,  56.3,  51.5,  46.5,  61.9,  86. ,  85.3,
        80.3,  73. ,  71.1,  42.6,  55.9,  44.1,  45.8,  95.4,  54.2,
        98.7,  93.4,  76.1,  94.2,  82.2,  48.4,  91.4,  81.6,  47.4,
        78.3,  61. ,  40.7,  83.6,  90.7,  89. ,  85.4,  47.2,  84.4,
        53.4,  89.8,  42.9,  88.4,  58.3,  48.9,  59.4,  54.4,  74.4,
        94.8,  96.4,  76.3,  41.9,  57.3,  44.3,  41.7,  60.4,  43.1,
        85.1,  84.1,  87.8,  53.3,  59.7,  92.5,  75.3,  44.5,  68.7,
        54.1,  52. ,  77.6,  46.8,  44.7,  95.8,  68.3,  84.2,  69. ,
        67. ,  91.2,  92.3,  77.1,  65.4,  58.2,  98.4,  55.8,  81. ,
        53.2,  73.4,  78.7,  81.7,  64.2,  81.8,  71.2,  94.1,  42.7,
        83.8,  50.1,  93.6,  61.4,  80.7,  93.3,  86.7,  76.9,  61.3,
        88.7,  56.8,  75.8,  46.7,  60.7,  77. ,  67.5,  69.4,  91.3,
        86.6,  86.4,  40.5,  50.4,  50.7,  86.2,  96.6,  64.5,  70.7,
        76.8,  96. ,  44.9,  76.4,  56.9,  69.9,  58.5,  98.6,  97.1,
        74.7,  99.1,  46.1,  90. ,  98.1,  63.4,  97.6,  41.1,  79.3,
        94.9,  88.3,  88.1,  93.8,  79. ,  74.8,  82.9,  83.4,  78.4,
        50. ,  67.4,  66.9,  43.3,  97.8,  78.8,  40.6,  84.9,  43.6,
        46.2,  82.7,  72.3,  73.9,  48.2,  58.1,  49.9,  89.9,  80.4,
        94.4,  89.6,  46. ,  56.5,  48.6,  49.3,  72.8,  97. ,  92.1,
        47.9,  45. ,  95.6,  92.4])

In [186]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa               0
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
df["attendance"]=df["attendance"].fillna(0.0)

In [187]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa               0
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
# df["city"]=df["city"].fillna(df["city"].mode()[0])

KeyError: 0

In [188]:
df.isnull().sum()

student_id         0
name               0
email             44
phone             50
age                0
gender             0
course             0
department         0
semester           0
cgpa               0
attendance        42
city              37
state              0
admission_date     0
fees_paid          0
hostel             0
dtype: int64

In [ ]:
df["city"].mode()

Series([], Name: city, dtype: object)

In [191]:
df=df.dropna()

In [ ]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,YES,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,8.97,43.5,Alappuzha,Kerala,2024-08-11,NO,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,OTHER,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,YES,Yes
5,STU20229728,Hardik Suri,cmammen@example.net,(03773515850),23,OTHER,B.E,Computer Science,6,5.06,65.2,Bally,Rajasthan,2022-06-23,YES,Yes
6,STU20243967,William Chana,srinivasandalaja@example.org,7990772625,21,Male,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,NO,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,STU20219952,Indira Yohannan,hardikbasu@example.org,(+913243298395),25,OTHER,BCA,Civil,3,8.48,80.1,Warangal,Telangana,14 June 2024,YES,Yes
502,STU20232604,Pranav Lanka,chopraradha@example.com,+91-5698169340,17,OTHER,BCA,Chemical,1,9.84,95.6,Mumbai,Delhi,14/04/2025,YES,Yes
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,Male,B.E,Information Technology,6,6.90,75.8%,Hajipur,Gujarat,29-08-2024,NO,Yes
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,Karnataka,27-12-2020,NO,Yes
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,NO,NO

In [192]:
df.shape

(353, 16)

In [193]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
11,STU20223526,Nirja Bains,calebdatta@example.net,2280920242,23,OTHER,MCA,Electronics,7,6.58,46.4,Khora,Maharashtra,28-08-2025,NO,Yes
149,STU20234365,Qadim Suresh,dasikshita@example.org,(+916794975679),28,Female,M.E,Mechanical,2,5.77,79.1,Durgapur,Gujarat,26 February 2025,NO,Yes
191,STU20221833,Pahal Chaudhry,advikatoor@example.org,(06985700272),27,OTHER,MCA,Mechanical,8,8.95,73.0%,Rewa,Karnataka,25-07-2022,NO,Yes
124,STU20239294,Tripti Narasimhan,deolaarnav@example.net,00026876811,68,OTHER,B.Tech,Information Technology,5,6.70,47.0,Raiganj,Uttar Pradesh,29/11/2021,NO,NO
230,STU20216370,Tamanna Parsa,chanderchandani@example.com,(06168147214),19,Male,MCA,Electronics,6,6.98,42.9,Hajipur,Gujarat,19 May 2024,NO,Yes
320,STU20241857,Gaurangi Rai,ria56@example.net,+91-2459375265,27,OTHER,B.E,Computer Science,6,5.47,80.7%,Pallavaram,Gujarat,05-10-2025,NO,Yes
171,STU20221832,Upma Bahl,pallaudarsh@example.net,+91-+910033092327,18,OTHER,M.E,Chemical,5,5.22,60.0,Phusro,Tamil Nadu,2022-09-19,NO,Yes
112,STU20211512,Aachal Kota,advikdada@example.org,6691836264,20,Male,M.E,Electronics,2,5.16,78.5,Orai,Telangana,2025-05-25,NO,NO
281,STU20227544,Siya Barman,shettybimala@example.net,+910074946539,22,OTHER,M.E,Civil,4,7.59,84.2,Ranchi,Karnataka,2022-03-27,YES,Yes
273,STU20219095,Mitali Bose,nicholas93@example.net,08562185016,24,OTHER,BCA,Civil,6,9.32,77.6,Aurangabad,Tamil Nadu,2023-10-05,NO,Yes

In [197]:
# Solution 1: Using string replacement
def clean_phone(phone):
    if pd.isna(phone):
        return phone
    # Convert to string and remove all non-digit characters
    phone_str = str(phone)
    digits = ''.join(filter(str.isdigit, phone_str))
    # Take last 10 digits (removes country code if present)
    return digits[-10:] if len(digits) >= 10 else digits

df['phone'] = df['phone'].apply(clean_phone)

# Alternative solution using replace
# df['phone'] = df['phone'].apply(lambda x: ''.join(filter(str.isdigit, str(x)))[-10:] if pd.notna(x) else x)

print("Sample cleaned phone numbers:")
print(df['phone'].head(10))
print(f"\nAll phone numbers have 10 digits: {df['phone'].dropna().apply(lambda x: len(str(x)) == 10).all()}")

Sample cleaned phone numbers:
0     8923923126
1     8179323023
2     0975451052
5     3773515850
6     7990772625
7     5060685361
8     9014870682
10    0653331537
11    2280920242
12    3785477725
Name: phone, dtype: object

All phone numbers have 10 digits: True

C:\Users\pavan\AppData\Local\Temp\ipykernel_10692\3211792548.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['phone'] = df['phone'].apply(clean_phone)

In [198]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,YES,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,8179323023,25,OTHER,M.E,Chemical,6,8.97,43.5,Alappuzha,Kerala,2024-08-11,NO,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,0975451052,21,OTHER,MCA,Chemical,5,5.76,51.3,Raichur,Tamil Nadu,2020-12-08,YES,Yes
5,STU20229728,Hardik Suri,cmammen@example.net,3773515850,23,OTHER,B.E,Computer Science,6,5.06,65.2,Bally,Rajasthan,2022-06-23,YES,Yes
6,STU20243967,William Chana,srinivasandalaja@example.org,7990772625,21,Male,M.E,Electronics,5,8.63,73.5,Mumbai,Tamil Nadu,2021-06-18,NO,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,STU20219952,Indira Yohannan,hardikbasu@example.org,3243298395,25,OTHER,BCA,Civil,3,8.48,80.1,Warangal,Telangana,14 June 2024,YES,Yes
502,STU20232604,Pranav Lanka,chopraradha@example.com,5698169340,17,OTHER,BCA,Chemical,1,9.84,95.6,Mumbai,Delhi,14/04/2025,YES,Yes
505,STU20243430,Jacob Merchant,timothy32@example.com,7956878339,18,Male,B.E,Information Technology,6,6.90,75.8,Hajipur,Gujarat,29-08-2024,NO,Yes
506,STU20241752,Atharv Parmer,soodkrish@example.net,7526772233,73,Male,M.E,Chemical,5,8.87,58.6,Alappuzha,Karnataka,27-12-2020,NO,Yes
508,STU20206410,Anjali Dube,lparmar@example.org,0837081647,18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,NO,NO

In [199]:
df.to_csv("cleaned_file.csv", index=False)

In [ ]:
# df.to_csv("cleaned_file.csv", index=False)