####  indian_college_messy_data data cleaning

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("csv data files/indian_college_messy_data.csv")

In [3]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
491,STU20228273,Christopher Tata,jhalakdugar@example.com,+91-+919138000307,18,Non-Binary,M.Tech,Information Technology,6,6.99,79.0,Yamunanagar,DL,20/02/2022,True,yes
472,STU20249947,Gautam Saraf,chaudhrysachi@example.org,(4005045562),26,Man,M.E,Electronics,5,7.18,41.7%,Bettiah,West Bengal,14/05/2024,FALSE,Yes
90,STU20229898,Thomas Lall,samiwriddhish@example.net,4484631224,22,other,B.Tech,Chemical,8,7.73,99.4%,Sirsa,Karnataka,2024-09-17,1,No
144,STU20205033,Theodore Goda,jbedi@example.org,+91-+917278895798,26,Other,B.Tech,Information Technology,2,7.10,75.0%,Motihari,UP,27/08/2024,N,N
330,STU20202070,darika bath,meghabhakta@example.org,+914324451076,-23,FEMALE,B.Tech,Information Technology,1,10.76,88.7,Bikaner,Gujarat,2024-02-05,yes,yes
119,STU20201158,Indira Dhawan,devanzarna@example.com,07652132833,19,Other,MCA,Electronics,6,11.79,66.3,Erode,KL,11/10/2024,N,Yes
111,STU20206153,Triya Manda,HTHAKKAR@EXAMPLE.COM,NaN,21,F,B.Tech,Chemical,7,9.32,89.5,Anantapuram,Maharashtra,29/07/2021,0,No
191,STU20221833,Pahal Chaudhry,advikatoor@example.org,(06985700272),27,other,MCA,Mechanical,8,8.95,73.0%,Rewa,Karnataka,25-07-2022,0,Yes
439,STU20205856,Samuel Kale,ranbir62@example.com,(+910443973597),27,M,B.E,Information Technology,2,NaN,50.0%,Hyderabad,Uttar Pradesh,06/11/2024,1,Yes
345,STU20236992,Ati Dani,GUNBIRRAMESH@EXAMPLE.COM,+91-08523986800,18,female,B.Tech,Mechanical,2,7.27,100.4,Durgapur,GJ,11/09/2023,FALSE,NO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

## cleaning the hostel column

In [5]:
df["hostel"].unique()

array(['Yes', ' Yes ', 'YES', 'NO', 'n', 'N', 'yes', 'Y', 'no', 'No', 'y',
       ' No '], dtype=object)

In [6]:
df["hostel"]=df["hostel"].apply(lambda x: x.upper())

In [7]:
df["hostel"].unique()

array(['YES', ' YES ', 'NO', 'N', 'Y', ' NO '], dtype=object)

In [8]:
def hostel_clean(x):
    if x == "N":
        x=x.replace("N","NO")
        return x
    else:
        x= "Yes"
        return x

In [9]:
df["hostel"]=df["hostel"].apply(hostel_clean)

In [10]:
df["hostel"].unique()

array(['Yes', 'NO'], dtype=object)

In [11]:
df.sample(5)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
174,STU20242638,Leela Dua,devanshsachdeva@example.com,08760366909,18,Non-Binary,M.Tech,Information Technology,5,5.66,60.9,Morena,KA,29/11/2020,yes,Yes
321,STU20223946,Ranveer Oak,tviswanathan@example.com,+91-+911823076810,17,Female,BCA,Electronics,1,9.48,106.7,Varanasi,Maharashtra,2021-08-08,False,Yes
467,STU20211685,Idika Walia,eprabhakar@example.net,(5067165726),21,Female,B.Tech,Mechanical,4,8.41,80.0,Nagaon,WB,28-02-2023,0,Yes
121,STU20209524,Darika Sehgal,kalesachi@example.net,07426629912,21,Non-Binary,BCA,Electrical,3,7.09,93.9,NaN,Uttar Pradesh,24/11/2024,True,NO
410,STU20203446,hitesh borah,bdugar@example.org,+91-02131096227,21,male,B.E,Civil,3,7.85,63.4%,Dehri,KL,30/05/2023,yes,NO

### cleaning name

In [12]:
df["name"]=df["name"].apply(lambda x: x.title())

In [13]:
df

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,TS,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,Non-Binary,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,Female,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Man,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Man,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,STU20243430,Jacob Merchant,timothy32@example.com,(+917956878339),18,MALE,B.E,Information Technology,6,6.90,75.8%,Hajipur,GJ,29-08-2024,False,Yes
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,KA,27-12-2020,N,Yes
507,STU20228414,Vritti Thaman,hemal88@example.org,NaN,18,MALE,MCA,Electronics,1,6.71,89.8,Proddatur,GJ,2023-06-10,False,Yes
508,STU20206410,Anjali Dube,lparmar@example.org,(0837081647),18,Male,B.Tech,Mechanical,7,5.36,68.2,Khora,Delhi,25/11/2020,N,NO
509,STU20223417,Abdul Dugar,NaN,NaN,26,M,B.E,Chemical,3,9.94,92.4,Belgaum,TN,03-03-2021,Yes,Yes

#### cleaning state data

In [14]:
df["state"] = df["state"].apply(lambda x: x.title().strip())

In [15]:
df["state"].unique()

array(['Ts', 'Kerala', 'Tamil Nadu', 'Rajasthan', 'Delhi', 'Rj', 'Dl',
       'West Bengal', 'Mh', 'Telangana', 'Tn', 'Wb', 'Gujarat',
       'Karnataka', 'Kl', 'Uttar Pradesh', 'Maharashtra', 'Gj', 'Up',
       'Ka'], dtype=object)

In [16]:
def state_1(x):
    if x in ["Tn"]:
       return "Tamil Nadu"
    elif x in ["Rj"]:
        return "Rajasthan"
    elif x in ["Dl"]:
        return "Delhi"
    elif x in "Ts":
        return "Telangana"
    elif x in "Wb":
        return "West Bengal"
    elif x in "Mh":
        return "Maharashtra"
    elif x in "Gj":
        return  "Gujarat"
    elif x in "Up":
        return "Uttar Pradesh"
    elif x in "Ka":
        return "Karnataka"
    elif x in "Kl":
        return "Kerala"
    else:
        return x

In [17]:
df["state"]=df["state"].apply(state_1)

### Age column cleaning

In [18]:
df["age"].unique()

array([ 17,  25,  21,  19,  18,  23,  27,  20,  28, -26, -18,  26,  22,
        70,  24,  73, -22, -19,  78,  74, -23, -20, -28,  72,  68,  69,
       -17,  77, -27, -25, -24, -21,  75])

In [19]:
df["age"].dtype

dtype('int64')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB

In [21]:
#  age=df["age"].astype(float)

In [22]:
# age.unique()

In [23]:
# age=abs(age)

In [24]:
# age.unique()

In [25]:
def age_1(x):
    x = abs(x)
    return x

In [26]:
df["age"]=df["age"].apply(age_1)

In [27]:
df.sample(2)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
143,STU20228034,Anthony Baral,NaN,02055543840,21,O,B.Tech,Mechanical,2,7.48,70.6,Munger,Maharashtra,2021-02-10,no,Yes
506,STU20241752,Atharv Parmer,soodkrish@example.net,+91-7526772233,73,Male,M.E,Chemical,5,8.87,58.6%,Alappuzha,Karnataka,27-12-2020,N,Yes

#### cleaning Gender colunm

In [28]:
df["gender"].unique()

array(['Male', 'Non-Binary', 'Female', 'Man', 'O', 'M', 'female', 'male',
       'other', 'F', 'Other', 'MALE', 'Woman', 'FEMALE'], dtype=object)

In [29]:
def gender_clean(y):
    x= str(y).upper()
    if x in ["M","MALE","MAN"]:
        return "Male"
    elif x in ["F", "WOMAN"]:
        return "Female"
    else:
        return "OTHER"

In [30]:
df["gender"]=df["gender"].apply(gender_clean)

In [31]:
df["gender"].unique()

array(['Male', 'OTHER', 'Female'], dtype=object)

In [32]:
df.head()

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
0,STU20238485,Yug Sanghvi,urvichauhan@example.net,+91-8923923126,17,Male,BCA,Information Technology,7,9.92,42.4,Panipat,Telangana,2022-07-01,1,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes
2,STU20237737,Teerth Mody,shethvinaya@example.org,(00975451052),21,OTHER,MCA,Chemical,5,5.76,51.3%,Raichur,Tamil Nadu,2020-12-08,Yes,Yes
3,STU20212477,Triya Bir,kiberaksha@example.org,NaN,19,Male,M.E,Electronics,6,7.10,87.1,Gulbarga,Rajasthan,2021-07-10,0,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Male,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO

In [33]:
df['gender'].unique()

array(['Male', 'OTHER', 'Female'], dtype=object)

### Email cleaning

In [34]:
df["email"].unique()

array(['  urvichauhan@example.net  ', 'krishhora@example.com',
       'shethvinaya@example.org', '  kiberaksha@example.org  ', nan,
       '  cmammen@example.net  ', '  srinivasandalaja@example.org  ',
       'RAJESHRICHAND@EXAMPLE.ORG', '  bosewriddhish@example.org  ',
       'TARAAVI@EXAMPLE.ORG', 'daksheshkhanna@example.net',
       'calebdatta@example.net', 'forumkarpe@example.com',
       '  kotharinakul@example.com  ', 'ranabakhshi@example.net',
       'fmorar@example.org', 'CHATURA15@EXAMPLE.COM',
       'mason22@example.org', 'atwalteerth@example.net',
       '  lshere@example.net  ', 'ekantika31@example.com',
       'ekanshbalay@example.com', 'purohitishita@example.net',
       'dattaaashi@example.net', 'anjali60@example.org',
       'PRASHADZINAL@EXAMPLE.COM', 'upkaar49@example.org',
       'ishwargade@example.com', 'choprahemangini@example.org',
       '  balakrishnanfinn@example.org  ', 'vtandon@example.net',
       'aryan71@example.com', 'MAYAPUROHIT@EXAMPLE.NET',
       '  andrew54@example.org  ', 'MANNCHARVI@EXAMPLE.NET',
       'jonathan74@example.com', '  xalakmand@example.net  ',
       'anita21@example.net', 'lpau@example.net', 'mekhala36@example.net',
       'vbajaj@example.com', 'jboase@example.net', 'janaki93@example.net',
       'GARIMAOOMMEN@EXAMPLE.ORG', 'KALPITBRAR@EXAMPLE.COM',
       'ysarraf@example.com', 'KAMYASETH@EXAMPLE.COM',
       'ekavir93@example.com', 'zaid96@example.net',
       'CHANCHAL17@EXAMPLE.ORG', 'lakshbarad@example.com',
       'OJASVISHAH@EXAMPLE.NET', 'shanneelima@example.net',
       'CHARVIMANGAT@EXAMPLE.COM', 'wvala@example.org',
       'advaith83@example.org', 'borahishita@example.org',
       'OLIVER15@EXAMPLE.COM', 'WARINDERCHAUHAN@EXAMPLE.ORG',
       'dharraksha@example.org', 'faqidsavant@example.net',
       'robertsha@example.com', 'bhavini36@example.net',
       'minhaspooja@example.com', '  zayyan92@example.com  ',
       'aviagate@example.org', '  niharika92@example.org  ',
       'ngole@example.org', 'jalsa11@example.org',
       'samarthdass@example.org', 'MANTHANLATA@EXAMPLE.ORG',
       'chatura47@example.net', '  qraju@example.net  ',
       'ozafrado@example.org', '  chaturaapte@example.net  ',
       'warinderchoudhury@example.net', '  baghyawatikumar@example.org  ',
       'FRATTI@EXAMPLE.NET', '  zinalsachar@example.net  ',
       'IJAYA87@EXAMPLE.NET', 'omya66@example.net',
       'samiwriddhish@example.net', '  rbrahmbhatt@example.net  ',
       '  janakidugar@example.net  ', '  tsoni@example.com  ',
       'bailchaitanya@example.org', 'ZAYYANMODY@EXAMPLE.NET',
       'mitesh14@example.com', 'mitalchaitanya@example.net',
       'advaith11@example.net', '  sarthakrana@example.com  ',
       '  chandransoman@example.com  ', 'kharevrinda@example.com',
       'devikaramachandran@example.com', 'jasmit71@example.com',
       'BALASUBRAMANIANTHOMAS@EXAMPLE.COM', 'leenachacko@example.net',
       'samarthbhatti@example.org', '  devankavya@example.com  ',
       'bhavnalanka@example.org', 'ethanseth@example.org',
       'HTHAKKAR@EXAMPLE.COM', 'advikdada@example.org',
       'KONDAKALA@EXAMPLE.COM', 'champak66@example.com',
       'qchana@example.com', 'ckala@example.org',
       '  dalaja33@example.org  ', 'nandasachi@example.org',
       '  devanzarna@example.com  ', 'ANSHBEDI@EXAMPLE.COM',
       'kalesachi@example.net', '  sharafsachi@example.net  ',
       '  yashvi77@example.org  ', 'DEOLAARNAV@EXAMPLE.NET',
       'boraekavir@example.net', '  kotafaras@example.com  ',
       'spalan@example.net', 'amol89@example.org', 'yug48@example.com',
       'onkar91@example.org', 'ravalyoshita@example.org',
       'zaiddhingra@example.net', '  yatan23@example.org  ',
       'dixiturvi@example.com', 'fhayer@example.com',
       '  eprabhakar@example.net  ', 'tdixit@example.com',
       'dhaliwaljatin@example.org', 'desaifrado@example.com',
       '  owen10@example.org  ', 'jbedi@example.org',
       '  choudhuryfaqid@example.net  ', 'peter50@example.org',
       'ranganathanbrijesh@example.com', 'luthraharrison@example.org',
       'dasikshita@example.org', 'qdesai@example.net',
       'maanav15@example.org', 'faraj48@example.com',
       'aryanbatra@example.org', 'LALLYUVRAJ@EXAMPLE.COM',
       'jagvi10@example.com', 'bhattishivansh@example.net',
       'NATHANIELSAMI@EXAMPLE.NET', 'yochana77@example.org',
       'CDIXIT@EXAMPLE.NET', 'VEDHIKASHANKAR@EXAMPLE.ORG',
       'hemaljani@example.net', '  dakshchar@example.com  ',
       'omya35@example.org', 'odikanori@example.com',
       'bajajchanchal@example.com', '  jeevika28@example.net  ',
       'NIRJA89@EXAMPLE.COM', 'pallaudarsh@example.net',
       'gdalia@example.org', 'johaljacob@example.org',
       'devanshsachdeva@example.com', 'choudhuryjanani@example.com',
       '  keyachakraborty@example.com  ', '  jbhardwaj@example.com  ',
       'xkara@example.net', 'DMORAR@EXAMPLE.COM',
       'fradowadhwa@example.net', 'bordechanakya@example.org',
       '  chaudhuribhavika@example.net  ', 'HSURA@EXAMPLE.COM',
       'ekannan@example.com', 'SAMIKEVIN@EXAMPLE.COM',
       'charitakothari@example.net', '  zarna02@example.com  ',
       'oscarvarkey@example.org', 'advikatoor@example.org',
       'MITRAUNNI@EXAMPLE.ORG', 'lnarang@example.org',
       'swamyomkaar@example.org', 'sarkarhitesh@example.org',
       'FLALA@EXAMPLE.COM', 'keya17@example.net',
       'TRIPATHIAZAAN@EXAMPLE.NET', 'chaayaramakrishnan@example.com',
       'anirudh20@example.net', 'zsridhar@example.com',
       '  praneelsagar@example.net  ', 'mangatnilima@example.org',
       'chavvi34@example.net', 'tanay26@example.net',
       '  rdas@example.com  ', 'ekantakothari@example.com',
       '  william02@example.org  ', '  nicholas17@example.org  ',
       'chakrika47@example.net', 'PBASAK@EXAMPLE.NET',
       'meghana91@example.com', 'warjasnadkarni@example.net',
       '  qshankar@example.net  ', 'VAMAKSHI17@EXAMPLE.NET',
       'noahsarma@example.org', 'golagaurav@example.net',
       '  ikbalbabu@example.org  ', 'wagleanvi@example.net',
       '  vermadevika@example.org  ', 'sabharwalguneet@example.net',
       'iyergauri@example.org', '  jananisoman@example.net  ',
       'balhaar47@example.net', 'smutti@example.org',
       'hbains@example.org', 'jagat67@example.net',
       'zinalzachariah@example.com', 'chanderchandani@example.com',
       '  vsastry@example.org  ', 'samuelbhargava@example.net',
       'girik34@example.org', 'sidhugunbir@example.com',
       'WCHOWDHURY@EXAMPLE.COM', 'dateanvi@example.net',
       '  ekalingachaudhuri@example.net  ', 'umang58@example.com',
       'lakshitmore@example.net', 'uaggarwal@example.net',
       'LEELASAMPATH@EXAMPLE.NET', 'devikachad@example.net',
       'logan68@example.net', 'azaanravel@example.com',
       'KAMYADATE@EXAMPLE.NET', 'akakar@example.net',
       'vasudha77@example.com', '  ghayer@example.org  ',
       'varkeyharsh@example.org', 'bpandya@example.com',
       'advaithvarughese@example.org', 'baljiwan04@example.net',
       'saksham03@example.org', 'oscarborde@example.org',
       '  lkalita@example.com  ', 'hitesh02@example.com',
       'CHOWDHURYODIKA@EXAMPLE.COM', 'avi43@example.net',
       'damyantireddy@example.net', 'LILASALVI@EXAMPLE.COM',
       'COMARWIDISHA@EXAMPLE.NET', '  nkhare@example.org  ',
       'shravya73@example.com', 'quincy66@example.org',
       'YUTIKADEY@EXAMPLE.COM', 'NOAH06@EXAMPLE.NET',
       'bishakha49@example.net', 'christopherpalla@example.org',
       'imaran69@example.com', 'SLOKE@EXAMPLE.NET',
       'nicholas93@example.net', '  aarnagoswami@example.net  ',
       'chatreshbhalla@example.org', 'DPRABHU@EXAMPLE.NET',
       'virajbora@example.org', '  lakshbasu@example.org  ',
       'NATHANIELMAHAJAN@EXAMPLE.ORG', '  keyagoyal@example.org  ',
       'shettybimala@example.net', 'loyalomisha@example.com',
       '  lekha04@example.com  ', 'agarwalidika@example.net',
       'CPRABHAKAR@EXAMPLE.NET', 'varkeyavni@example.org',
       'pallavipurohit@example.org', '  garghemang@example.net  ',
       'barmanrayaan@example.org', 'ahujanimrat@example.net',
       '  wahab38@example.org  ', '  vasaunnati@example.com  ',
       'ramaswamyaadhya@example.com', 'oliver09@example.net',
       'chaitalybhatia@example.com', '  chanakyamandal@example.com  ',
       'eparekh@example.net', 'warjas42@example.net',
       'nihal41@example.com', 'ksarna@example.org',
       '  vamakshi15@example.net  ', 'sandhuyatan@example.com',
       'idas@example.net', 'WGOSWAMI@EXAMPLE.NET',
       'choudhurygaurav@example.com', '  sundaramyutika@example.org  ',
       'theodorebahri@example.net', 'logan25@example.com',
       'tanmayiom@example.com', 'ALKAJHAVERI@EXAMPLE.ORG',
       'CHAVVI03@EXAMPLE.ORG', 'KSHARAF@EXAMPLE.ORG',
       'oloyal@example.net', 'ranbir00@example.net', 'pborde@example.org',
       'caleb13@example.com', 'ria56@example.net',
       'tviswanathan@example.com', 'anushayogi@example.com',
       'tiwarisamaksh@example.net', 'thakuramol@example.org',
       '  aryan69@example.org  ', '  brandhawa@example.net  ',
       'chaturakarpe@example.org', 'ojasvi77@example.org',
       'wgolla@example.net', '  meghabhakta@example.org  ',
       'dominic24@example.org', 'MITALI54@EXAMPLE.ORG',
       'wallaryan@example.net', 'pradhanaashi@example.net',
       '  harish34@example.org  ', 'gopalbawa@example.com',
       'chanakya01@example.net', 'XGOEL@EXAMPLE.NET',
       '  daraanusha@example.org  ', 'SAUMYASINHA@EXAMPLE.COM',
       'GUNBIRRAMESH@EXAMPLE.COM', 'indirakanda@example.net',
       'GCHAUHAN@EXAMPLE.ORG', 'chatreshvig@example.org',
       'shanchandresh@example.com', 'echand@example.com',
       'michael82@example.com', 'banjeet82@example.org',
       'TANAYNARULA@EXAMPLE.COM', '  pbanik@example.org  ',
       'patelojasvi@example.com', '  mammenjonathan@example.net  ',
       '  jshanker@example.com  ', 'KAMYA66@EXAMPLE.NET',
       'janya28@example.net', 'ANUSHA41@EXAMPLE.NET',
       'kalayashoda@example.com', 'maya51@example.net',
       'EKARAJ35@EXAMPLE.COM', 'finn71@example.com',
       'halderanirudh@example.com', 'shetheshana@example.net',
       'vlanka@example.net', 'MAYA21@EXAMPLE.NET',
       'vamakshi12@example.net', 'VYOHANNAN@EXAMPLE.NET',
       'ESHANACHAKRABORTY@EXAMPLE.NET', 'XSULE@EXAMPLE.ORG',
       '  michaelbedi@example.net  ', 'farhanlad@example.net',
       '  sinhachandresh@example.org  ', 'AYUSHMANMAND@EXAMPLE.ORG',
       'shereavi@example.org', 'bkamdar@example.org',
       'jacob34@example.org', 'GANDHIRAKSHA@EXAMPLE.NET',
       '  devikarastogi@example.net  ', 'sgola@example.org',
       '  abhimanyusandal@example.net  ', '  chandranbumb@example.com  ',
       'mallzayyan@example.org', 'diptakhare@example.com',
       'maya55@example.com', 'SANKARANEKANTIKA@EXAMPLE.NET',
       'gagan22@example.org', 'kritikacheema@example.org',
       'nathzinal@example.org', 'ranganathanjanuja@example.net',
       'WADHWAGAGAN@EXAMPLE.COM', 'gavinbehl@example.com',
       '  nayakandrew@example.net  ', 'chanakya44@example.net',
       'masonsolanki@example.org', '  rishi12@example.net  ',
       'OSCARSOMAN@EXAMPLE.ORG', 'bdugar@example.org',
       'ekapadwali@example.org', 'JALSA24@EXAMPLE.COM',
       'zgade@example.com', 'RACHANA94@EXAMPLE.COM',
       '  ekani00@example.net  ', '  tsabharwal@example.com  ',
       'HEMANI22@EXAMPLE.NET', 'adevan@example.org', 'BDARA@EXAMPLE.NET',
       'DEVLALLA@EXAMPLE.COM', 'jainwriddhish@example.net',
       'tankrushil@example.net', 'bhallagaurika@example.com',
       'LEELA37@EXAMPLE.COM', 'HEMANGINI04@EXAMPLE.NET',
       'abeer26@example.com', '  luke90@example.org  ',
       '  dhawankalpit@example.org  ', 'ekansh53@example.net',
       'mitravritti@example.net', '  samaksh87@example.com  ',
       'nachiket11@example.net', 'dewanmitesh@example.com',
       'ranbir62@example.com', 'bhasinnakul@example.com',
       'SRINIVASANIJAYA@EXAMPLE.COM', 'isaac10@example.net',
       'kevinzacharia@example.com', '  vasudha92@example.net  ',
       'IDATE@EXAMPLE.NET', 'daksheshtrivedi@example.org',
       '  mitraijaya@example.com  ', '  edhithaborah@example.com  ',
       'YASHASVI21@EXAMPLE.COM', 'VARUGHESELUCKY@EXAMPLE.COM',
       'PETERAGARWAL@EXAMPLE.NET', 'UTKARSH75@EXAMPLE.COM',
       'qcomar@example.net', '  darpan44@example.org  ',
       '  varenyachander@example.com  ', 'AMISTRY@EXAMPLE.COM',
       'idada@example.org', 'dugarzaid@example.net',
       'tanmayi43@example.com', 'toorchanchal@example.com',
       'aarnanagarajan@example.net', 'tellakavya@example.com',
       'KRISHNANURVI@EXAMPLE.NET', 'leenasule@example.net',
       'MISRABINA@EXAMPLE.COM', 'NIGAMVASUDHA@EXAMPLE.NET',
       'chaudhrysachi@example.org', 'tanmayi94@example.net',
       'wishisamra@example.org', 'hgupta@example.net',
       'narayanandipta@example.net', 'qmistry@example.org',
       'iryakala@example.org', '  takwazir@example.org  ',
       'saumya34@example.com', 'choudhrywakeeta@example.org',
       'harini50@example.net', 'MANTHANSETHI@EXAMPLE.NET',
       'atharv78@example.com', 'GKALA@EXAMPLE.ORG',
       'chasmumahuja@example.com', 'zsarin@example.net',
       'DALBIRKONDA@EXAMPLE.ORG', 'ynarula@example.com',
       'jhalakdugar@example.com', '  maanaschhabra@example.org  ',
       'triptiwalia@example.com', 'MANEJAIRAJ@EXAMPLE.COM',
       'warjastak@example.org', 'JNAGARAJAN@EXAMPLE.ORG',
       'jagvi25@example.com', 'HARDIKBASU@EXAMPLE.ORG',
       'GIRISH80@EXAMPLE.ORG', 'chopraradha@example.com',
       '  anthonythaman@example.org  ', '  kotaraksha@example.com  ',
       'timothy32@example.com', 'soodkrish@example.net',
       '  hemal88@example.org  ', 'lparmar@example.org'], dtype=object)

In [35]:
df["email"]=df["email"].apply(lambda x:  x.lower().strip() if pd.notna(x) else x )

In [36]:
df.sample(6)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
33,STU20223973,Pallavi Trivedi,andrew54@example.org,+915733221418,26,OTHER,MCA,Chemical,8,14.85,68.2%,Naihati,Telangana,23-12-2021,no,NO
439,STU20205856,Samuel Kale,ranbir62@example.com,(+910443973597),27,Male,B.E,Information Technology,2,NaN,50.0%,Hyderabad,Uttar Pradesh,06/11/2024,1,Yes
403,STU20228201,Pooja Badami,gavinbehl@example.com,08433567086,23,Female,B.E,Civil,3,7.11,76.8,Avadi,Maharashtra,18/10/2021,1,Yes
44,STU20219787,Bhavya Bajwa,garimaoommen@example.org,+918033968527,18,Male,M.E,Electronics,6,9.91,87.3%,Amritsar,West Bengal,16/01/2025,No,Yes
215,STU20226340,Darpan Kale,vamakshi17@example.net,NaN,70,OTHER,B.Tech,Mechanical,8,7.64,78.3,Medininagar,Kerala,22 July 2022,N,Yes
1,STU20206913,Patrick Prasad,krishhora@example.com,(+918179323023),25,OTHER,M.E,Chemical,6,13.97,43.5,Alappuzha,Kerala,2024-08-11,N,Yes

In [37]:

df["course"].unique()

array(['BCA', 'M.E', 'MCA', 'B.Tech', 'B.E', 'M.Tech'], dtype=object)

In [38]:
df["department"].unique()

array(['Information Technology', 'Chemical', 'Electronics',
       'Computer Science', 'Mechanical', 'Electrical', 'Civil'],
      dtype=object)

In [39]:
df["cgpa"].unique()

array([ 9.92, 13.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
       -6.83,  6.58, 10.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 , -8.83,  7.62,  7.73,  9.65,
        9.96, -8.31,  9.16,  5.57, 14.85, 13.3 ,  7.17,  6.95,  9.15,
        9.84,  8.97,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,
        7.4 ,  7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,
        8.93,  7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,
        7.49,  7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,
        7.07,  7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,
        5.27, -7.2 ,  7.82, -9.04,  6.45,  8.76,  7.42,  5.79,  6.59,
        5.53, -6.55, 13.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,
        9.37, -9.87,  9.51,  5.7 , 11.79, 13.08,  7.09,  8.07,  9.07,
        6.7 ,  9.62,  6.16,  6.42,  8.06,  7.29,  5.12, 14.46, 12.85,
        7.25,  6.82,  7.37,  8.41,  9.99, 12.51,  6.36,  6.22,  7.48,
        6.21,  6.62,  5.77,  9.02,  6.71,  8.43,  9.26,  7.23,  5.83,
        5.85,  6.78,  6.51,  6.68,  8.95,  9.53,  8.81,  8.65,  6.83,
       11.97,  6.53,  8.  ,  7.65,  5.8 ,  5.22,  6.  ,  5.66,  6.06,
       -6.21,  8.33,  8.6 ,  9.39,  6.15, -8.37,  8.05,  8.27,  6.49,
        9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,  8.88,  8.83,
       -9.06,  7.21, -9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18, 11.21,
        7.64,  8.31,  7.93, -5.44, 11.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 , -9.18,  5.3 , -7.78,  8.45,  7.76,  8.42,  7.77,
        5.82,  9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,
        7.12,  6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,
        6.33,  5.58, 13.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,
       12.59, 13.68,  9.79,  5.18,  7.34,  5.43,  6.89,  9.17,  9.74,
        5.03,  7.46,  9.52,  7.19, -9.45,  9.81,  9.97,  6.67,  9.18,
        9.87,  9.48,  8.09, 12.15,  6.38,  7.97,  8.85,  8.03, 12.25,
       13.42, 10.76,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,  5.69,
       12.28, -7.27,  6.29,  7.81,  6.07,  9.45, -8.96,  7.94,  9.25,
        6.26, 12.38,  6.14,  8.48,  9.6 ,  9.93,  6.02,  9.86,  5.56,
        8.62,  5.46,  9.49,  7.45,  9.31,  7.39,  8.19,  9.64, 13.85,
        9.06,  7.11,  6.9 ,  9.08,  8.66, -5.23,  9.09,  5.23,  7.86,
        7.41,  7.5 ,  8.58,  6.48,  5.42,  9.19,  6.54,  6.25,  7.68,
        8.59,  8.35,  9.01,  9.29,  6.28, -6.56,  9.28, -5.94,  7.63,
        8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,  9.41,  5.01,  6.63,
        5.78,  7.79,  6.88, -9.68,  5.19,  9.76, 10.  ,  6.99,  8.78,
        7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [ ]:
# df["cgpa"].apply(lambda x:  x if pd.isna(x) else x, x=abs(x), x)

SyntaxError: positional argument follows keyword argument (4104323323.py, line 1)

In [54]:
def cgpa_clean(x):
    # x.strip()
    if pd.isna(x):
        return x
    elif x > 10:
        x= x-5 
    x=abs(x)
    return x

In [55]:
df["cgpa"]=df["cgpa"].apply(cgpa_clean)

In [44]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [56]:
df.sample(10)

,student_id,name,email,phone,age,gender,course,department,semester,cgpa,attendance,city,state,admission_date,fees_paid,hostel
461,STU20219529,Dipta Butala,dugarzaid@example.net,+91-2965772429,18,OTHER,M.Tech,Civil,7,5.46,53.3,Ichalkaranji,Delhi,21/07/2022,No,Yes
145,STU20234510,Riya Sane,choudhuryfaqid@example.net,(+918059826204),25,Male,MCA,Information Technology,8,6.21,68.4,NaN,Telangana,27/11/2023,1,Yes
460,STU20227149,Ucchal Mittal,idada@example.org,NaN,23,OTHER,M.Tech,Computer Science,4,5.51,NaN,Dharmavaram,Kerala,2022-03-06,1,Yes
328,STU20249270,Bishakha Upadhyay,ojasvi77@example.org,+91-08263982146,23,OTHER,M.E,Electronics,8,7.25,85.1,Guna,Gujarat,19/02/2023,0,Yes
223,STU20232687,Ekbal Parsa,iyergauri@example.org,5444392840,18,Male,M.E,Information Technology,1,5.13,NaN,Ichalkaranji,Karnataka,23/10/2023,1,Yes
151,STU20229301,Isaiah Sane,maanav15@example.org,+916557676952,25,OTHER,B.Tech,Computer Science,6,6.71,83.5,Yamunanagar,Kerala,03/06/2024,Y,Yes
356,STU20201017,Fariq Sidhu,patelojasvi@example.com,0948014138,70,Female,B.Tech,Electronics,4,7.60,66.7,Salem,Maharashtra,29/10/2022,0,Yes
481,STU20244057,Yuvraj Mitter,saumya34@example.com,+915662776896,25,OTHER,B.E,Electrical,8,6.38,89.9%,Ongole,Uttar Pradesh,11/01/2021,Yes,Yes
273,STU20219095,Mitali Bose,nicholas93@example.net,08562185016,24,OTHER,BCA,Civil,6,9.32,77.6,Aurangabad,Tamil Nadu,2023-10-05,no,Yes
4,STU20221620,Chasmum Rana,NaN,+91-+914287572158,18,Male,B.Tech,Electronics,5,NaN,74.5,Ajmer,Delhi,2023-01-29,N,NO

In [46]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [60]:
df["cgpa"]=df["cgpa"].astype(float)

In [61]:
df["cgpa"].unique()

array([ 9.92,  8.97,  5.76,  7.1 ,   nan,  5.06,  8.63,  8.13,  9.13,
        6.83,  6.58,  5.65,  7.27,  8.74,  8.89,  6.3 ,  9.89,  7.2 ,
        8.91,  7.98,  9.12,  5.47,  9.7 ,  8.83,  7.62,  7.73,  9.65,
        9.96,  8.31,  9.16,  5.57,  9.85,  8.3 ,  7.17,  6.95,  9.15,
        9.84,  9.21,  9.  ,  8.54,  6.39,  9.91,  5.52,  6.93,  7.4 ,
        7.06,  9.57,  5.81,  7.67,  8.2 ,  6.24,  6.75,  5.95,  8.93,
        7.85,  6.46,  8.68,  8.25,  7.54,  7.91,  7.9 ,  6.86,  7.49,
        7.88,  5.92,  8.37,  8.08,  7.43,  7.89,  7.32,  5.74,  7.07,
        7.66,  9.63,  7.52,  9.71,  5.21,  5.55,  7.84,  7.13,  5.27,
        7.82,  9.04,  6.45,  8.76,  7.42,  5.79,  6.59,  5.53,  6.55,
        8.48,  8.23,  8.01,  8.98,  9.32,  5.16,  5.32,  9.37,  9.87,
        9.51,  5.7 ,  6.79,  7.09,  8.07,  9.07,  6.7 ,  9.62,  6.16,
        6.42,  8.06,  7.29,  5.12,  9.46,  7.25,  6.82,  7.37,  8.41,
        9.99,  7.51,  6.36,  6.22,  7.48,  6.21,  6.62,  5.77,  9.02,
        6.71,  8.43,  9.26,  7.23,  5.83,  5.85,  6.78,  6.51,  6.68,
        8.95,  9.53,  8.81,  8.65,  6.97,  6.53,  8.  ,  7.65,  5.8 ,
        5.22,  6.  ,  5.66,  6.06,  8.33,  8.6 ,  9.39,  6.15,  8.05,
        8.27,  6.49,  9.43,  7.83,  8.73,  8.69,  5.08,  5.64,  8.34,
        8.88,  9.06,  7.21,  9.33,  8.87,  8.36,  7.78,  5.5 ,  8.18,
        6.21,  7.64,  7.93,  5.44,  6.33,  5.6 ,  5.13,  8.38,  8.79,
        6.98,  7.6 ,  9.18,  5.3 ,  8.45,  7.76,  8.42,  7.77,  5.82,
        9.75,  9.24,  5.88,  8.84,  5.11,  5.87,  7.28,  8.39,  7.12,
        6.84,  5.51,  6.12,  6.76,  6.43,  9.58,  9.9 ,  8.47,  5.58,
        8.35,  5.96,  6.65,  8.7 ,  6.19,  6.79,  6.01,  7.59,  9.79,
        5.18,  7.34,  5.43,  6.89,  9.17,  9.74,  5.03,  7.46,  9.52,
        7.19,  9.45,  9.81,  9.97,  6.67,  9.48,  8.09,  7.15,  6.38,
        7.97,  8.85,  8.03,  6.31,  9.61,  7.44,  8.02,  6.96,  7.24,
        5.69,  7.28,  6.29,  7.81,  6.07,  8.96,  7.94,  9.25,  6.26,
        7.38,  6.14,  9.6 ,  9.93,  6.02,  9.86,  5.56,  8.62,  5.46,
        9.49,  7.45,  9.31,  7.39,  8.19,  9.64,  7.11,  6.9 ,  9.08,
        8.66,  5.23,  9.09,  7.86,  7.41,  7.5 ,  8.58,  6.48,  5.42,
        9.19,  6.54,  6.25,  7.68,  8.59,  9.01,  9.29,  6.28,  6.56,
        9.28,  5.94,  7.63,  8.29,  5.39,  6.72,  8.99,  7.18,  6.6 ,
        9.41,  5.01,  6.63,  5.78,  7.79,  6.88,  9.68,  5.19,  9.76,
       10.  ,  6.99,  8.78,  7.22,  7.08,  8.51,  5.73,  5.36,  9.94])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      510 non-null    object
 1   name            510 non-null    object
 2   email           466 non-null    object
 3   phone           460 non-null    object
 4   age             510 non-null    int64
 5   gender          510 non-null    object
 6   course          510 non-null    object
 7   department      510 non-null    object
 8   semester        510 non-null    int64
 9   cgpa            480 non-null    float64
 10  attendance      468 non-null    object
 11  city            473 non-null    object
 12  state           510 non-null    object
 13  admission_date  510 non-null    object
 14  fees_paid       510 non-null    object
 15  hostel          510 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 63.9+ KB