# Pandas Null Values Handling Practice

This notebook contains practice questions for handling null values in pandas.

**Dataset:** sales_data.csv (Employee sales data with missing values)

## Setup: Import Libraries and Load Data

In [3]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('csv data files/null_v1.csv')
print("Dataset loaded successfully!")
df.head(10)

Dataset loaded successfully!

,employee_id,name,department,salary,age,sales_amount,join_date,performance_score
0,101,John Smith,Sales,55000.0,28.0,12500.0,2020-03-15,8.5
1,102,Maria Garcia,NaN,62000.0,34.0,15800.0,2019-07-22,9.2
2,103,James Wilson,Marketing,48000.0,NaN,11200.0,2021-01-10,NaN
3,104,Lisa Anderson,Sales,NaN,29.0,14500.0,2020-11-05,7.8
4,105,Robert Brown,IT,75000.0,42.0,NaN,2018-05-18,8.9
5,106,NaN,Marketing,51000.0,31.0,9800.0,NaN,8.1
6,107,Emily Davis,Sales,58000.0,27.0,16200.0,2021-06-30,9.5
7,108,Michael Lee,NaN,69000.0,38.0,NaN,2019-02-14,NaN
8,109,Sarah Taylor,IT,NaN,33.0,13400.0,2020-09-25,8.3
9,110,David Martinez,Marketing,54000.0,NaN,NaN,2021-03-08,7.9

## Question 1: Detecting Null Values

**Task:** 
- Display the total number of null values in each column
- Display the percentage of null values in each column
- Which column has the most missing values?

In [35]:
# Your code here
print("=="*50)
print(f"total nulls valuse of each column")
print("=="*50)
null_values=df.isnull().sum()
print(f"{null_values}")
print(f"tolal sum of all null valuses {null_values.sum()}")
max=df.isnull().sum() / len(df)*100
print("=="*50)
print( "percentage of null valuse ")
print("=="*50)
max=df.isnull().sum() / len(df)*100
print(f"{max}")

====================================================================================================
total nulls valuse of each column
====================================================================================================
employee_id          0
name                 2
department           5
salary               4
age                  4
sales_amount         6
join_date            3
performance_score    5
dtype: int64
tolal sum of all null valuses 29
====================================================================================================
percentage of null valuse
====================================================================================================
employee_id           0.0
name                 10.0
department           25.0
salary               20.0
age                  20.0
sales_amount         30.0
join_date            15.0
performance_score    25.0
dtype: float64

## Question 2: Visualizing Missing Data

**Task:** 
- Use `isnull()` to create a boolean DataFrame showing where nulls exist
- Display rows that contain at least one null value

In [5]:
# Your code here

## Question 3: Drop Rows with Null Values

**Task:** 
- Create a new DataFrame that drops all rows containing any null values
- How many rows remain after dropping?
- Is this a good approach for this dataset? Why or why not?

In [6]:
# Your code here

## Question 4: Drop Columns with Many Nulls

**Task:** 
- Drop columns that have more than 20% missing values
- Which columns were dropped?

In [7]:
# Your code here

## Question 5: Fill Null Values with Mean/Median

**Task:** 
- Fill null values in the 'salary' column with the mean salary
- Fill null values in the 'age' column with the median age
- Display the filled data

In [8]:
# Your code here

## Question 6: Fill Categorical Nulls

**Task:** 
- Fill null values in the 'department' column with 'Unknown'
- Fill null values in the 'name' column with 'Anonymous'
- Verify no nulls remain in these columns

In [9]:
# Your code here

## Question 7: Forward Fill and Backward Fill

**Task:** 
- Sort the DataFrame by 'join_date'
- Use forward fill (`ffill`) to fill null values in 'performance_score'
- Then use backward fill (`bfill`) for any remaining nulls
- Why might this approach work or not work for this data?

In [10]:
# Your code here

## Question 8: Conditional Filling

**Task:** 
- For null values in 'sales_amount', fill them with different values based on department:
  - Sales department: fill with the mean of Sales department
  - Other departments: fill with 0
- How many values did you fill?

In [11]:
# Your code here

## Question 9: Interpolation

**Task:** 
- Sort the data by 'employee_id'
- Use interpolation to fill null values in numeric columns
- Compare the results with mean filling

In [12]:
# Your code here

## Question 10: Complete Data Cleaning Pipeline

**Task:** 
Create a complete cleaning pipeline that:
1. Loads the original data
2. Fills null values appropriately for each column type
3. Verifies no nulls remain
4. Saves the cleaned data to 'sales_data_cleaned.csv'

Choose the best strategy for each column based on what you've learned!

In [13]:
# Your code here

## Bonus Challenge

**Task:** 
- Analyze which method of handling nulls (dropping vs. filling) is better for this dataset
- Calculate summary statistics before and after handling nulls
- Discuss potential biases introduced by different filling methods

In [14]:
# Your code here