In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("csv data files/pavan-sales.csv")

In [5]:
df.sample(5)

,Order_ID,Date,Customer_ID,Customer_Name,Age,Gender,City,State,Region,Product_ID,...,Quantity,Unit_Price,Discount_Percent,Shipping_Cost,Total_Amount,Payment_Method,Delivery_Status,Delivery_Days,Customer_Rating,Sales_Channel
53,ORD054,2024-02-25,CUST1049,Vishal Agarwal,36,Male,Agra,Uttar Pradesh,North,PROD545,...,1,18000,10,600,16800.0,EMI,Delivered,6,4.4,Store
150,ORD151,2024-06-01,CUST1139,Poornima Reddy,30,Female,Tirupati,Andhra Pradesh,South,PROD261,...,1,1500,10,80,1430.0,Credit Card,Delivered,4,4.5,Online
117,ORD118,2024-04-29,CUST1108,Vikas Joshi,39,Male,Korba,Chhattisgarh,Central,PROD331,...,2,2500,10,200,4700.0,Credit Card,Delivered,6,4.2,Online
34,ORD035,2024-02-06,CUST1032,Pallavi Rao,34,Female,Mysore,Karnataka,South,PROD211,...,2,2200,8,100,4148.0,Cash on Delivery,Delivered,5,4.0,Store
93,ORD094,2024-04-05,CUST1085,Pankaj Joshi,40,Male,Bilaspur,Chhattisgarh,Central,PROD455,...,1,6500,10,350,6200.0,UPI,Delivered,6,4.2,Online

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          200 non-null    object
 1   Date              200 non-null    object
 2   Customer_ID       200 non-null    object
 3   Customer_Name     200 non-null    object
 4   Age               200 non-null    int64
 5   Gender            200 non-null    object
 6   City              200 non-null    object
 7   State             200 non-null    object
 8   Region            200 non-null    object
 9   Product_ID        200 non-null    object
 10  Product_Name      200 non-null    object
 11  Category          200 non-null    object
 12  Sub_Category      200 non-null    object
 13  Brand             200 non-null    object
 14  Quantity          200 non-null    int64
 15  Unit_Price        200 non-null    int64
 16  Discount_Percent  200 non-null    int64
 17  Shipping_Cost     200 non-null    int64
 18  Total_Amount      200 non-null    float64
 19  Payment_Method    200 non-null    object
 20  Delivery_Status   200 non-null    object
 21  Delivery_Days     200 non-null    int64
 22  Customer_Rating   200 non-null    float64
 23  Sales_Channel     200 non-null    object
dtypes: float64(2), int64(6), object(16)
memory usage: 37.6+ KB

In [7]:
df["Customer_ID"].unique()

array(['CUST1001', 'CUST1002', 'CUST1003', 'CUST1004', 'CUST1005',
       'CUST1006', 'CUST1007', 'CUST1008', 'CUST1009', 'CUST1010',
       'CUST1011', 'CUST1012', 'CUST1013', 'CUST1014', 'CUST1015',
       'CUST1016', 'CUST1017', 'CUST1018', 'CUST1019', 'CUST1020',
       'CUST1021', 'CUST1022', 'CUST1023', 'CUST1024', 'CUST1025',
       'CUST1026', 'CUST1027', 'CUST1028', 'CUST1029', 'CUST1030',
       'CUST1031', 'CUST1032', 'CUST1033', 'CUST1034', 'CUST1035',
       'CUST1036', 'CUST1037', 'CUST1038', 'CUST1039', 'CUST1040',
       'CUST1041', 'CUST1042', 'CUST1043', 'CUST1044', 'CUST1045',
       'CUST1046', 'CUST1047', 'CUST1048', 'CUST1049', 'CUST1050',
       'CUST1051', 'CUST1052', 'CUST1053', 'CUST1054', 'CUST1055',
       'CUST1056', 'CUST1057', 'CUST1058', 'CUST1059', 'CUST1060',
       'CUST1061', 'CUST1062', 'CUST1063', 'CUST1064', 'CUST1065',
       'CUST1066', 'CUST1067', 'CUST1068', 'CUST1069', 'CUST1070',
       'CUST1071', 'CUST1072', 'CUST1073', 'CUST1074', 'CUST1075',
       'CUST1076', 'CUST1077', 'CUST1078', 'CUST1079', 'CUST1080',
       'CUST1081', 'CUST1082', 'CUST1083', 'CUST1084', 'CUST1085',
       'CUST1086', 'CUST1087', 'CUST1088', 'CUST1089', 'CUST1090',
       'CUST1091', 'CUST1092', 'CUST1093', 'CUST1094', 'CUST1095',
       'CUST1096', 'CUST1097', 'CUST1098', 'CUST1099', 'CUST1100',
       'CUST1101', 'CUST1102', 'CUST1103', 'CUST1104', 'CUST1105',
       'CUST1106', 'CUST1107', 'CUST1108', 'CUST1109', 'CUST1110',
       'CUST1111', 'CUST1112', 'CUST1113', 'CUST1114', 'CUST1115',
       'CUST1116', 'CUST1117', 'CUST1118', 'CUST1119', 'CUST1120',
       'CUST1121', 'CUST1122', 'CUST1123', 'CUST1124', 'CUST1125',
       'CUST1126', 'CUST1127', 'CUST1128', 'CUST1129', 'CUST1130',
       'CUST1131', 'CUST1132', 'CUST1133', 'CUST1134', 'CUST1135',
       'CUST1136', 'CUST1137', 'CUST1138', 'CUST1139', 'CUST1140',
       'CUST1141', 'CUST1142', 'CUST1143', 'CUST1144', 'CUST1145',
       'CUST1146', 'CUST1147', 'CUST1148', 'CUST1149', 'CUST1150',
       'CUST1151', 'CUST1152', 'CUST1153', 'CUST1154', 'CUST1155',
       'CUST1156', 'CUST1157', 'CUST1158', 'CUST1159', 'CUST1160',
       'CUST1161', 'CUST1162', 'CUST1163', 'CUST1164', 'CUST1165',
       'CUST1166', 'CUST1167', 'CUST1168', 'CUST1169', 'CUST1170',
       'CUST1171', 'CUST1172', 'CUST1173', 'CUST1174', 'CUST1175',
       'CUST1176', 'CUST1177', 'CUST1178', 'CUST1179', 'CUST1180',
       'CUST1181', 'CUST1182', 'CUST1183', 'CUST1184', 'CUST1185',
       'CUST1186', 'CUST1187'], dtype=object)

In [8]:
df["Customer_ID"].value_counts()

Customer_ID
CUST1001    2
CUST1002    2
CUST1003    2
CUST1005    2
CUST1007    2
           ..
CUST1183    1
CUST1184    1
CUST1185    1
CUST1186    1
CUST1187    1
Name: count, Length: 187, dtype: int64