In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("csv data files/pavan-sales.csv")

In [3]:
df.sample(5)

,Order_ID,Date,Customer_ID,Customer_Name,Age,Gender,City,State,Region,Product_ID,...,Quantity,Unit_Price,Discount_Percent,Shipping_Cost,Total_Amount,Payment_Method,Delivery_Status,Delivery_Days,Customer_Rating,Sales_Channel
20,ORD021,2024-01-23,CUST1020,Rohit Sharma,31,Male,Delhi,Delhi,North,PROD311,...,1,12000,10,300,11100.0,Credit Card,Delivered,4,4.3,Online
59,ORD060,2024-03-02,CUST1054,Rajeev Kumar,42,Male,Gwalior,Madhya Pradesh,Central,PROD115,...,1,2500,8,100,2400.0,Debit Card,Delivered,3,4.3,Store
46,ORD047,2024-02-18,CUST1043,Aditya Nair,27,Male,Thiruvananthapuram,Kerala,South,PROD112,...,1,75000,12,700,66700.0,EMI,Delivered,5,4.7,Online
196,ORD197,2024-07-17,CUST1184,Umesh Patel,36,Male,Banaskantha,Gujarat,West,PROD138,...,3,200,5,60,630.0,Debit Card,Delivered,3,4.0,Online
47,ORD048,2024-02-19,CUST1012,Manoj Tiwari,41,Male,Patna,Bihar,East,PROD435,...,1,35000,15,1200,31050.0,Debit Card,Delivered,8,4.2,Store

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          200 non-null    object
 1   Date              200 non-null    object
 2   Customer_ID       200 non-null    object
 3   Customer_Name     200 non-null    object
 4   Age               200 non-null    int64
 5   Gender            200 non-null    object
 6   City              200 non-null    object
 7   State             200 non-null    object
 8   Region            200 non-null    object
 9   Product_ID        200 non-null    object
 10  Product_Name      200 non-null    object
 11  Category          200 non-null    object
 12  Sub_Category      200 non-null    object
 13  Brand             200 non-null    object
 14  Quantity          200 non-null    int64
 15  Unit_Price        200 non-null    int64
 16  Discount_Percent  200 non-null    int64
 17  Shipping_Cost     200 non-null    int64
 18  Total_Amount      200 non-null    float64
 19  Payment_Method    200 non-null    object
 20  Delivery_Status   200 non-null    object
 21  Delivery_Days     200 non-null    int64
 22  Customer_Rating   200 non-null    float64
 23  Sales_Channel     200 non-null    object
dtypes: float64(2), int64(6), object(16)
memory usage: 37.6+ KB

In [5]:
df["Customer_ID"].unique()

array(['CUST1001', 'CUST1002', 'CUST1003', 'CUST1004', 'CUST1005',
       'CUST1006', 'CUST1007', 'CUST1008', 'CUST1009', 'CUST1010',
       'CUST1011', 'CUST1012', 'CUST1013', 'CUST1014', 'CUST1015',
       'CUST1016', 'CUST1017', 'CUST1018', 'CUST1019', 'CUST1020',
       'CUST1021', 'CUST1022', 'CUST1023', 'CUST1024', 'CUST1025',
       'CUST1026', 'CUST1027', 'CUST1028', 'CUST1029', 'CUST1030',
       'CUST1031', 'CUST1032', 'CUST1033', 'CUST1034', 'CUST1035',
       'CUST1036', 'CUST1037', 'CUST1038', 'CUST1039', 'CUST1040',
       'CUST1041', 'CUST1042', 'CUST1043', 'CUST1044', 'CUST1045',
       'CUST1046', 'CUST1047', 'CUST1048', 'CUST1049', 'CUST1050',
       'CUST1051', 'CUST1052', 'CUST1053', 'CUST1054', 'CUST1055',
       'CUST1056', 'CUST1057', 'CUST1058', 'CUST1059', 'CUST1060',
       'CUST1061', 'CUST1062', 'CUST1063', 'CUST1064', 'CUST1065',
       'CUST1066', 'CUST1067', 'CUST1068', 'CUST1069', 'CUST1070',
       'CUST1071', 'CUST1072', 'CUST1073', 'CUST1074', 'CUST1075',
       'CUST1076', 'CUST1077', 'CUST1078', 'CUST1079', 'CUST1080',
       'CUST1081', 'CUST1082', 'CUST1083', 'CUST1084', 'CUST1085',
       'CUST1086', 'CUST1087', 'CUST1088', 'CUST1089', 'CUST1090',
       'CUST1091', 'CUST1092', 'CUST1093', 'CUST1094', 'CUST1095',
       'CUST1096', 'CUST1097', 'CUST1098', 'CUST1099', 'CUST1100',
       'CUST1101', 'CUST1102', 'CUST1103', 'CUST1104', 'CUST1105',
       'CUST1106', 'CUST1107', 'CUST1108', 'CUST1109', 'CUST1110',
       'CUST1111', 'CUST1112', 'CUST1113', 'CUST1114', 'CUST1115',
       'CUST1116', 'CUST1117', 'CUST1118', 'CUST1119', 'CUST1120',
       'CUST1121', 'CUST1122', 'CUST1123', 'CUST1124', 'CUST1125',
       'CUST1126', 'CUST1127', 'CUST1128', 'CUST1129', 'CUST1130',
       'CUST1131', 'CUST1132', 'CUST1133', 'CUST1134', 'CUST1135',
       'CUST1136', 'CUST1137', 'CUST1138', 'CUST1139', 'CUST1140',
       'CUST1141', 'CUST1142', 'CUST1143', 'CUST1144', 'CUST1145',
       'CUST1146', 'CUST1147', 'CUST1148', 'CUST1149', 'CUST1150',
       'CUST1151', 'CUST1152', 'CUST1153', 'CUST1154', 'CUST1155',
       'CUST1156', 'CUST1157', 'CUST1158', 'CUST1159', 'CUST1160',
       'CUST1161', 'CUST1162', 'CUST1163', 'CUST1164', 'CUST1165',
       'CUST1166', 'CUST1167', 'CUST1168', 'CUST1169', 'CUST1170',
       'CUST1171', 'CUST1172', 'CUST1173', 'CUST1174', 'CUST1175',
       'CUST1176', 'CUST1177', 'CUST1178', 'CUST1179', 'CUST1180',
       'CUST1181', 'CUST1182', 'CUST1183', 'CUST1184', 'CUST1185',
       'CUST1186', 'CUST1187'], dtype=object)

In [6]:
df["Customer_ID"].value_counts()

Customer_ID
CUST1001    2
CUST1002    2
CUST1003    2
CUST1005    2
CUST1007    2
           ..
CUST1183    1
CUST1184    1
CUST1185    1
CUST1186    1
CUST1187    1
Name: count, Length: 187, dtype: int64

In [7]:
df

,Order_ID,Date,Customer_ID,Customer_Name,Age,Gender,City,State,Region,Product_ID,...,Quantity,Unit_Price,Discount_Percent,Shipping_Cost,Total_Amount,Payment_Method,Delivery_Status,Delivery_Days,Customer_Rating,Sales_Channel
0,ORD001,2024-01-05,CUST1001,Rajesh Kumar,34,Male,Mumbai,Maharashtra,West,PROD101,...,1,45000,10,500,41000.0,Credit Card,Delivered,3,4.5,Online
1,ORD002,2024-01-05,CUST1002,Priya Sharma,28,Female,Delhi,Delhi,North,PROD205,...,2,2500,5,150,4900.0,UPI,Delivered,4,4.2,Online
2,ORD003,2024-01-06,CUST1003,Amit Patel,42,Male,Ahmedabad,Gujarat,West,PROD312,...,1,35000,15,800,30550.0,Debit Card,Delivered,5,4.8,Store
3,ORD004,2024-01-07,CUST1004,Sneha Reddy,31,Female,Hyderabad,Telangana,South,PROD108,...,1,28000,8,200,25960.0,Credit Card,Delivered,2,4.6,Online
4,ORD005,2024-01-08,CUST1005,Vikram Singh,45,Male,Jaipur,Rajasthan,North,PROD425,...,1,52000,12,1500,47260.0,EMI,Delivered,7,4.3,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,ORD196,2024-07-16,CUST1183,Garima Sharma,28,Female,Mahendragarh,Haryana,North,PROD283,...,1,1500,15,80,1355.0,Credit Card,Delivered,3,4.6,Store
196,ORD197,2024-07-17,CUST1184,Umesh Patel,36,Male,Banaskantha,Gujarat,West,PROD138,...,3,200,5,60,630.0,Debit Card,Delivered,3,4.0,Online
197,ORD198,2024-07-18,CUST1185,Vidya Nair,29,Female,Idukki,Kerala,South,PROD284,...,1,600,10,60,600.0,UPI,Delivered,4,4.3,Online
198,ORD199,2024-07-19,CUST1186,Akhilesh Singh,33,Male,Gonda,Uttar Pradesh,North,PROD635,...,1,2500,8,150,2450.0,Cash on Delivery,Delivered,5,4.2,Store
199,ORD200,2024-07-20,CUST1187,Geetha Reddy,31,Female,Prakasam,Andhra Pradesh,South,PROD285,...,2,500,10,60,960.0,Credit Card,Delivered,4,4.4,Online

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          200 non-null    object
 1   Date              200 non-null    object
 2   Customer_ID       200 non-null    object
 3   Customer_Name     200 non-null    object
 4   Age               200 non-null    int64
 5   Gender            200 non-null    object
 6   City              200 non-null    object
 7   State             200 non-null    object
 8   Region            200 non-null    object
 9   Product_ID        200 non-null    object
 10  Product_Name      200 non-null    object
 11  Category          200 non-null    object
 12  Sub_Category      200 non-null    object
 13  Brand             200 non-null    object
 14  Quantity          200 non-null    int64
 15  Unit_Price        200 non-null    int64
 16  Discount_Percent  200 non-null    int64
 17  Shipping_Cost     200 non-null    int64
 18  Total_Amount      200 non-null    float64
 19  Payment_Method    200 non-null    object
 20  Delivery_Status   200 non-null    object
 21  Delivery_Days     200 non-null    int64
 22  Customer_Rating   200 non-null    float64
 23  Sales_Channel     200 non-null    object
dtypes: float64(2), int64(6), object(16)
memory usage: 37.6+ KB

In [9]:
from datetime import datetime

In [18]:
def date_time(x):
    tarikha=datetime.strptime(x,"%Y-%m-%d") 
    return tarikha
    tarikha=date_time("%A")

In [19]:
df["Date"].apply(date_time)

0     2024-01-05
1     2024-01-05
2     2024-01-06
3     2024-01-07
4     2024-01-08
         ...
195   2024-07-16
196   2024-07-17
197   2024-07-18
198   2024-07-19
199   2024-07-20
Name: Date, Length: 200, dtype: datetime64[ns]

In [ ]:
#   tarikha=date_time.strptime(x,"%A")

AttributeError: 'function' object has no attribute 'strptime'