In [1]:
import pandas as pd

In [2]:
bat=pd.read_csv("csv data files/Batters.csv")

In [3]:
bat.head()

,Player Name,Team,Runs,Matches,Inn,No,HS,AVG,BF,SR,100s,50s,4s,6s
0,Sai Sudharsan,GT,759,15,15,1,108*,54.21,486,156.17,1,6,88,21
1,Surya Kumar Yadav,MI,717,16,16,5,73*,65.18,427,167.91,0,5,69,38
2,Virat Kohli,RCB,657,15,15,3,73*,54.75,454,144.71,0,8,66,19
3,Shubman Gill,GT,650,15,15,2,93*,50.00,417,155.87,0,6,62,24
4,Mitchell Marsh,LSG,627,13,13,0,117,48.23,383,163.70,1,6,56,37

In [4]:
main=bat.drop(["AVG"] ,axis=1)

In [5]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player Name  156 non-null    object
 1   Team         156 non-null    object
 2   Runs         156 non-null    int64
 3   Matches      156 non-null    int64
 4   Inn          156 non-null    int64
 5   No           156 non-null    int64
 6   HS           156 non-null    object
 7   BF           156 non-null    int64
 8   SR           156 non-null    float64
 9   100s         156 non-null    int64
 10  50s          156 non-null    int64
 11  4s           156 non-null    int64
 12  6s           156 non-null    int64
dtypes: float64(1), int64(9), object(3)
memory usage: 16.0+ KB

In [6]:
main.sample(5)

,Player Name,Team,Runs,Matches,Inn,No,HS,BF,SR,100s,50s,4s,6s
99,Ravichandran Ashwin,CSK,33,9,4,0,13,30,110.00,0,0,3,1
42,Sunil Narine,KKR,246,12,12,1,44,144,170.83,0,0,25,19
129,Akash Deep,LSG,6,6,2,1,6*,2,300.00,0,0,0,1
23,Ishan Kishan,SRH,354,14,13,3,106*,232,152.58,1,1,33,15
33,Sherfane Rutherford,GT,291,13,11,2,46,185,157.29,0,0,22,18

In [7]:
main.shape

(156, 13)

In [8]:
main["Player Name"].value_counts()

Player Name
Sai Sudharsan        1
Surya Kumar Yadav    1
Virat Kohli          1
Shubman Gill         1
Mitchell Marsh       1
                    ..
Khaleel Ahmed        1
Mohit Sharma         1
Donovan Ferreira     1
Digvesh Singh        1
Manoj Bhandage       1
Name: count, Length: 156, dtype: int64

In [9]:
main.sort_values(["Runs","50s" ], ascending=False ,)

,Player Name,Team,Runs,Matches,Inn,No,HS,BF,SR,100s,50s,4s,6s
0,Sai Sudharsan,GT,759,15,15,1,108*,486,156.17,1,6,88,21
1,Surya Kumar Yadav,MI,717,16,16,5,73*,427,167.91,0,5,69,38
2,Virat Kohli,RCB,657,15,15,3,73*,454,144.71,0,8,66,19
3,Shubman Gill,GT,650,15,15,2,93*,417,155.87,0,6,62,24
4,Mitchell Marsh,LSG,627,13,13,0,117,383,163.70,1,6,56,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Khaleel Ahmed,CSK,1,14,2,2,1*,2,50.00,0,0,0,0
152,Mohit Sharma,DC,1,8,2,1,1*,3,33.33,0,0,0,0
153,Donovan Ferreira,DC,1,1,1,0,1,3,33.33,0,0,0,0
154,Digvesh Singh,LSG,1,13,2,1,1,3,33.33,0,0,0,0
155,Manoj Bhandage,RCB,1,1,1,0,1,4,25.00,0,0,0,0

In [10]:
main[main["100s"] == 1]

,Player Name,Team,Runs,Matches,Inn,No,HS,BF,SR,100s,50s,4s,6s
0,Sai Sudharsan,GT,759,15,15,1,108*,486,156.17,1,6,88,21
4,Mitchell Marsh,LSG,627,13,13,0,117,383,163.70,1,6,56,37
8,K L Rahul,DC,539,13,13,3,112*,360,149.72,1,3,52,21
11,Heinrich Klaasen,SRH,487,13,13,2,105*,282,172.69,1,1,42,25
12,Priyansh Arya,PBKS,475,17,17,0,103,265,179.24,1,2,55,25
14,Abhishek Sharma,SRH,439,14,13,0,141,227,193.39,1,2,46,28
23,Ishan Kishan,SRH,354,14,13,3,106*,232,152.58,1,1,33,15
36,Rishabh Pant,LSG,269,14,13,2,118*,202,133.16,1,1,23,16
39,Vaibhav Suryavanshi,RR,252,7,7,0,101,122,206.55,1,1,18,24

In [11]:
main["Player Name"]

0          Sai Sudharsan
1      Surya Kumar Yadav
2            Virat Kohli
3           Shubman Gill
4         Mitchell Marsh
             ...
151        Khaleel Ahmed
152         Mohit Sharma
153     Donovan Ferreira
154        Digvesh Singh
155       Manoj Bhandage
Name: Player Name, Length: 156, dtype: object

In [12]:
main["HS"]

0      108*
1       73*
2       73*
3       93*
4       117
       ...
151      1*
152      1*
153       1
154       1
155       1
Name: HS, Length: 156, dtype: object

In [13]:
main["Player Name"].value_counts()

Player Name
Sai Sudharsan        1
Surya Kumar Yadav    1
Virat Kohli          1
Shubman Gill         1
Mitchell Marsh       1
                    ..
Khaleel Ahmed        1
Mohit Sharma         1
Donovan Ferreira     1
Digvesh Singh        1
Manoj Bhandage       1
Name: count, Length: 156, dtype: int64

In [14]:
main

,Player Name,Team,Runs,Matches,Inn,No,HS,BF,SR,100s,50s,4s,6s
0,Sai Sudharsan,GT,759,15,15,1,108*,486,156.17,1,6,88,21
1,Surya Kumar Yadav,MI,717,16,16,5,73*,427,167.91,0,5,69,38
2,Virat Kohli,RCB,657,15,15,3,73*,454,144.71,0,8,66,19
3,Shubman Gill,GT,650,15,15,2,93*,417,155.87,0,6,62,24
4,Mitchell Marsh,LSG,627,13,13,0,117,383,163.70,1,6,56,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Khaleel Ahmed,CSK,1,14,2,2,1*,2,50.00,0,0,0,0
152,Mohit Sharma,DC,1,8,2,1,1*,3,33.33,0,0,0,0
153,Donovan Ferreira,DC,1,1,1,0,1,3,33.33,0,0,0,0
154,Digvesh Singh,LSG,1,13,2,1,1,3,33.33,0,0,0,0
155,Manoj Bhandage,RCB,1,1,1,0,1,4,25.00,0,0,0,0