In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("csv data files/ODI.csv")

In [5]:
data

,player_name,role,total_runs,strike_rate,total_balls_faced,total_wickets_taken,total_runs_conceded,total_overs_bowled,total_matches_played,matches_played_as_batter,matches_played_as_bowler,matches_won,matches_lost,player_of_match_awards,team,average,percentage
0,V Kohli,Batter,13784,9.170.381.212.161.530,15031,7,681,671,579,579,0,360,219,41,India,1.969.142.857.142.850,"477,93%"
1,KC Sangakkara,Batter,11618,7.939.046.057.127.230,14634,0,0,0,510,510,0,237,273,26,Sri Lanka,0,"442,17%"
2,RG Sharma,Batter,10646,9.035.817.348.497.700,11782,11,538,614,577,577,0,358,219,23,India,9.678.181.818.181.810,"474,25%"
3,MS Dhoni,Batter,10274,8.497.932.175.351.530,12090,1,32,38,575,575,0,356,219,20,India,10274.0,"458,87%"
4,AB de Villiers,Batter,9435,9.944.139.966.273.180,9488,7,205,201,466,466,0,286,180,26,South Africa,1.347.857.142.857.140,"497,97%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,C Sakariya,Batter,0,0.0,1,2,34,51,75,75,0,41,34,0,India,0.0,"0,00%"
1536,Shahriar Hossain,Batter,0,0.0,3,0,0,0,40,40,0,11,29,0,Bangladesh,0,"0,00%"
1537,Salman Faris,Batter,0,0.0,2,0,0,0,8,8,0,3,5,0,United Arab Emirates,0,"0,00%"
1538,Haseebullah Khan,Batter,0,0.0,2,0,0,0,12,12,0,6,6,0,Pakistan,0,"0,00%"
1539,Syeda Aroob Shah,Batter,0,0.0,1,0,0,0,5,5,0,4,1,0,Pakistan,0,"0,00%"