ODI CRICKET

IMPORTING LABRARIES

In [15]:
import pandas as pd
print("Pandas imported successfully.")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

Pandas imported successfully.

# loda data set

In [9]:
data=pd.read_csv("csv data files/ODI.csv")
print("data set loaded sussfully")
print(f"ODI dataset shape{data.shape}")

data set loaded sussfully
ODI dataset shape(1540, 17)

In [19]:
print("=="*40)
print(f"sample data of OdI data set")
print("=="*40)
data.sample(10)

================================================================================
sample data of OdI data set
================================================================================

,player_name,role,total_runs,strike_rate,total_balls_faced,total_wickets_taken,total_runs_conceded,total_overs_bowled,total_matches_played,matches_played_as_batter,matches_played_as_bowler,matches_won,matches_lost,player_of_match_awards,team,average,percentage
1209,BA Langston,Batter,21,9.545.454.545.454.540,22,2,70,138,489,489,0,282,207,0,England,10.5,"488,37%"
407,CR Brathwaite,Batter,527,8.597.063.621.533.440,613,46,1647,1725,418,418,0,162,256,0,West Indies,11.456.521.739.130.400,"461,88%"
31,AJ Finch,Batter,5188,8.456.397.718.011.410,6135,5,259,287,544,544,0,381,163,7,Australia,1037.6,"457,98%"
137,H Klaasen,Batter,1977,1.150.087.260.034.900,1719,0,33,30,469,469,0,289,180,7,South Africa,0,"534,18%"
461,Ayesha Zafar,Batter,407,5.327.225.130.890.050,764,0,18,27,463,463,0,223,240,0,Pakistan,0,"347,27%"
331,Pargat Singh,Batter,722,7.763.440.860.215.050,930,5,84,116,51,51,0,18,33,2,Canada,144.4,"436,52%"
192,Nasir Jamshed,Batter,1418,7.343.345.416.882.440,1931,0,0,0,466,466,0,225,241,3,Pakistan,0,"423,03%"
401,CA Henry,Batter,537,7.638.691.322.901.840,703,33,1105,1354,417,417,0,162,255,1,West Indies,16.272.727.272.727.200,"432,72%"
794,Mudassar Bukhari,Batter,126,6.923.076.923.076.920,182,16,515,606,73,73,0,22,51,0,Netherlands,7.875,"409,09%"
907,J Sumerauer,Batter,84,11.351.351.351.351.300,74,10,213,246,4,4,0,1,3,0,Jersey,8.4,"525,00%"

In [29]:
data["role"].unique()

array(['Batter'], dtype=object)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   player_name               1540 non-null   object
 1   role                      1540 non-null   object
 2   total_runs                1540 non-null   int64
 3   strike_rate               1540 non-null   object
 4   total_balls_faced         1540 non-null   int64
 5   total_wickets_taken       1540 non-null   int64
 6   total_runs_conceded       1540 non-null   int64
 7   total_overs_bowled        1540 non-null   int64
 8   total_matches_played      1540 non-null   int64
 9   matches_played_as_batter  1540 non-null   int64
 10  matches_played_as_bowler  1540 non-null   int64
 11  matches_won               1540 non-null   int64
 12  matches_lost              1540 non-null   int64
 13  player_of_match_awards    1540 non-null   int64
 14  team                      1540 non-null   object
 15  average                   1540 non-null   object
 16  percentage                1540 non-null   object
dtypes: int64(11), object(6)
memory usage: 204.7+ KB

batters data

In [26]:
batter=data[data["role"]=="Batter"]

In [27]:
batter

,player_name,role,total_runs,strike_rate,total_balls_faced,total_wickets_taken,total_runs_conceded,total_overs_bowled,total_matches_played,matches_played_as_batter,matches_played_as_bowler,matches_won,matches_lost,player_of_match_awards,team,average,percentage
0,V Kohli,Batter,13784,9.170.381.212.161.530,15031,7,681,671,579,579,0,360,219,41,India,1.969.142.857.142.850,"477,93%"
1,KC Sangakkara,Batter,11618,7.939.046.057.127.230,14634,0,0,0,510,510,0,237,273,26,Sri Lanka,0,"442,17%"
2,RG Sharma,Batter,10646,9.035.817.348.497.700,11782,11,538,614,577,577,0,358,219,23,India,9.678.181.818.181.810,"474,25%"
3,MS Dhoni,Batter,10274,8.497.932.175.351.530,12090,1,32,38,575,575,0,356,219,20,India,10274.0,"458,87%"
4,AB de Villiers,Batter,9435,9.944.139.966.273.180,9488,7,205,201,466,466,0,286,180,26,South Africa,1.347.857.142.857.140,"497,97%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,C Sakariya,Batter,0,0.0,1,2,34,51,75,75,0,41,34,0,India,0.0,"0,00%"
1536,Shahriar Hossain,Batter,0,0.0,3,0,0,0,40,40,0,11,29,0,Bangladesh,0,"0,00%"
1537,Salman Faris,Batter,0,0.0,2,0,0,0,8,8,0,3,5,0,United Arab Emirates,0,"0,00%"
1538,Haseebullah Khan,Batter,0,0.0,2,0,0,0,12,12,0,6,6,0,Pakistan,0,"0,00%"
1539,Syeda Aroob Shah,Batter,0,0.0,1,0,0,0,5,5,0,4,1,0,Pakistan,0,"0,00%"

In [28]:
batter.shape

(1540, 17)

In [33]:
appne=data[data["team"]=="India"]

In [41]:
print(appne["strike_rate"].max())

995.505.617.977.528