In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("csv data files/sales_data.csv")

In [3]:
df

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
0,ORD202313278,2023-10-09,North,Online,Small Business,Clothing,Jeans,39,163.38,6371.82,19.49,19.92,35.50,1241.87,5129.95,1821.13,5149.87
1,ORD202387397,2024-03-08,South,Online,Individual,Electronics,Laptop,19,379.95,7219.05,8.34,8.57,26.48,602.07,6616.98,1752.18,6625.55
2,ORD202383563,2023-07-23,South,Store,Corporate,Sports,Dumbbells,3,35.56,106.68,20.81,0.00,47.40,22.20,84.48,40.04,84.48
3,ORD202410851,2023-06-13,East,Store,Individual,Sports,Yoga Mat,38,30.21,1147.98,15.44,0.00,47.84,177.25,970.73,464.40,970.73
4,ORD202354118,2023-04-15,East,Online,Corporate,Electronics,Headphones,22,212.72,4679.84,13.12,15.00,15.58,614.00,4065.84,633.46,4080.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ORD202354663,2023-07-01,North,Online,Individual,Home & Garden,Decor,5,301.89,1509.45,17.98,27.26,34.13,271.40,1238.05,422.55,1265.31
496,ORD202324538,2024-06-22,East,Online,Small Business,Home & Garden,Decor,5,488.06,2440.30,7.41,27.96,29.75,180.83,2259.47,672.19,2287.43
497,ORD202486810,2023-04-14,South,Store,Individual,Food,Beverages,6,36.96,221.76,11.78,0.00,27.86,26.12,195.64,54.51,195.64
498,ORD202493789,2024-05-13,Central,Online,Small Business,Sports,Tennis Racket,47,205.95,9679.65,6.36,25.48,34.28,615.63,9064.02,3107.15,9089.50
499,ORD202439260,2024-11-12,East,Store,Small Business,Toys,Board Games,12,60.25,723.00,17.80,0.00,29.34,128.69,594.31,174.37,594.31

In [4]:
labtop=df[df["product"]=="Laptop"]

In [5]:
labtop

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
1,ORD202387397,2024-03-08,South,Online,Individual,Electronics,Laptop,19,379.95,7219.05,8.34,8.57,26.48,602.07,6616.98,1752.18,6625.55
47,ORD202327601,2023-09-28,Central,Phone,Individual,Electronics,Laptop,35,1373.53,48073.55,17.80,17.12,20.61,8557.09,39516.46,8144.34,39533.58
51,ORD202483519,2023-01-10,South,Phone,Small Business,Electronics,Laptop,27,981.91,26511.57,16.13,30.07,23.75,4276.32,22235.25,5280.87,22265.32
305,ORD202393616,2023-08-27,East,Store,Small Business,Electronics,Laptop,22,1014.17,22311.74,13.16,0.00,31.09,2936.22,19375.52,6023.85,19375.52
393,ORD202453463,2024-03-16,East,Online,Individual,Electronics,Laptop,18,1923.18,34617.24,23.32,19.38,29.33,8072.74,26544.50,7785.50,26563.88
429,ORD202392074,2024-04-15,West,Online,Corporate,Electronics,Laptop,40,977.74,39109.60,15.32,28.58,25.99,5991.59,33118.01,8607.37,33146.59
478,ORD202328322,2023-05-05,South,Online,Individual,Electronics,Laptop,16,941.18,15058.88,13.64,6.56,31.27,2054.03,13004.85,4066.62,13011.41
493,ORD202433010,2024-05-17,South,Online,Small Business,Electronics,Laptop,45,1971.40,88713.00,15.87,9.15,31.70,14078.75,74634.25,23659.06,74643.40

In [6]:
df.sample(8)

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
266,ORD202426821,2024-07-18,South,Online,Corporate,Sports,Dumbbells,48,221.26,10620.48,17.44,22.00,44.74,1852.21,8768.27,3922.92,8790.27
332,ORD202349107,2024-04-19,Central,Store,Corporate,Sports,Dumbbells,24,215.21,5165.04,8.08,0.00,28.35,417.34,4747.70,1345.97,4747.70
115,ORD202344687,2024-11-07,South,Online,Small Business,Electronics,Smartphone,13,1839.67,23915.71,23.74,23.14,35.56,5677.59,18238.12,6485.48,18261.26
113,ORD202378494,2024-01-25,Central,Store,Corporate,Books,Comics,28,13.89,388.92,24.66,0.00,54.49,95.91,293.01,159.66,293.01
178,ORD202494323,2023-02-01,West,Store,Small Business,Electronics,Headphones,15,1635.13,24526.95,5.73,0.00,18.75,1405.39,23121.56,4335.29,23121.56
140,ORD202423154,2024-03-26,North,Store,Small Business,Electronics,Smart Watch,47,1330.22,62520.34,21.84,0.00,17.04,13654.44,48865.90,8326.75,48865.90
493,ORD202433010,2024-05-17,South,Online,Small Business,Electronics,Laptop,45,1971.40,88713.00,15.87,9.15,31.70,14078.75,74634.25,23659.06,74643.40
215,ORD202318109,2024-04-06,North,Phone,Small Business,Electronics,Tablet,45,1444.20,64989.00,20.56,25.89,32.08,13361.74,51627.26,16562.03,51653.15

In [7]:
df["region"].unique()

array(['North', 'South', 'East', 'Central', 'West'], dtype=object)

In [8]:
labtop[labtop["region"]=="East"]["total_sales"].sum()

np.float64(56928.979999999996)

In [9]:
labtop.groupby("region"),["East"]== "total_sales".sum()

AttributeError: 'str' object has no attribute 'sum'

In [ ]:
east=df[(df["region"]=="East") & (df["product"]=="Laptop")]

In [ ]:
east["total_sales"].sum()

np.float64(56928.979999999996)

In [ ]:
df.sample(10)

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
350,ORD202451973,2023-07-28,North,Store,Small Business,Food,Beverages,3,29.41,88.23,21.18,0.00,43.79,18.69,69.54,30.45,69.54
393,ORD202453463,2024-03-16,East,Online,Individual,Electronics,Laptop,18,1923.18,34617.24,23.32,19.38,29.33,8072.74,26544.50,7785.50,26563.88
469,ORD202386122,2023-04-08,West,Phone,Individual,Toys,Board Games,15,17.95,269.25,24.08,26.81,41.59,64.84,204.41,85.01,231.22
345,ORD202316755,2023-10-02,North,Phone,Individual,Books,Magazines,23,31.78,730.94,3.01,26.33,51.36,22.00,708.94,364.11,735.27
442,ORD202396298,2023-11-05,Central,Phone,Individual,Clothing,Dress,27,143.82,3883.14,13.47,25.72,41.26,523.06,3360.08,1386.37,3385.80
171,ORD202353713,2023-09-07,North,Online,Small Business,Clothing,Dress,15,123.95,1859.25,9.79,18.30,40.66,182.02,1677.23,681.96,1695.53
49,ORD202442914,2023-02-22,North,Store,Individual,Electronics,Headphones,33,1176.57,38826.81,15.91,0.00,27.72,6177.35,32649.46,9050.43,32649.46
324,ORD202399167,2023-07-30,North,Store,Small Business,Sports,Dumbbells,14,119.34,1670.76,16.73,0.00,36.98,279.52,1391.24,514.48,1391.24
362,ORD202484055,2023-09-07,North,Store,Small Business,Sports,Football,42,60.32,2533.44,15.95,0.00,28.05,404.08,2129.36,597.29,2129.36
341,ORD202463511,2023-06-02,Central,Online,Corporate,Food,Frozen Food,2,49.97,99.94,24.43,15.17,21.21,24.42,75.52,16.02,90.69

In [ ]:
df["customer_segment"].unique()

array(['Small Business', 'Individual', 'Corporate'], dtype=object)

In [ ]:
df.groupby("customer_segment")[["category"][]

In [ ]:
smallB=df[df["customer_segment"]=="Small Business"]

In [ ]:
smallB

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
0,ORD202313278,2023-10-09,North,Online,Small Business,Clothing,Jeans,39,163.38,6371.82,19.49,19.92,35.50,1241.87,5129.95,1821.13,5149.87
5,ORD202415695,2024-04-15,North,Store,Small Business,Toys,Action Figures,28,146.46,4100.88,2.27,0.00,30.82,93.09,4007.79,1235.20,4007.79
6,ORD202492397,2024-09-25,South,Phone,Small Business,Home & Garden,Decor,44,281.41,12382.04,1.16,28.23,35.63,143.63,12238.41,4360.55,12266.64
9,ORD202397841,2023-10-01,South,Phone,Small Business,Sports,Basketball,44,163.70,7202.80,22.73,17.76,28.69,1637.20,5565.60,1596.77,5583.36
13,ORD202428726,2023-09-29,Central,Phone,Small Business,Clothing,Jeans,40,172.02,6880.80,13.49,27.60,52.42,928.22,5952.58,3120.34,5980.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,ORD202484403,2024-07-31,West,Online,Small Business,Clothing,Dress,19,178.83,3397.77,12.63,29.18,54.11,429.14,2968.63,1606.33,2997.81
493,ORD202433010,2024-05-17,South,Online,Small Business,Electronics,Laptop,45,1971.40,88713.00,15.87,9.15,31.70,14078.75,74634.25,23659.06,74643.40
496,ORD202324538,2024-06-22,East,Online,Small Business,Home & Garden,Decor,5,488.06,2440.30,7.41,27.96,29.75,180.83,2259.47,672.19,2287.43
498,ORD202493789,2024-05-13,Central,Online,Small Business,Sports,Tennis Racket,47,205.95,9679.65,6.36,25.48,34.28,615.63,9064.02,3107.15,9089.50
499,ORD202439260,2024-11-12,East,Store,Small Business,Toys,Board Games,12,60.25,723.00,17.80,0.00,29.34,128.69,594.31,174.37,594.31

In [ ]:
a=smallB.groupby("product")["total_sales"].sum()

In [ ]:
a

product
Action Figures         14274.39
Basketball             13049.36
Bedding                33555.40
Beverages               3342.84
Board Games             7632.43
Building Blocks         9515.20
Coffee                  3248.86
Comics                  7612.74
Decor                  66377.67
Dolls                   7457.18
Dress                  12064.46
Dumbbells              12610.29
Educational             5014.47
Fiction                 2814.51
Football               23608.53
Fresh Produce           2825.99
Frozen Food             5989.42
Furniture              72126.92
Gardening Tools        38417.42
Headphones            182281.10
Jacket                 12776.16
Jeans                  31154.10
Kitchen Appliances     37028.87
Laptop                137536.31
Magazines               2680.55
Non-Fiction             3642.66
Puzzles                 6449.10
Shoes                  15923.43
Smart Watch           105121.69
Smartphone            228284.96
Snacks                  7414.14
T-Shirt                  207.39
Tablet                131374.56
Tennis Racket          32627.08
Yoga Mat               31763.29
Name: total_sales, dtype: float64

In [ ]:
maxsales  =     a.max()

In [ ]:
maxsales

np.float64(228284.96000000002)

In [ ]:
a[a == maxsales]

product
Smartphone    228284.96
Name: total_sales, dtype: float64

In [ ]:
smallB["product"].value_counts()

product
Furniture             10
Snacks                10
Jeans                  8
Smartphone             8
Frozen Food            8
Comics                 8
Decor                  7
Shoes                  7
Football               6
Tablet                 6
Headphones             6
Fresh Produce          6
Yoga Mat               6
Non-Fiction            6
Action Figures         5
Dress                  5
Basketball             5
Smart Watch            5
Beverages              5
Tennis Racket          5
Educational            5
Fiction                4
Dumbbells              4
Bedding                4
Board Games            4
Coffee                 4
Gardening Tools        4
Kitchen Appliances     4
Jacket                 3
Laptop                 3
Dolls                  3
Puzzles                3
Building Blocks        3
Magazines              2
T-Shirt                1
Name: count, dtype: int64

In [ ]:
df.sample(5)

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
429,ORD202392074,2024-04-15,West,Online,Corporate,Electronics,Laptop,40,977.74,39109.60,15.32,28.58,25.99,5991.59,33118.01,8607.37,33146.59
30,ORD202456438,2024-03-09,North,Phone,Small Business,Books,Comics,32,35.94,1150.08,9.09,39.15,49.06,104.54,1045.54,512.94,1084.69
471,ORD202452762,2023-11-22,North,Online,Individual,Books,Educational,14,46.54,651.56,6.41,21.35,54.63,41.76,609.80,333.13,631.15
478,ORD202328322,2023-05-05,South,Online,Individual,Electronics,Laptop,16,941.18,15058.88,13.64,6.56,31.27,2054.03,13004.85,4066.62,13011.41
177,ORD202476039,2023-08-15,Central,Phone,Corporate,Toys,Action Figures,38,87.42,3321.96,11.43,28.12,34.47,379.70,2942.26,1014.20,2970.38

In [ ]:
online=df[df["sales_channel"]=="Online"]

In [ ]:
online

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
0,ORD202313278,2023-10-09,North,Online,Small Business,Clothing,Jeans,39,163.38,6371.82,19.49,19.92,35.50,1241.87,5129.95,1821.13,5149.87
1,ORD202387397,2024-03-08,South,Online,Individual,Electronics,Laptop,19,379.95,7219.05,8.34,8.57,26.48,602.07,6616.98,1752.18,6625.55
4,ORD202354118,2023-04-15,East,Online,Corporate,Electronics,Headphones,22,212.72,4679.84,13.12,15.00,15.58,614.00,4065.84,633.46,4080.84
7,ORD202316006,2024-11-08,South,Online,Individual,Clothing,Jacket,21,101.09,2122.89,23.56,19.08,30.40,500.15,1622.74,493.31,1641.82
8,ORD202446434,2024-04-09,East,Online,Corporate,Sports,Tennis Racket,9,34.31,308.79,6.03,22.08,32.62,18.62,290.17,94.65,312.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,ORD202484403,2024-07-31,West,Online,Small Business,Clothing,Dress,19,178.83,3397.77,12.63,29.18,54.11,429.14,2968.63,1606.33,2997.81
493,ORD202433010,2024-05-17,South,Online,Small Business,Electronics,Laptop,45,1971.40,88713.00,15.87,9.15,31.70,14078.75,74634.25,23659.06,74643.40
495,ORD202354663,2023-07-01,North,Online,Individual,Home & Garden,Decor,5,301.89,1509.45,17.98,27.26,34.13,271.40,1238.05,422.55,1265.31
496,ORD202324538,2024-06-22,East,Online,Small Business,Home & Garden,Decor,5,488.06,2440.30,7.41,27.96,29.75,180.83,2259.47,672.19,2287.43
498,ORD202493789,2024-05-13,Central,Online,Small Business,Sports,Tennis Racket,47,205.95,9679.65,6.36,25.48,34.28,615.63,9064.02,3107.15,9089.50

In [ ]:
online_jeans=online[online["product"]=="Jeans"]

In [ ]:
online_jeans

,order_id,date,region,sales_channel,customer_segment,category,product,quantity,unit_price,total_sales,discount_percent,shipping_cost,profit_margin,discount_amount,net_sales,profit,total_cost
0,ORD202313278,2023-10-09,North,Online,Small Business,Clothing,Jeans,39,163.38,6371.82,19.49,19.92,35.50,1241.87,5129.95,1821.13,5149.87
223,ORD202473736,2023-07-16,North,Online,Corporate,Clothing,Jeans,39,129.87,5064.93,9.92,28.85,58.48,502.44,4562.49,2668.14,4591.34
225,ORD202388282,2024-01-21,Central,Online,Individual,Clothing,Jeans,35,171.48,6001.80,23.88,8.87,55.39,1433.23,4568.57,2530.53,4577.44
244,ORD202472722,2024-10-08,West,Online,Individual,Clothing,Jeans,49,92.35,4525.15,15.69,26.84,44.40,710.00,3815.15,1693.93,3841.99
356,ORD202310836,2024-02-27,South,Online,Individual,Clothing,Jeans,34,49.94,1697.96,13.08,21.75,48.52,222.09,1475.87,716.09,1497.62
360,ORD202322624,2024-06-20,Central,Online,Small Business,Clothing,Jeans,7,73.15,512.05,4.63,27.94,53.80,23.71,488.34,262.73,516.28

df.to_csv('../Datasets/indian_college_cleaned_data.csv', index=False)

### saprating data region wise

In [ ]:
df["region"].unique()

array(['North', 'South', 'East', 'Central', 'West'], dtype=object)

In [ ]:
East_data=df[df["region"]=="East"]

In [ ]:
North_data=df[df["region"]=="North"]

In [ ]:
South_data=df[df["region"]=="South"]

In [ ]:
Central_data=df[df["region"]=="Central"]

In [ ]:
West_data=df[df["region"]=="West"]

In [ ]:
Dumbbells_data=east_data[east_data["product"]=="Dumbbells"]

In [ ]:
Dumbbells_data["total_sales"].sum()

np.float64(20066.12)