In [18]:
import pandas as pd

In [19]:
space=pd.read_csv("csv data files/space.csv")

In [20]:
space.shape

(3000, 12)

In [21]:
space.columns

Index(['Country', 'Year', 'Mission Name', 'Mission Type', 'Launch Site',
       'Satellite Type', 'Budget (in Billion $)', 'Success Rate (%)',
       'Technology Used', 'Environmental Impact', 'Collaborating Countries',
       'Duration (in Days)'],
      dtype='object')

In [22]:
bharat=space[space["Country"]== "India"] 
bharat

,Country,Year,Mission Name,Mission Type,Launch Site,Satellite Type,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,Weather,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277
7,India,2012,Innovative 6thgeneration algorithm,Unmanned,South William,Weather,6.62,69,Solar Propulsion,Low,"India, UK, China",25
15,India,2020,Enterprise-wide heuristic knowledge user,Unmanned,Rodriguezshire,Communication,25.79,61,Reusable Rocket,Low,"Israel, France",208
19,India,2020,Phased context-sensitive intranet,Unmanned,Popehaven,Research,35.59,50,Solar Propulsion,High,"Israel, Germany, USA",73
25,India,2004,Exclusive object-oriented adapter,Unmanned,Lake Susan,Research,6.38,73,AI Navigation,Low,UAE,169
...,...,...,...,...,...,...,...,...,...,...,...,...
2967,India,2000,Compatible optimal workforce,Unmanned,Derrickview,Communication,33.68,69,Reusable Rocket,Medium,Russia,64
2969,India,2007,Compatible 6thgeneration implementation,Unmanned,Matthewshire,Research,42.97,75,Solar Propulsion,Medium,"Germany, UAE",221
2973,India,2018,User-centric executive time-frame,Manned,Martinezbury,Navigation,45.29,59,Reusable Rocket,High,Japan,188
2982,India,2009,Re-contextualized systemic secured line,Manned,Lake Victorside,Research,26.58,100,AI Navigation,Medium,"UAE, USA, India",17
2997,India,2020,Face-to-face even-keeled matrix,Unmanned,Bellhaven,Weather,14.58,83,Reusable Rocket,Low,"Japan, Russia, France",3

In [23]:
bharat.shape

(294, 12)

In [24]:
putin_modi=bharat[bharat["Collaborating Countries"] == "Russia"]

In [25]:
putin_modi

,Country,Year,Mission Name,Mission Type,Launch Site,Satellite Type,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
1467,India,2025,Future-proofed system-worthy extranet,Manned,Lake Jamie,Research,49.28,67,Nuclear Propulsion,Medium,Russia,171
2097,India,2009,Total leadingedge orchestration,Unmanned,South Nicholas,Communication,49.75,90,Reusable Rocket,High,Russia,314
2266,India,2004,Expanded neutral strategy,Unmanned,South Olivia,Navigation,9.74,55,Solar Propulsion,Medium,Russia,94
2302,India,2018,Persevering well-modulated function,Unmanned,Perezview,Research,26.64,58,AI Navigation,Low,Russia,353
2473,India,2022,Adaptive tangible installation,Manned,North Tinaburgh,Navigation,3.81,82,Reusable Rocket,Medium,Russia,338
2532,India,2014,Synchronized disintermediate function,Manned,Villanuevaton,Spy,45.37,65,Nuclear Propulsion,Medium,Russia,289
2967,India,2000,Compatible optimal workforce,Unmanned,Derrickview,Communication,33.68,69,Reusable Rocket,Medium,Russia,64

In [26]:
putin_modi[putin_modi["Success Rate (%)"] > 50].shape

(7, 12)

In [27]:
space.isna()

,Country,Year,Mission Name,Mission Type,Launch Site,Satellite Type,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False,False,False,False

In [28]:
null=space.dropna()

In [29]:
null

,Country,Year,Mission Name,Mission Type,Launch Site,Satellite Type,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
0,China,2008,Sharable tertiary superstructure,Manned,Sheilatown,Communication,16.20,90,Nuclear Propulsion,Medium,"France, UK, Russia",112
1,Japan,2018,Re-engineered composite flexibility,Manned,New Ericfurt,Communication,29.04,99,Solar Propulsion,High,"Germany, Israel",236
2,Israel,2013,Reactive disintermediate projection,Manned,Port Kaitlynstad,Communication,28.73,54,AI Navigation,Medium,"China, Israel, USA",238
3,UAE,2010,Grass-roots 6thgeneration implementation,Unmanned,Mariastad,Spy,37.27,58,Traditional Rocket,Low,USA,186
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,Weather,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,China,2023,Synergistic scalable intranet,Manned,East Shawna,Spy,22.11,68,Traditional Rocket,Medium,Israel,338
2996,France,2009,Team-oriented value-added extranet,Manned,Douglasborough,Communication,47.72,96,Nuclear Propulsion,Medium,"Germany, Israel, UK",336
2997,India,2020,Face-to-face even-keeled matrix,Unmanned,Bellhaven,Weather,14.58,83,Reusable Rocket,Low,"Japan, Russia, France",3
2998,Russia,2002,Open-source secondary software,Manned,Deniseview,Weather,13.69,66,Solar Propulsion,Low,"UAE, India, France",339
2999,Japan,2014,Public-key cohesive artificial intelligence,Manned,Port Brittany,Navigation,20.51,95,Nuclear Propulsion,Medium,Israel,210

In [30]:
space["Budget (in Billion $)"].value_counts().max()

np.int64(5)

In [31]:
space["Budget (in Billion $)"].value_counts().idxmax()

np.float64(11.86)

In [32]:
space.head()

,Country,Year,Mission Name,Mission Type,Launch Site,Satellite Type,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
0,China,2008,Sharable tertiary superstructure,Manned,Sheilatown,Communication,16.20,90,Nuclear Propulsion,Medium,"France, UK, Russia",112
1,Japan,2018,Re-engineered composite flexibility,Manned,New Ericfurt,Communication,29.04,99,Solar Propulsion,High,"Germany, Israel",236
2,Israel,2013,Reactive disintermediate projection,Manned,Port Kaitlynstad,Communication,28.73,54,AI Navigation,Medium,"China, Israel, USA",238
3,UAE,2010,Grass-roots 6thgeneration implementation,Unmanned,Mariastad,Spy,37.27,58,Traditional Rocket,Low,USA,186
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,Weather,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277

In [ ]:
space.sort_values("Year", ascending=True)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [41]:
space["Year"].value_counts()

Year
2011    142
2009    129
2013    127
2002    126
2012    125
2022    124
2024    122
2001    121
2018    119
2014    118
2017    118
2021    116
2020    116
2006    116
2008    115
2000    114
2019    110
2010    109
2016    109
2023    108
2004    106
2003    106
2005    105
2015    103
2007     99
2025     97
Name: count, dtype: int64

In [42]:
space["Year"].unique()

array([2008, 2018, 2013, 2010, 2006, 2011, 2012, 2024, 2014, 2007, 2023,
       2002, 2020, 2017, 2019, 2003, 2015, 2022, 2004, 2025, 2009, 2016,
       2000, 2005, 2001, 2021])

In [43]:
space.drop("Satellite Type",axis=1)

,Country,Year,Mission Name,Mission Type,Launch Site,Budget (in Billion $),Success Rate (%),Technology Used,Environmental Impact,Collaborating Countries,Duration (in Days)
0,China,2008,Sharable tertiary superstructure,Manned,Sheilatown,16.20,90,Nuclear Propulsion,Medium,"France, UK, Russia",112
1,Japan,2018,Re-engineered composite flexibility,Manned,New Ericfurt,29.04,99,Solar Propulsion,High,"Germany, Israel",236
2,Israel,2013,Reactive disintermediate projection,Manned,Port Kaitlynstad,28.73,54,AI Navigation,Medium,"China, Israel, USA",238
3,UAE,2010,Grass-roots 6thgeneration implementation,Unmanned,Mariastad,37.27,58,Traditional Rocket,Low,USA,186
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277
...,...,...,...,...,...,...,...,...,...,...,...
2995,China,2023,Synergistic scalable intranet,Manned,East Shawna,22.11,68,Traditional Rocket,Medium,Israel,338
2996,France,2009,Team-oriented value-added extranet,Manned,Douglasborough,47.72,96,Nuclear Propulsion,Medium,"Germany, Israel, UK",336
2997,India,2020,Face-to-face even-keeled matrix,Unmanned,Bellhaven,14.58,83,Reusable Rocket,Low,"Japan, Russia, France",3
2998,Russia,2002,Open-source secondary software,Manned,Deniseview,13.69,66,Solar Propulsion,Low,"UAE, India, France",339
2999,Japan,2014,Public-key cohesive artificial intelligence,Manned,Port Brittany,20.51,95,Nuclear Propulsion,Medium,Israel,210